In [1385]:
from matplotlib.colors import LogNorm
import numpy as np
import pandas as pd
import os
import glob
from datetime import datetime
from datetime import timedelta
from matplotlib import pyplot as plt
import matplotlib.dates as md
import warnings
from scipy.interpolate import interp2d
warnings.filterwarnings('ignore')
#import datetime
import scipy.ndimage as ndimage
from matplotlib import cm
import geopy.distance
#import matplotlib as mpl

from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame
import leafmap
import plotly.express as px
from mpl_toolkits.basemap import Basemap

from matplotlib.collections import LineCollection
from matplotlib.colors import ListedColormap, BoundaryNorm
import pysplit as pys
import matplotlib.transforms as mtransforms

In [1386]:
def simple_read(path):
    with open(path) as f:
        first_line = f.readline()
        header_line = int(first_line[0:-2].split(",")[0])-1
        #all_lines = f.readlines()
    data = pd.read_csv(path, sep=',', skiprows=header_line)
    data.columns = [i.strip() for i in data.columns]
    #date = all_lines[5][0:10].split(',')
    #dt = datetime(int(date[0]), int(date[1]), int(date[2]))

    acc = 0
    boo = False
    for letter in path:
        if letter == '2':
            boo = True
        elif boo and letter == '0':
            acc -= 1
            break
        acc += 1
    #print(path[:acc+4], path[acc+4:acc+6], path[acc+6:acc+8])
    dt = datetime(int(path[acc:acc+4]), int(path[acc+4:acc+6]), int(path[acc+6:acc+8]))
    
    for column in data.keys():
        if 'Time' in column:
            data[column] = dt + pd.to_timedelta(data[column], unit='seconds')
    return data.replace(-999999, np.NaN)

In [1387]:
def add_sum(data, s):
    data = pd.merge_asof(data, s, left_index=True, right_index=True)
    return data

In [1388]:
LAS22 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220602_RA_L1_20230131T122324.ict')
start_index = np.where(LAS22["Time_Start"] == pd.to_datetime("2022-06-02 12:58:55"))
stop_index = np.where(LAS22["Time_Start"] == pd.to_datetime("2022-06-02 13:10:00"))


LAS22_subset = LAS22[start_index[0][0]:stop_index[0][0]]
LAS22_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
5981,2022-06-02 12:58:55,2022-06-02 12:58:56,115.705,293.02,55.75,6.81,240.32,331.92,375.49,508.39,...,0.00,17.30,17.32,25.96,0.0,0.00,10.39,0.00,0.0,1.103
5982,2022-06-02 12:58:56,2022-06-02 12:58:57,115.605,298.92,81.83,21.50,288.96,399.60,522.31,448.96,...,0.00,0.00,17.35,13.00,0.0,10.40,0.00,0.00,10.4,1.103
5983,2022-06-02 12:58:57,2022-06-02 12:58:58,114.775,281.59,78.28,14.64,239.79,430.79,312.07,536.89,...,25.87,0.00,17.27,0.00,0.0,20.71,20.72,0.00,0.0,1.104
5984,2022-06-02 12:58:58,2022-06-02 12:58:59,113.025,236.74,53.54,10.40,431.36,298.06,332.64,387.90,...,0.00,34.51,0.00,12.94,0.0,0.00,0.00,10.35,0.0,1.103
5985,2022-06-02 12:58:59,2022-06-02 12:59:00,110.485,232.14,30.10,1.36,262.30,164.74,434.09,267.06,...,0.00,0.00,17.19,0.00,0.0,0.00,0.00,0.00,0.0,1.103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6641,2022-06-02 13:09:55,2022-06-02 13:09:56,3810.860,213.92,14.12,0.42,986.18,1129.56,626.76,538.28,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1.589
6642,2022-06-02 13:09:56,2022-06-02 13:09:57,3811.410,163.86,10.53,0.32,792.83,730.67,625.60,447.97,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1.589
6643,2022-06-02 13:09:57,2022-06-02 13:09:58,3812.340,206.88,13.70,0.42,1273.67,963.25,479.53,507.70,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1.589
6644,2022-06-02 13:09:58,2022-06-02 13:09:59,3813.680,183.10,12.73,0.43,1130.71,698.68,543.42,209.43,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1.589
6645,2022-06-02 13:09:59,2022-06-02 13:10:00,3815.470,180.50,10.99,0.33,1224.82,897.26,542.25,268.85,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1.589

In [1389]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS22_subset.drop(columns=columns_to_remove, inplace=True)

In [1390]:
SMPS22 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220602_RA_L1_20230131T122818.ict')
start_index = np.where(SMPS22["Time_Start"]==pd.to_datetime("2022-06-02 13:48:00"))
stop_index = np.where(SMPS22["Time_Start"]==pd.to_datetime("2022-06-02 14:10:00"))
    
SMPS22_subset = SMPS22[start_index[0][0]:stop_index[0][0]]
SMPS22_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
8926,2022-06-02 13:48:00,2022-06-02 13:48:01,1896.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8927,2022-06-02 13:48:01,2022-06-02 13:48:02,1897.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8928,2022-06-02 13:48:02,2022-06-02 13:48:03,1898.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8929,2022-06-02 13:48:03,2022-06-02 13:48:04,1898.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8930,2022-06-02 13:48:04,2022-06-02 13:48:05,1899.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10241,2022-06-02 14:09:55,2022-06-02 14:09:56,2855.32,260.88,2.47,0.03,NaN,NaN,0.0,0.0,...,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65,1.439
10242,2022-06-02 14:09:56,2022-06-02 14:09:57,2861.28,260.88,2.47,0.03,NaN,NaN,0.0,0.0,...,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65,1.439
10243,2022-06-02 14:09:57,2022-06-02 14:09:58,2867.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10244,2022-06-02 14:09:58,2022-06-02 14:09:59,2872.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10245,2022-06-02 14:09:59,2022-06-02 14:10:00,2878.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1391]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS22_subset.drop(columns=columns_to_remove, inplace=True)

In [1392]:
data = add_sum(LAS22_subset, SMPS22_subset)

In [1393]:
list(data)

['Time_Start',
 'Time_Stop',
 'GPS_Altitude_THORNHILL',
 'LAS_Bin01_ZIEMBA',
 'LAS_Bin02_ZIEMBA',
 'LAS_Bin03_ZIEMBA',
 'LAS_Bin04_ZIEMBA',
 'LAS_Bin05_ZIEMBA',
 'LAS_Bin06_ZIEMBA',
 'LAS_Bin07_ZIEMBA',
 'LAS_Bin08_ZIEMBA',
 'LAS_Bin09_ZIEMBA',
 'LAS_Bin10_ZIEMBA',
 'LAS_Bin11_ZIEMBA',
 'LAS_Bin12_ZIEMBA',
 'LAS_Bin13_ZIEMBA',
 'LAS_Bin14_ZIEMBA',
 'LAS_Bin15_ZIEMBA',
 'LAS_Bin16_ZIEMBA',
 'LAS_Bin17_ZIEMBA',
 'LAS_Bin18_ZIEMBA',
 'LAS_Bin19_ZIEMBA',
 'LAS_Bin20_ZIEMBA',
 'LAS_Bin21_ZIEMBA',
 'LAS_Bin22_ZIEMBA',
 'LAS_Bin23_ZIEMBA',
 'LAS_Bin24_ZIEMBA',
 'LAS_Bin25_ZIEMBA',
 'LAS_Bin26_ZIEMBA',
 'SMPS_Bin01_ZIEMBA',
 'SMPS_Bin02_ZIEMBA',
 'SMPS_Bin03_ZIEMBA',
 'SMPS_Bin04_ZIEMBA',
 'SMPS_Bin05_ZIEMBA',
 'SMPS_Bin06_ZIEMBA',
 'SMPS_Bin07_ZIEMBA',
 'SMPS_Bin08_ZIEMBA',
 'SMPS_Bin09_ZIEMBA',
 'SMPS_Bin10_ZIEMBA',
 'SMPS_Bin11_ZIEMBA',
 'SMPS_Bin12_ZIEMBA',
 'SMPS_Bin13_ZIEMBA',
 'SMPS_Bin14_ZIEMBA',
 'SMPS_Bin15_ZIEMBA',
 'SMPS_Bin16_ZIEMBA',
 'SMPS_Bin17_ZIEMBA',
 'SMPS_Bin18_ZIEMBA',
 'SMPS_Bin19_ZIEMBA',
 'SMPS_Bin20_ZIEMBA',
 'SMPS_Bin21_ZIEMBA',
 'SMPS_Bin22_ZIEMBA',
 'SMPS_Bin23_ZIEMBA',
 'SMPS_Bin24_ZIEMBA',
 'SMPS_Bin25_ZIEMBA',
 'SMPS_Bin26_ZIEMBA',
 'SMPS_Bin27_ZIEMBA',
 'SMPS_Bin28_ZIEMBA',
 'SMPS_Bin29_ZIEMBA',
 'SMPS_Bin30_ZIEMBA']

In [1394]:
data

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
5981,2022-06-02 12:58:55,2022-06-02 12:58:56,115.705,240.32,331.92,375.49,508.39,688.44,907.78,950.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5982,2022-06-02 12:58:56,2022-06-02 12:58:57,115.605,288.96,399.60,522.31,448.96,574.00,705.26,1197.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5983,2022-06-02 12:58:57,2022-06-02 12:58:58,114.775,239.79,430.79,312.07,536.89,762.93,831.49,731.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5984,2022-06-02 12:58:58,2022-06-02 12:58:59,113.025,431.36,298.06,332.64,387.90,552.27,572.57,487.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5985,2022-06-02 12:58:59,2022-06-02 12:59:00,110.485,262.30,164.74,434.09,267.06,644.74,533.01,889.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6641,2022-06-02 13:09:55,2022-06-02 13:09:56,3810.860,986.18,1129.56,626.76,538.28,287.06,166.77,190.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6642,2022-06-02 13:09:56,2022-06-02 13:09:57,3811.410,792.83,730.67,625.60,447.97,210.04,185.15,81.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6643,2022-06-02 13:09:57,2022-06-02 13:09:58,3812.340,1273.67,963.25,479.53,507.70,248.35,259.15,81.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6644,2022-06-02 13:09:58,2022-06-02 13:09:59,3813.680,1130.71,698.68,543.42,209.43,440.02,185.35,163.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6645,2022-06-02 13:09:59,2022-06-02 13:10:00,3815.470,1224.82,897.26,542.25,268.85,228.84,92.57,135.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1395]:
#binning data into groups
nbins = 100
bins_1000 = np.linspace(data.GPS_Altitude_THORNHILL.min(), data.GPS_Altitude_THORNHILL.max(), nbins+1)
data['Bins'] = pd.cut(data['GPS_Altitude_THORNHILL'], bins_1000)
data_1000 = data.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_1000a = data_1000[start_index:stop_index]
DAY1000_subset_1000a

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(105.985, 143.17]",2022-06-02 12:59:00.500,2022-06-02 12:59:01.500,113.9000,251.310,266.525,322.825,357.485,534.465,628.300,732.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(143.17, 180.354]",2022-06-02 12:59:09.500,2022-06-02 12:59:10.500,160.4275,227.945,215.805,291.435,268.795,429.540,573.585,585.340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(180.354, 217.539]",2022-06-02 12:59:14.500,2022-06-02 12:59:15.500,199.8250,167.700,299.070,292.085,329.020,448.975,630.025,705.365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(217.539, 254.723]",2022-06-02 12:59:20.500,2022-06-02 12:59:21.500,234.4575,204.510,248.745,345.775,285.185,535.540,685.960,799.030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(254.723, 291.908]",2022-06-02 12:59:26.000,2022-06-02 12:59:27.000,276.6850,216.140,232.550,334.480,416.160,438.380,792.010,705.720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(291.908, 329.092]",2022-06-02 12:59:32.000,2022-06-02 12:59:33.000,304.7050,168.360,265.780,290.330,269.340,459.060,592.570,621.470,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(329.092, 366.277]",2022-06-02 12:59:37.000,2022-06-02 12:59:38.000,345.2250,216.640,199.710,271.880,358.980,497.670,593.400,870.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(366.277, 403.461]",2022-06-02 12:59:40.500,2022-06-02 12:59:41.500,383.8625,215.320,280.905,260.645,328.430,563.660,703.970,664.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(403.461, 440.646]",2022-06-02 12:59:45.500,2022-06-02 12:59:46.500,420.9575,179.675,232.285,302.175,328.590,468.330,657.300,718.195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(440.646, 477.83]",2022-06-02 12:59:51.000,2022-06-02 12:59:52.000,459.1450,239.900,298.490,270.820,417.440,574.920,499.340,679.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(477.83, 515.015]",2022-06-02 12:59:55.500,2022-06-02 12:59:56.500,498.1600,167.710,215.310,302.240,342.305,457.835,509.950,624.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(515.015, 552.2]",2022-06-02 13:00:00.000,2022-06-02 13:00:01.000,529.5100,168.410,199.830,313.350,299.650,400.500,445.340,650.080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(552.2, 589.384]",2022-06-02 13:00:04.500,2022-06-02 13:00:05.500,567.4175,180.140,332.185,250.265,388.580,305.055,685.080,679.040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(589.384, 626.569]",2022-06-02 13:00:09.000,2022-06-02 13:00:10.000,608.6200,168.320,199.670,312.120,298.670,421.180,518.080,651.050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(626.569, 663.753]",2022-06-02 13:00:14.000,2022-06-02 13:00:15.000,647.4300,192.910,199.410,292.000,448.360,363.900,520.050,706.340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(663.753, 700.938]",2022-06-02 13:00:19.000,2022-06-02 13:00:20.000,682.3350,168.380,166.540,332.840,299.270,478.240,445.050,650.950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(700.938, 738.122]",2022-06-02 13:00:23.000,2022-06-02 13:00:24.000,720.6250,215.780,265.880,250.080,239.290,457.470,519.040,570.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(738.122, 775.307]",2022-06-02 13:00:26.500,2022-06-02 13:00:27.500,754.5150,312.550,216.235,344.200,403.805,402.135,704.025,679.455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(775.307, 812.491]",2022-06-02 13:00:31.500,2022-06-02 13:00:32.500,793.3525,203.765,249.375,248.790,356.840,390.445,478.985,474.515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(812.491, 849.676]",2022-06-02 13:00:36.500,2022-06-02 13:00:37.500,832.9125,300.155,182.315,219.355,343.975,372.510,508.905,541.350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(849.676, 886.861]",2022-06-02 13:00:40.500,2022-06-02 13:00:41.500,870.2225,240.085,199.225,260.645,357.965,353.565,481.750,474.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(886.861, 924.045]",2022-06-02 13:00:44.500,2022-06-02 13:00:45.500,907.3525,228.215,282.515,229.700,254.425,391.370,435.485,584.540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(924.045, 961.23]",2022-06-02 13:00:49.500,2022-06-02 13:00:50.500,944.0275,168.275,183.070,219.180,313.230,362.960,453.495,488.115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1396]:
DAY1000_subset_1000a = DAY1000_subset_1000a.reset_index(drop=True)

In [1397]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_3000a = data_1000[start_index:stop_index]
DAY3000_subset_3000a

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(998.414, 1035.599]",2022-06-02 13:00:58.500,2022-06-02 13:00:59.500,1020.465,203.815,198.785,322.490,238.615,362.955,498.885,474.940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1035.599, 1072.783]",2022-06-02 13:01:03.000,2022-06-02 13:01:04.000,1057.400,216.480,232.960,269.150,328.970,458.460,516.820,485.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1072.783, 1109.968]",2022-06-02 13:01:08.000,2022-06-02 13:01:09.000,1089.620,215.860,231.820,229.970,418.960,362.300,426.930,353.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1109.968, 1147.152]",2022-06-02 13:01:13.000,2022-06-02 13:01:14.000,1128.500,215.800,232.520,250.460,238.680,285.960,332.590,379.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1147.152, 1184.337]",2022-06-02 13:01:17.500,2022-06-02 13:01:18.500,1167.055,180.270,249.175,250.975,254.255,296.760,371.115,366.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3266.672, 3303.856]",2022-06-02 13:06:03.500,2022-06-02 13:06:04.500,3284.205,661.360,449.255,396.495,284.805,287.310,176.080,149.595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3303.856, 3341.041]",2022-06-02 13:06:09.000,2022-06-02 13:06:10.000,3322.510,721.210,565.350,438.450,329.110,267.800,148.310,108.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3341.041, 3378.225]",2022-06-02 13:06:13.500,2022-06-02 13:06:14.500,3359.940,913.680,614.850,594.945,553.380,315.570,203.740,190.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3378.225, 3415.41]",2022-06-02 13:06:18.000,2022-06-02 13:06:19.000,3397.350,1203.030,731.270,731.390,568.900,439.180,240.520,190.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3415.41, 3452.594]",2022-06-02 13:06:24.000,2022-06-02 13:06:25.000,3436.490,1370.300,996.070,836.890,568.730,515.850,314.800,190.260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1398]:
DAY3000_subset_3000a = DAY3000_subset_3000a.reset_index(drop=True)

In [1399]:
DAY3000_subset_3000a

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-02 13:00:58.500,2022-06-02 13:00:59.500,1020.465,203.815,198.785,322.490,238.615,362.955,498.885,474.940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-02 13:01:03.000,2022-06-02 13:01:04.000,1057.400,216.480,232.960,269.150,328.970,458.460,516.820,485.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-02 13:01:08.000,2022-06-02 13:01:09.000,1089.620,215.860,231.820,229.970,418.960,362.300,426.930,353.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-02 13:01:13.000,2022-06-02 13:01:14.000,1128.500,215.800,232.520,250.460,238.680,285.960,332.590,379.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-02 13:01:17.500,2022-06-02 13:01:18.500,1167.055,180.270,249.175,250.975,254.255,296.760,371.115,366.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2022-06-02 13:06:03.500,2022-06-02 13:06:04.500,3284.205,661.360,449.255,396.495,284.805,287.310,176.080,149.595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2022-06-02 13:06:09.000,2022-06-02 13:06:10.000,3322.510,721.210,565.350,438.450,329.110,267.800,148.310,108.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2022-06-02 13:06:13.500,2022-06-02 13:06:14.500,3359.940,913.680,614.850,594.945,553.380,315.570,203.740,190.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2022-06-02 13:06:18.000,2022-06-02 13:06:19.000,3397.350,1203.030,731.270,731.390,568.900,439.180,240.520,190.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2022-06-02 13:06:24.000,2022-06-02 13:06:25.000,3436.490,1370.300,996.070,836.890,568.730,515.850,314.800,190.260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1400]:
'''nbins = 5
bins = np.linspace(DAY3000_subset_3000a.GPS_Altitude_THORNHILL.min(), DAY3000_subset_3000a.GPS_Altitude_THORNHILL.max(), nbins+1)
DAY3000_subset_3000a['Bins'] = pd.cut(DAY3000_subset_3000a['GPS_Altitude_THORNHILL'], bins)
DAY3000_subset_3000a_median = DAY3000_subset_3000a.groupby('Bins').median()
DAY3000_subset_3000a_median
DAY3000_subset_3000a_25 = DAY3000_subset_3000a_median - DAY3000_subset_3000a.groupby('Bins').quantile(.25)
DAY3000_subset_3000a_25
DAY3000_subset_3000a_75 = DAY3000_subset_3000a.groupby('Bins').quantile(.75) - DAY3000_subset_3000a_median
DAY3000_subset_3000a_75'''

"nbins = 5\nbins = np.linspace(DAY3000_subset_3000a.GPS_Altitude_THORNHILL.min(), DAY3000_subset_3000a.GPS_Altitude_THORNHILL.max(), nbins+1)\nDAY3000_subset_3000a['Bins'] = pd.cut(DAY3000_subset_3000a['GPS_Altitude_THORNHILL'], bins)\nDAY3000_subset_3000a_median = DAY3000_subset_3000a.groupby('Bins').median()\nDAY3000_subset_3000a_median\nDAY3000_subset_3000a_25 = DAY3000_subset_3000a_median - DAY3000_subset_3000a.groupby('Bins').quantile(.25)\nDAY3000_subset_3000a_25\nDAY3000_subset_3000a_75 = DAY3000_subset_3000a.groupby('Bins').quantile(.75) - DAY3000_subset_3000a_median\nDAY3000_subset_3000a_75"

In [1401]:
'''DAY3000_subset_3000a_median
    
value22a = []
uevalue = []
levalue = []

for key in DAY3000_subset_3000a_median.keys():
    if 'Bin' in key:
        value22a.append(DAY3000_subset_3000a_median[key].T)
        uevalue.append(DAY3000_subset_3000a_75[key].T)
        levalue.append(DAY3000_subset_3000a_25[key].T)
value22a = np.array(value22a)
uevalue = np.array(uevalue)
levalue = np.array(levalue)
value22a[value22a==0] = 1
uevalue[uevalue==0] = 1
levalue[levalue==0] = 1
    
LAS_mid = [100.0, 112.2, 125.9, 141.3, 158.5, 177.8, 199.5, 223.9, 251.2, 281.8, 316.2, 354.8, 398.1, 446.7, 501.2, 562.3, 631.0, 707.9, 794.3, 891.3, 1000.0, 1258.9, 1584.9, 1995.3, 2511.9, 3162.3]
SMPS_mid = [3.16, 3.55, 3.98, 4.47, 5.01, 5.62, 6.31, 7.08, 7.94, 8.91, 10.0, 11.2, 12.6, 14.1, 15.8, 17.8, 20.0, 22.4, 25.1, 28.2, 31.6, 35.5, 39.8, 44.7, 50.1, 56.2, 63.1, 70.8, 79.4, 89.1]
all_mid = LAS_mid + SMPS_mid'''

"DAY3000_subset_3000a_median\n    \nvalue22a = []\nuevalue = []\nlevalue = []\n\nfor key in DAY3000_subset_3000a_median.keys():\n    if 'Bin' in key:\n        value22a.append(DAY3000_subset_3000a_median[key].T)\n        uevalue.append(DAY3000_subset_3000a_75[key].T)\n        levalue.append(DAY3000_subset_3000a_25[key].T)\nvalue22a = np.array(value22a)\nuevalue = np.array(uevalue)\nlevalue = np.array(levalue)\nvalue22a[value22a==0] = 1\nuevalue[uevalue==0] = 1\nlevalue[levalue==0] = 1\n    \nLAS_mid = [100.0, 112.2, 125.9, 141.3, 158.5, 177.8, 199.5, 223.9, 251.2, 281.8, 316.2, 354.8, 398.1, 446.7, 501.2, 562.3, 631.0, 707.9, 794.3, 891.3, 1000.0, 1258.9, 1584.9, 1995.3, 2511.9, 3162.3]\nSMPS_mid = [3.16, 3.55, 3.98, 4.47, 5.01, 5.62, 6.31, 7.08, 7.94, 8.91, 10.0, 11.2, 12.6, 14.1, 15.8, 17.8, 20.0, 22.4, 25.1, 28.2, 31.6, 35.5, 39.8, 44.7, 50.1, 56.2, 63.1, 70.8, 79.4, 89.1]\nall_mid = LAS_mid + SMPS_mid"

In [1402]:
'''data_75

uevalue = []
for key in data_75.keys():
    if 'Bin' in key:
        uevalue.append(data_75[key].T)
uevalue = np.array(uevalue)
uevalue[uevalue==0] = 1


'''

"data_75\n\nuevalue = []\nfor key in data_75.keys():\n    if 'Bin' in key:\n        uevalue.append(data_75[key].T)\nuevalue = np.array(uevalue)\nuevalue[uevalue==0] = 1\n\n\n"

In [1403]:
'''data_25

levalue = []
for key in data_25.keys():
    if 'Bin' in key:
        levalue.append(data_25[key].T)
levalue = np.array(levalue)
levalue[levalue==0] = 1'''

"data_25\n\nlevalue = []\nfor key in data_25.keys():\n    if 'Bin' in key:\n        levalue.append(data_25[key].T)\nlevalue = np.array(levalue)\nlevalue[levalue==0] = 1"

In [1404]:
'''data_median
    
value22a = []

for key in data_median.keys():
    if 'Bin' in key:
        value22a.append(data_median[key].T)
value22a = np.array(value22a)
value22a[value22a==0] = 1'''

"data_median\n    \nvalue22a = []\n\nfor key in data_median.keys():\n    if 'Bin' in key:\n        value22a.append(data_median[key].T)\nvalue22a = np.array(value22a)\nvalue22a[value22a==0] = 1"

In [1405]:
'''data_median
    
value22a = []
uevalue = []
levalue = []

for key in data_median.keys():
    if 'Bin' in key:
        value22a.append(data_median[key].T)
        uevalue.append(data_75[key].T)
        levalue.append(data_25[key].T)
value22a = np.array(value22a)
uevalue = np.array(uevalue)
levalue = np.array(levalue)
value22a[value22a==0] = 1
#uevalue[uevalue==0] = 1
#levalue[levalue==0] = 1'''
    
LAS_mid = [100.0, 112.2, 125.9, 141.3, 158.5, 177.8, 199.5, 223.9, 251.2, 281.8, 316.2, 354.8, 398.1, 446.7, 501.2, 562.3, 631.0, 707.9, 794.3, 891.3, 1000.0, 1258.9, 1584.9, 1995.3, 2511.9, 3162.3]
SMPS_mid = [3.16, 3.55, 3.98, 4.47, 5.01, 5.62, 6.31, 7.08, 7.94, 8.91, 10.0, 11.2, 12.6, 14.1, 15.8, 17.8, 20.0, 22.4, 25.1, 28.2, 31.6, 35.5, 39.8, 44.7, 50.1, 56.2, 63.1, 70.8, 79.4, 89.1]
all_mid = LAS_mid + SMPS_mid

In [1406]:
all_mid

[100.0,
 112.2,
 125.9,
 141.3,
 158.5,
 177.8,
 199.5,
 223.9,
 251.2,
 281.8,
 316.2,
 354.8,
 398.1,
 446.7,
 501.2,
 562.3,
 631.0,
 707.9,
 794.3,
 891.3,
 1000.0,
 1258.9,
 1584.9,
 1995.3,
 2511.9,
 3162.3,
 3.16,
 3.55,
 3.98,
 4.47,
 5.01,
 5.62,
 6.31,
 7.08,
 7.94,
 8.91,
 10.0,
 11.2,
 12.6,
 14.1,
 15.8,
 17.8,
 20.0,
 22.4,
 25.1,
 28.2,
 31.6,
 35.5,
 39.8,
 44.7,
 50.1,
 56.2,
 63.1,
 70.8,
 79.4,
 89.1]

In [1407]:
len(all_mid)

56

In [1408]:
'''fig, ax = plt.subplots()
plt.rcParams['font.size'] = '10'
ax.errorbar(all_mid, value22a, xerr=[levalue, uevalue], marker='o', linestyle='-', capsize=4, alpha=.6, color="darkorange")
ax.set_ylabel('Altitude (m)', labelpad=11)
ax.set_xscale('log')
ax.legend(bbox_to_anchor=(1.15, 1), loc = 'right', fontsize='medium')

# Adjust the spacing between subplots
plt.subplots_adjust(wspace=0.3)
fig.text(0.02, 0.98, '06/02_12:58:13:10 UTC', ha='left', va='top', fontsize=10)
# Set the title
fig.suptitle('number concentration', fontsize=16)

plt.show()'''

'fig, ax = plt.subplots()\nplt.rcParams[\'font.size\'] = \'10\'\nax.errorbar(all_mid, value22a, xerr=[levalue, uevalue], marker=\'o\', linestyle=\'-\', capsize=4, alpha=.6, color="darkorange")\nax.set_ylabel(\'Altitude (m)\', labelpad=11)\nax.set_xscale(\'log\')\nax.legend(bbox_to_anchor=(1.15, 1), loc = \'right\', fontsize=\'medium\')\n\n# Adjust the spacing between subplots\nplt.subplots_adjust(wspace=0.3)\nfig.text(0.02, 0.98, \'06/02_12:58:13:10 UTC\', ha=\'left\', va=\'top\', fontsize=10)\n# Set the title\nfig.suptitle(\'number concentration\', fontsize=16)\n\nplt.show()'

In [1409]:
LAS = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220602_RA_L1_20230131T122324.ict')
start_index = np.where(LAS["Time_Start"]==pd.to_datetime("2022-06-02 13:48:00"))
stop_index = np.where(LAS["Time_Start"]==pd.to_datetime("2022-06-02 14:10:00"))
    
LAS_subset = LAS[start_index[0][0]:stop_index[0][0]]
LAS_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
8926,2022-06-02 13:48:00,2022-06-02 13:48:01,1896.68,125.18,16.58,1.07,360.53,232.87,208.88,299.46,...,0.00,0.00,34.65,0.00,0.0,0.0,0.0,0.0,0.0,1.301
8927,2022-06-02 13:48:01,2022-06-02 13:48:02,1897.28,105.98,13.16,0.63,144.19,332.14,208.62,89.50,...,25.94,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.301
8928,2022-06-02 13:48:02,2022-06-02 13:48:03,1898.01,108.47,11.92,0.69,408.32,232.86,229.87,149.47,...,0.00,0.00,0.00,12.97,0.0,0.0,0.0,0.0,0.0,1.301
8929,2022-06-02 13:48:03,2022-06-02 13:48:04,1898.83,127.25,14.64,0.71,504.51,232.03,208.89,239.23,...,0.00,17.29,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.302
8930,2022-06-02 13:48:04,2022-06-02 13:48:05,1899.75,133.17,12.27,0.41,384.68,332.31,292.10,268.94,...,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10241,2022-06-02 14:09:55,2022-06-02 14:09:56,2855.32,152.94,14.05,0.52,696.81,398.76,292.34,448.58,...,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.445
10242,2022-06-02 14:09:56,2022-06-02 14:09:57,2861.28,150.62,11.90,0.41,865.52,431.41,396.28,328.90,...,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.446
10243,2022-06-02 14:09:57,2022-06-02 14:09:58,2867.15,164.86,15.26,0.60,697.16,531.94,520.54,299.09,...,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.447
10244,2022-06-02 14:09:58,2022-06-02 14:09:59,2872.99,194.08,15.05,0.50,818.04,731.78,585.09,328.91,...,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.448
10245,2022-06-02 14:09:59,2022-06-02 14:10:00,2878.90,162.40,13.95,0.50,600.82,465.23,437.58,298.65,...,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.449

In [1410]:
SMPS = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220602_RA_L1_20230131T122818.ict')
start_index = np.where(SMPS["Time_Start"]==pd.to_datetime("2022-06-02 13:48:00"))
stop_index = np.where(SMPS["Time_Start"]==pd.to_datetime("2022-06-02 14:10:00"))
    
SMPS_subset = SMPS[start_index[0][0]:stop_index[0][0]]
SMPS_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
8926,2022-06-02 13:48:00,2022-06-02 13:48:01,1896.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8927,2022-06-02 13:48:01,2022-06-02 13:48:02,1897.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8928,2022-06-02 13:48:02,2022-06-02 13:48:03,1898.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8929,2022-06-02 13:48:03,2022-06-02 13:48:04,1898.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8930,2022-06-02 13:48:04,2022-06-02 13:48:05,1899.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10241,2022-06-02 14:09:55,2022-06-02 14:09:56,2855.32,260.88,2.47,0.03,NaN,NaN,0.0,0.0,...,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65,1.439
10242,2022-06-02 14:09:56,2022-06-02 14:09:57,2861.28,260.88,2.47,0.03,NaN,NaN,0.0,0.0,...,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65,1.439
10243,2022-06-02 14:09:57,2022-06-02 14:09:58,2867.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10244,2022-06-02 14:09:58,2022-06-02 14:09:59,2872.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10245,2022-06-02 14:09:59,2022-06-02 14:10:00,2878.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1411]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS_subset.drop(columns=columns_to_remove, inplace=True)

In [1412]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS_subset.drop(columns=columns_to_remove, inplace=True)

In [1413]:
data2 = add_sum(LAS_subset, SMPS_subset)

In [1414]:
#binning data2 into groups
nbins = 100
bins_1000 = np.linspace(data2.GPS_Altitude_THORNHILL.min(), data2.GPS_Altitude_THORNHILL.max(), nbins+1)
data2['Bins'] = pd.cut(data2['GPS_Altitude_THORNHILL'], bins_1000)
data2_1000 = data2.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data2_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data2_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_1000b = data2_1000[start_index:stop_index]
DAY1000_subset_1000b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(106.28, 134.006]",2022-06-02 13:58:08.000,2022-06-02 13:58:09.000,122.4800,240.250,264.340,334.080,386.740,515.690,664.090,705.970,...,301.950,347.570,211.570,155.410,416.910,216.160,512.730,257.670,217.650,292.380
"(134.006, 161.732]",2022-06-02 13:58:49.000,2022-06-02 13:58:50.000,149.2400,215.420,298.920,313.640,447.540,497.860,628.590,759.810,...,289.860,43.850,294.050,207.090,513.670,410.850,306.170,219.040,217.680,160.000
"(161.732, 189.459]",2022-06-02 13:59:02.000,2022-06-02 13:59:03.000,174.5650,216.140,265.030,313.360,359.000,478.620,630.780,733.300,...,289.860,43.850,294.050,207.090,513.670,410.850,306.170,219.040,217.680,160.000
"(189.459, 217.185]",2022-06-02 13:57:08.000,2022-06-02 13:57:09.000,202.3350,215.360,332.400,393.910,299.230,460.240,705.940,543.100,...,189.860,259.700,470.830,439.770,310.460,25.560,75.810,175.580,79.360,346.860
"(217.185, 244.911]",2022-06-02 13:57:01.500,2022-06-02 13:57:02.500,231.2250,192.270,265.305,312.590,343.205,505.860,657.250,813.300,...,189.860,259.700,470.830,439.770,310.460,25.560,75.810,175.580,79.360,346.860
"(244.911, 272.637]",2022-06-02 13:58:08.000,2022-06-02 13:58:09.000,260.1525,228.125,265.155,344.760,328.770,486.745,610.700,691.710,...,342.225,304.270,526.680,219.885,245.270,89.865,130.130,213.865,202.485,344.440
"(272.637, 300.363]",2022-06-02 13:59:28.000,2022-06-02 13:59:29.000,282.5850,238.870,297.150,271.100,417.620,437.850,647.880,706.040,...,189.860,259.700,470.830,439.770,310.460,25.560,75.810,175.580,79.360,346.860
"(300.363, 328.09]",2022-06-02 13:56:41.500,2022-06-02 13:56:42.500,312.9625,252.800,216.010,313.385,374.225,467.620,667.355,676.875,...,494.590,348.840,582.530,0.000,180.080,154.170,184.450,252.150,325.610,342.020
"(328.09, 355.816]",2022-06-02 13:56:33.500,2022-06-02 13:56:34.500,339.6750,204.285,282.855,322.940,403.050,486.945,573.520,745.395,...,494.590,348.840,582.530,0.000,180.080,154.170,184.450,252.150,325.610,342.020
"(355.816, 383.542]",2022-06-02 13:59:47.000,2022-06-02 13:59:48.000,369.0100,191.800,232.250,353.670,298.290,419.690,591.260,572.800,...,189.860,259.700,470.830,439.770,310.460,25.560,75.810,175.580,79.360,346.860
"(383.542, 411.268]",2022-06-02 13:59:51.000,2022-06-02 13:59:52.000,398.5400,264.340,233.440,334.030,359.980,439.410,684.530,814.330,...,189.860,259.700,470.830,439.770,310.460,25.560,75.810,175.580,79.360,346.860
"(411.268, 438.994]",2022-06-02 13:54:26.500,2022-06-02 13:54:27.500,434.4075,215.880,282.140,353.575,388.335,536.310,685.300,761.495,...,306.280,301.660,188.990,359.020,171.840,324.820,307.160,522.420,281.030,178.170
"(438.994, 466.721]",2022-06-02 13:55:26.500,2022-06-02 13:55:27.500,450.4925,216.910,265.815,333.685,417.995,543.680,684.215,757.950,...,306.280,246.450,188.990,214.980,434.700,154.170,304.980,299.390,325.610,342.020
"(466.721, 494.447]",2022-06-02 14:00:02.000,2022-06-02 14:00:03.000,479.8450,286.960,331.620,375.810,358.940,478.220,683.460,785.690,...,444.740,155.470,333.220,559.250,519.580,273.440,224.310,321.500,111.370,163.020
"(494.447, 522.173]",2022-06-02 14:00:13.000,2022-06-02 14:00:14.000,507.5800,239.190,232.900,332.940,447.940,591.360,739.930,843.880,...,203.520,216.200,248.430,76.880,177.600,232.000,108.350,181.400,254.260,297.130
"(522.173, 549.899]",2022-06-02 14:00:33.000,2022-06-02 14:00:34.000,541.1850,216.800,231.590,334.390,389.040,551.710,684.460,651.640,...,203.520,216.200,248.430,76.880,177.600,232.000,108.350,181.400,254.260,297.130
"(549.899, 577.625]",2022-06-02 13:56:51.000,2022-06-02 13:56:52.000,562.9250,204.385,265.895,208.840,298.530,524.325,589.525,702.225,...,157.120,235.670,245.515,258.270,189.365,222.170,150.005,180.420,268.885,299.835
"(577.625, 605.352]",2022-06-02 13:52:50.000,2022-06-02 13:52:51.000,594.4450,167.790,265.080,353.400,388.820,440.110,647.960,759.930,...,110.720,255.140,242.600,439.660,201.130,212.340,191.660,179.440,283.510,302.540
"(605.352, 633.078]",2022-06-02 14:00:55.500,2022-06-02 14:00:56.500,620.6225,204.030,281.970,374.455,403.280,535.190,684.135,746.750,...,110.720,255.140,242.600,439.660,201.130,212.340,191.660,179.440,283.510,302.540
"(633.078, 660.804]",2022-06-02 14:01:01.500,2022-06-02 14:01:02.500,648.8675,179.945,265.990,364.940,433.175,496.935,630.815,663.660,...,110.720,255.140,242.600,439.660,201.130,212.340,191.660,179.440,283.510,302.540
"(660.804, 688.53]",2022-06-02 14:01:09.500,2022-06-02 14:01:10.500,676.4950,299.835,265.920,281.280,403.150,571.075,685.830,692.320,...,108.135,289.175,221.975,281.500,225.350,260.805,250.910,181.225,347.965,379.275
"(688.53, 716.256]",2022-06-02 14:01:18.500,2022-06-02 14:01:19.500,697.6775,227.775,266.390,292.020,403.140,620.555,666.960,692.805,...,105.550,323.210,201.350,123.340,249.570,309.270,310.160,183.010,412.420,456.010
"(716.256, 743.983]",2022-06-02 14:01:28.000,2022-06-02 14:01:29.000,731.8850,262.610,331.750,374.930,419.210,556.110,724.660,705.740,...,105.550,323.210,201.350,123.340,249.570,309.270,310.160,183.010,412.420,456.010
"(743.983, 771.709]",2022-06-02 14:01:36.000,2022-06-02 14:01:37.000,755.4400,264.640,265.980,312.450,418.170,495.920,645.730,706.950,...,105.550,323.210,201.350,123.340,249.570,309.270,310.160,183.010,412.420,456.010
"(771.709, 799.435]",2022-06-02 14:01:44.000,2022-06-02 14:01:45.000,785.2050,288.570,299.080,395.250,360.070,535.170,594.390,626.340,...,105.550,323.210,201.350,123.340,249.570,309.270,310.160,183.010,412.420,456.010
"(799.435, 827.161]",2022-06-02 14:01:49.500,2022-06-02 14:01:50.500,814.0550,276.010,282.240,374.835,417.930,458.155,600.240,677.955,...,105.550,323.210,201.350,123.340,249.570,309.270,310.160,183.010,412.420,456.010
"(827.161, 854.887]",2022-06-02 14:01:55.000,2022-06-02 14:01:56.000,842.0900,239.260,232.040,290.330,386.990,476.600,592.790,679.040,...,110.720,255.140,242.600,439.660,201.130,212.340,191.660,179.440,283.510,302.540
"(854.887, 882.614]",2022-06-02 14:01:59.000,2022-06-02 14:02:00.000,869.7250,263.890,233.040,313.380,418.310,382.030,517.490,569.010,...,110.720,255.140,242.600,439.660,201.130,212.340,191.660,179.440,283.510,302.540
"(882.614, 910.34]",2022-06-02 14:02:03.000,2022-06-02 14:02:04.000,899.7700,263.480,266.410,355.770,419.320,440.560,535.380,541.390,...,110.720,255.140,242.600,439.660,201.130,212.340,191.660,179.440,283.510,302.540
"(910.34, 938.066]",2022-06-02 13:57:08.500,2022-06-02 13:57:09.500,924.2725,263.620,330.790,375.155,299.225,439.210,470.635,516.120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(938.066, 965.792]",2022-06-02 14:02:09.500,2022-06-02 14:02:10.500,952.3175,288.740,347.985,333.250,344.250,468.495,628.795,584.375,...,322.730,287.990,462.570,269.280,273.730,125.890,296.450,287.680,172.020,391.840

In [1415]:
DAY1000_subset_1000b = DAY1000_subset_1000b.reset_index(drop=True)

In [1416]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data2_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data2_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_3000b = data2_1000[start_index:stop_index]
DAY3000_subset_3000b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(993.518, 1021.245]",2022-06-02 14:02:19.500,2022-06-02 14:02:20.500,1005.710,276.810,265.660,335.030,373.770,478.755,529.455,597.820,...,322.73,287.99,462.57,269.28,273.73,125.89,296.45,287.68,172.02,391.84
"(1021.245, 1048.971]",2022-06-02 14:02:24.500,2022-06-02 14:02:25.500,1036.645,263.660,349.295,312.755,373.590,419.405,600.435,582.760,...,322.73,287.99,462.57,269.28,273.73,125.89,296.45,287.68,172.02,391.84
"(1048.971, 1076.697]",2022-06-02 14:02:31.500,2022-06-02 14:02:32.500,1060.535,263.960,315.845,354.480,388.695,487.510,536.855,582.795,...,322.73,287.99,462.57,269.28,273.73,125.89,296.45,287.68,172.02,391.84
"(1076.697, 1104.423]",2022-06-02 14:02:37.500,2022-06-02 14:02:38.500,1089.530,275.645,314.090,302.105,372.595,438.710,535.025,475.350,...,322.73,287.99,462.57,269.28,273.73,125.89,296.45,287.68,172.02,391.84
"(1104.423, 1132.149]",2022-06-02 14:02:43.000,2022-06-02 14:02:44.000,1119.480,240.420,266.050,313.700,358.750,420.340,444.970,407.530,...,322.73,287.99,462.57,269.28,273.73,125.89,296.45,287.68,172.02,391.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2712.543, 2740.269]",2022-06-02 14:09:22.000,2022-06-02 14:09:23.000,2729.930,793.910,632.340,605.470,478.350,344.090,333.390,325.320,...,401.49,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65
"(2740.269, 2767.995]",2022-06-02 14:09:30.500,2022-06-02 14:09:31.500,2751.515,565.200,498.190,500.740,298.840,411.070,305.355,149.275,...,401.49,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65
"(2767.995, 2795.721]",2022-06-02 14:09:38.000,2022-06-02 14:09:39.000,2784.750,624.470,499.640,459.790,358.570,363.310,278.420,217.120,...,401.49,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65
"(2795.721, 2823.448]",2022-06-02 14:09:46.000,2022-06-02 14:09:47.000,2805.610,721.110,664.970,437.750,329.320,344.480,241.160,244.490,...,401.49,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65
"(2823.448, 2851.174]",2022-06-02 14:09:52.000,2022-06-02 14:09:53.000,2837.280,697.360,598.340,437.850,358.170,325.190,352.070,216.960,...,401.49,492.73,104.88,724.82,578.55,373.19,500.37,416.87,390.16,445.65

In [1417]:
LAS2b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220602_RA_L2_20230131T122324.ict')
start_index = np.where(LAS2b["Time_Start"]==pd.to_datetime("2022-06-02 18:36:00"))
stop_index = np.where(LAS2b["Time_Start"]==pd.to_datetime("2022-06-02 18:53:00"))
    
LAS2b_subset = LAS2b[start_index[0][0]:stop_index[0][0]]
LAS2b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
9180,2022-06-02 18:36:00,2022-06-02 18:36:01,191.225,220.35,28.35,1.19,119.93,166.08,375.02,358.28,...,0.0,17.27,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.110
9181,2022-06-02 18:36:01,2022-06-02 18:36:02,193.480,248.28,35.68,1.86,215.95,232.26,250.41,477.42,...,0.0,0.00,17.29,12.96,0.00,0.00,0.0,0.0,0.00,1.110
9182,2022-06-02 18:36:02,2022-06-02 18:36:03,195.600,245.18,65.75,18.65,337.39,166.13,460.06,419.15,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,10.41,1.110
9183,2022-06-02 18:36:03,2022-06-02 18:36:04,197.010,269.44,51.18,5.11,167.38,264.14,415.64,327.20,...,25.8,0.00,0.00,12.92,10.33,10.33,0.0,0.0,0.00,1.111
9184,2022-06-02 18:36:04,2022-06-02 18:36:05,197.440,255.98,32.04,1.20,96.52,400.72,356.44,390.39,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,2022-06-02 18:52:55,2022-06-02 18:52:56,3678.610,290.88,14.77,0.38,2140.67,1429.70,941.74,658.44,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.571
10196,2022-06-02 18:52:56,2022-06-02 18:52:57,3684.900,287.82,16.20,0.46,2044.58,1329.33,981.41,508.76,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.572
10197,2022-06-02 18:52:57,2022-06-02 18:52:58,3691.340,299.42,16.67,0.46,1969.50,1560.97,834.51,567.92,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.574
10198,2022-06-02 18:52:58,2022-06-02 18:52:59,3697.790,306.24,16.67,0.44,1875.74,1694.55,982.46,627.50,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.576
10199,2022-06-02 18:52:59,2022-06-02 18:53:00,3704.160,306.65,15.27,0.36,2352.64,1526.98,855.70,477.24,...,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.577

In [1418]:
SMPS2b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220602_RA_L2_20230131T122818.ict')
start_index = np.where(SMPS2b["Time_Start"]==pd.to_datetime("2022-06-02 18:36:00"))
stop_index = np.where(SMPS2b["Time_Start"]==pd.to_datetime("2022-06-02 18:53:00"))
    
SMPS2b_subset = SMPS2b[start_index[0][0]:stop_index[0][0]]
SMPS2b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
9180,2022-06-02 18:36:00,2022-06-02 18:36:01,191.225,342.66,3.17,0.03,0.0,0.0,0.0,0.0,...,442.45,836.26,728.92,603.14,659.68,799.43,334.17,797.47,291.89,1.113
9181,2022-06-02 18:36:01,2022-06-02 18:36:02,193.480,342.66,3.17,0.03,0.0,0.0,0.0,0.0,...,442.45,836.26,728.92,603.14,659.68,799.43,334.17,797.47,291.89,1.113
9182,2022-06-02 18:36:02,2022-06-02 18:36:03,195.600,342.66,3.17,0.03,0.0,0.0,0.0,0.0,...,442.45,836.26,728.92,603.14,659.68,799.43,334.17,797.47,291.89,1.113
9183,2022-06-02 18:36:03,2022-06-02 18:36:04,197.010,342.66,3.17,0.03,0.0,0.0,0.0,0.0,...,442.45,836.26,728.92,603.14,659.68,799.43,334.17,797.47,291.89,1.113
9184,2022-06-02 18:36:04,2022-06-02 18:36:05,197.440,342.66,3.17,0.03,0.0,0.0,0.0,0.0,...,442.45,836.26,728.92,603.14,659.68,799.43,334.17,797.47,291.89,1.113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,2022-06-02 18:52:55,2022-06-02 18:52:56,3678.610,1590.40,7.05,0.07,NaN,NaN,0.0,0.0,...,930.60,1062.13,2239.70,1562.11,1466.99,1065.20,1175.79,941.18,723.94,1.567
10196,2022-06-02 18:52:56,2022-06-02 18:52:57,3684.900,1590.40,7.05,0.07,NaN,NaN,0.0,0.0,...,930.60,1062.13,2239.70,1562.11,1466.99,1065.20,1175.79,941.18,723.94,1.567
10197,2022-06-02 18:52:57,2022-06-02 18:52:58,3691.340,1590.40,7.05,0.07,NaN,NaN,0.0,0.0,...,930.60,1062.13,2239.70,1562.11,1466.99,1065.20,1175.79,941.18,723.94,1.567
10198,2022-06-02 18:52:58,2022-06-02 18:52:59,3697.790,1590.40,7.05,0.07,NaN,NaN,0.0,0.0,...,930.60,1062.13,2239.70,1562.11,1466.99,1065.20,1175.79,941.18,723.94,1.567
10199,2022-06-02 18:52:59,2022-06-02 18:53:00,3704.160,1590.40,7.05,0.07,NaN,NaN,0.0,0.0,...,930.60,1062.13,2239.70,1562.11,1466.99,1065.20,1175.79,941.18,723.94,1.567

In [1419]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS2b_subset.drop(columns=columns_to_remove, inplace=True)

In [1420]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS2b_subset.drop(columns=columns_to_remove, inplace=True)

In [1421]:
data2b = add_sum(LAS2b_subset, SMPS2b_subset)

In [1422]:
#binning data2b into groups
nbins = 100
bins_1000 = np.linspace(data2b.GPS_Altitude_THORNHILL.min(), data2b.GPS_Altitude_THORNHILL.max(), nbins+1)
data2b['Bins'] = pd.cut(data2b['GPS_Altitude_THORNHILL'], bins_1000)
data2b_1000 = data2b.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data2b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data2b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_10002b = data2b_1000[start_index:stop_index]
DAY1000_subset_10002b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(132.5, 168.217]",2022-06-02 18:36:33.500,2022-06-02 18:36:34.500,151.3675,216.650,265.895,314.440,328.465,496.290,613.220,719.120,...,362.25,792.91,775.32,813.69,798.69,566.21,441.46,422.50,275.32,159.79
"(168.217, 203.933]",2022-06-02 18:36:12.000,2022-06-02 18:36:13.000,186.7200,216.510,298.180,292.090,419.150,532.820,685.490,813.460,...,476.51,442.45,836.26,728.92,603.14,659.68,799.43,334.17,797.47,291.89
"(203.933, 239.65]",2022-06-02 18:37:02.000,2022-06-02 18:37:03.000,214.3750,169.160,265.700,313.860,240.150,421.450,609.650,762.410,...,362.25,792.91,775.32,813.69,798.69,566.21,441.46,422.50,275.32,159.79
"(239.65, 275.366]",2022-06-02 18:37:13.000,2022-06-02 18:37:14.000,260.1500,240.140,166.630,228.200,359.180,421.280,663.300,789.510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(275.366, 311.083]",2022-06-02 18:37:24.000,2022-06-02 18:37:25.000,289.4500,239.290,199.490,271.690,359.580,457.420,593.300,680.040,...,512.71,261.62,207.39,332.68,288.02,268.06,211.44,335.30,236.66,371.08
"(311.083, 346.8]",2022-06-02 18:37:38.000,2022-06-02 18:37:39.000,332.1600,215.390,266.060,312.400,358.300,400.860,609.980,621.800,...,512.71,261.62,207.39,332.68,288.02,268.06,211.44,335.30,236.66,371.08
"(346.8, 382.516]",2022-06-02 18:37:53.000,2022-06-02 18:37:54.000,362.9050,263.870,300.030,291.430,298.020,438.520,554.440,596.220,...,512.71,261.62,207.39,332.68,288.02,268.06,211.44,335.30,236.66,371.08
"(382.516, 418.233]",2022-06-02 18:38:07.000,2022-06-02 18:38:08.000,399.5450,191.930,231.690,312.310,358.460,457.690,498.810,516.940,...,512.71,261.62,207.39,332.68,288.02,268.06,211.44,335.30,236.66,371.08
"(418.233, 453.949]",2022-06-02 18:38:19.000,2022-06-02 18:38:20.000,432.9000,216.240,198.630,312.090,298.720,420.150,480.310,542.660,...,330.91,356.75,283.23,189.36,425.54,476.31,227.63,120.31,230.66,307.69
"(453.949, 489.666]",2022-06-02 18:38:28.500,2022-06-02 18:38:29.500,470.6400,144.210,199.120,312.105,299.205,458.560,620.975,678.775,...,330.91,356.75,283.23,189.36,425.54,476.31,227.63,120.31,230.66,307.69
"(489.666, 525.383]",2022-06-02 18:38:42.000,2022-06-02 18:38:43.000,506.9400,263.860,265.140,312.000,417.780,478.170,628.200,677.700,...,330.91,356.75,283.23,189.36,425.54,476.31,227.63,120.31,230.66,307.69
"(525.383, 561.099]",2022-06-02 18:38:58.000,2022-06-02 18:38:59.000,548.5000,216.490,264.640,313.250,358.600,478.920,556.660,597.890,...,330.91,356.75,283.23,189.36,425.54,476.31,227.63,120.31,230.66,307.69
"(561.099, 596.816]",2022-06-02 18:39:09.500,2022-06-02 18:39:10.500,576.5325,180.025,232.485,292.105,269.545,429.530,574.455,597.100,...,330.91,356.75,283.23,189.36,425.54,476.31,227.63,120.31,230.66,307.69
"(596.816, 632.532]",2022-06-02 18:39:21.000,2022-06-02 18:39:22.000,615.4450,215.550,232.600,311.460,327.820,401.660,554.600,595.840,...,294.41,138.08,369.38,557.10,102.41,0.00,125.40,62.06,176.51,302.03
"(632.532, 668.249]",2022-06-02 18:39:32.500,2022-06-02 18:39:33.500,649.9325,192.405,232.230,302.205,343.680,429.200,574.445,542.635,...,294.41,138.08,369.38,557.10,102.41,0.00,125.40,62.06,176.51,302.03
"(668.249, 703.966]",2022-06-02 18:39:44.000,2022-06-02 18:39:45.000,686.1600,192.380,265.110,292.520,328.840,400.390,479.420,597.490,...,294.41,138.08,369.38,557.10,102.41,0.00,125.40,62.06,176.51,302.03
"(703.966, 739.682]",2022-06-02 18:39:55.000,2022-06-02 18:39:56.000,723.7650,192.090,266.540,209.020,328.450,419.130,573.700,516.420,...,294.41,138.08,369.38,557.10,102.41,0.00,125.40,62.06,176.51,302.03
"(739.682, 775.399]",2022-06-02 18:40:06.500,2022-06-02 18:40:07.500,752.1050,264.280,265.295,312.020,373.200,457.455,471.410,529.360,...,294.41,138.08,369.38,557.10,102.41,0.00,125.40,62.06,176.51,302.03
"(775.399, 811.115]",2022-06-02 18:40:19.500,2022-06-02 18:40:20.500,796.8525,264.005,265.645,312.845,388.880,439.925,526.135,597.735,...,102.60,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
"(811.115, 846.832]",2022-06-02 18:40:31.000,2022-06-02 18:40:32.000,826.1250,264.640,265.190,312.080,358.860,478.160,463.910,516.510,...,102.60,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
"(846.832, 882.549]",2022-06-02 18:40:41.000,2022-06-02 18:40:42.000,866.0400,240.170,232.750,291.290,387.550,383.130,575.430,516.570,...,102.60,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
"(882.549, 918.265]",2022-06-02 18:40:50.500,2022-06-02 18:40:51.500,900.6175,192.125,233.400,323.160,313.625,449.655,434.125,502.765,...,102.60,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
"(918.265, 953.982]",2022-06-02 18:41:01.500,2022-06-02 18:41:02.500,940.4200,240.295,298.460,344.095,329.550,458.850,573.730,569.355,...,102.60,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81

In [1423]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data2b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data2b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_30002b = data2b_1000[start_index:stop_index]
DAY3000_subset_30002b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(989.698, 1025.415]",2022-06-02 18:41:23.000,2022-06-02 18:41:24.000,1010.300,312.540,232.280,291.190,329.340,400.290,535.710,515.250,...,334.16,368.32,521.46,399.78,401.48,253.63,361.03,219.08,430.2,297.60
"(1025.415, 1061.132]",2022-06-02 18:41:31.500,2022-06-02 18:41:32.500,1046.060,263.865,265.235,354.840,299.235,400.700,481.085,407.115,...,334.16,368.32,521.46,399.78,401.48,253.63,361.03,219.08,430.2,297.60
"(1061.132, 1096.848]",2022-06-02 18:41:40.500,2022-06-02 18:41:41.500,1080.155,300.125,298.655,303.120,343.975,343.700,416.675,503.170,...,334.16,368.32,521.46,399.78,401.48,253.63,361.03,219.08,430.2,297.60
"(1096.848, 1132.565]",2022-06-02 18:41:52.500,2022-06-02 18:41:53.500,1111.995,239.695,232.255,291.385,283.865,372.425,462.880,487.385,...,334.16,368.32,521.46,399.78,401.48,253.63,361.03,219.08,430.2,297.60
"(1132.565, 1168.281]",2022-06-02 18:42:04.500,2022-06-02 18:42:05.500,1150.090,275.925,347.850,271.685,344.195,344.020,462.470,393.650,...,334.16,368.32,521.46,399.78,401.48,253.63,361.03,219.08,430.2,297.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3275.561, 3311.277]",2022-06-02 18:51:48.500,2022-06-02 18:51:49.500,3293.650,1033.785,647.165,511.985,253.800,210.210,83.280,54.295,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
"(3311.277, 3346.994]",2022-06-02 18:51:54.000,2022-06-02 18:51:55.000,3329.670,1273.420,697.470,585.300,239.350,191.420,92.630,81.560,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
"(3346.994, 3382.711]",2022-06-02 18:51:59.000,2022-06-02 18:52:00.000,3366.390,1488.890,864.390,626.490,358.650,248.820,111.010,54.340,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
"(3382.711, 3418.427]",2022-06-02 18:52:04.500,2022-06-02 18:52:05.500,3406.315,1574.785,1147.670,710.305,433.920,267.730,92.615,81.475,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
"(3418.427, 3454.144]",2022-06-02 18:52:12.000,2022-06-02 18:52:13.000,3433.390,1706.240,1095.820,814.390,448.370,305.400,129.640,54.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1424]:
DAY1000_subset_10002b = DAY1000_subset_10002b.reset_index(drop=True)
DAY3000_subset_30002b = DAY3000_subset_30002b.reset_index(drop=True)

In [1425]:
LAS7 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220607_RA_L1_20230131T122325.ict')
start_index = np.where(LAS7["Time_Start"]==pd.to_datetime("2022-06-07 14:32:00"))
stop_index = np.where(LAS7["Time_Start"]==pd.to_datetime("2022-06-07 14:47:00"))
    
LAS7_subset = LAS7[start_index[0][0]:stop_index[0][0]]
LAS7_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10397,2022-06-07 14:32:00,2022-06-07 14:32:01,127.595,665.22,51.40,1.67,2279.85,2224.35,2480.28,1373.68,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.088
10398,2022-06-07 14:32:01,2022-06-07 14:32:02,126.585,705.23,58.10,2.47,2544.73,2488.52,2312.98,1941.12,...,0.00,0.00,34.57,0.00,0.00,0.00,0.00,0.0,0.0,1.088
10399,2022-06-07 14:32:02,2022-06-07 14:32:03,125.870,680.19,87.40,11.73,2046.82,2496.76,1902.85,2126.88,...,77.97,17.33,17.34,13.01,0.00,0.00,20.81,0.0,0.0,1.088
10400,2022-06-07 14:32:03,2022-06-07 14:32:04,125.955,604.75,68.55,8.24,2024.90,2132.99,1905.74,1768.90,...,0.00,0.00,17.37,0.00,0.00,10.41,10.42,0.0,0.0,1.088
10401,2022-06-07 14:32:04,2022-06-07 14:32:05,126.990,602.24,64.47,5.38,1725.31,2020.77,1746.92,1610.05,...,25.89,17.25,17.26,0.00,10.35,10.35,0.00,0.0,0.0,1.087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11292,2022-06-07 14:46:55,2022-06-07 14:46:56,2800.660,198.96,10.79,0.27,1248.75,962.58,626.07,477.55,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.431
11293,2022-06-07 14:46:56,2022-06-07 14:46:57,2805.770,206.00,11.95,0.31,1154.89,965.32,689.43,538.90,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.432
11294,2022-06-07 14:46:57,2022-06-07 14:46:58,2810.920,239.42,13.36,0.35,1923.92,764.03,670.17,537.95,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.433
11295,2022-06-07 14:46:58,2022-06-07 14:46:59,2816.140,196.67,10.42,0.26,1273.93,830.54,876.47,418.17,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.434
11296,2022-06-07 14:46:59,2022-06-07 14:47:00,2821.430,260.84,23.78,2.58,1635.75,897.98,897.97,538.97,...,0.00,0.00,0.00,0.00,0.00,10.39,0.00,0.0,0.0,1.434

In [1426]:
SMPS7 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220607_RA_L1_20230131T122819.ict')
start_index = np.where(SMPS7["Time_Start"]==pd.to_datetime("2022-06-07 14:32:00"))
stop_index = np.where(SMPS7["Time_Start"]==pd.to_datetime("2022-06-07 14:47:00"))
    
SMPS7_subset = SMPS7[start_index[0][0]:stop_index[0][0]]
SMPS7_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10397,2022-06-07 14:32:00,2022-06-07 14:32:01,127.595,835.74,9.46,0.11,0.0,0.0,0.0,0.0,...,1054.51,1371.55,1616.39,1793.3,1074.02,1993.01,1998.35,1970.72,1742.82,1.089
10398,2022-06-07 14:32:01,2022-06-07 14:32:02,126.585,835.74,9.46,0.11,0.0,0.0,0.0,0.0,...,1054.51,1371.55,1616.39,1793.3,1074.02,1993.01,1998.35,1970.72,1742.82,1.089
10399,2022-06-07 14:32:02,2022-06-07 14:32:03,125.870,835.74,9.46,0.11,0.0,0.0,0.0,0.0,...,1054.51,1371.55,1616.39,1793.3,1074.02,1993.01,1998.35,1970.72,1742.82,1.089
10400,2022-06-07 14:32:03,2022-06-07 14:32:04,125.955,835.74,9.46,0.11,0.0,0.0,0.0,0.0,...,1054.51,1371.55,1616.39,1793.3,1074.02,1993.01,1998.35,1970.72,1742.82,1.089
10401,2022-06-07 14:32:04,2022-06-07 14:32:05,126.990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11292,2022-06-07 14:46:55,2022-06-07 14:46:56,2800.660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426
11293,2022-06-07 14:46:56,2022-06-07 14:46:57,2805.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426
11294,2022-06-07 14:46:57,2022-06-07 14:46:58,2810.920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426
11295,2022-06-07 14:46:58,2022-06-07 14:46:59,2816.140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426
11296,2022-06-07 14:46:59,2022-06-07 14:47:00,2821.430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426

In [1427]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS7_subset.drop(columns=columns_to_remove, inplace=True)
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS7_subset.drop(columns=columns_to_remove, inplace=True)

In [1428]:
data7 = add_sum(LAS7_subset, SMPS7_subset)

In [1429]:
#binning data7 into groups
nbins = 100
bins_1000 = np.linspace(data7.GPS_Altitude_THORNHILL.min(), data7.GPS_Altitude_THORNHILL.max(), nbins+1)
data7['Bins'] = pd.cut(data7['GPS_Altitude_THORNHILL'], bins_1000)
data7_1000 = data7.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data7_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data7_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_10007 = data7_1000[start_index:stop_index]
DAY1000_subset_10007

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(125.87, 152.826]",2022-06-07 14:32:05.500,2022-06-07 14:32:06.500,130.6300,2032.270,2075.820,1973.565,1659.225,1592.380,1063.325,694.175,...,536.42,1054.51,1371.55,1616.39,1793.30,1074.02,1993.01,1998.35,1970.72,1742.82
"(152.826, 179.781]",2022-06-07 14:32:14.000,2022-06-07 14:32:15.000,172.0250,2350.470,2165.020,2186.610,1768.040,1662.370,1203.370,758.770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(179.781, 206.737]",2022-06-07 14:32:27.500,2022-06-07 14:32:28.500,188.3900,2292.240,2206.645,2116.335,1849.310,1577.410,1138.130,760.205,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
"(206.737, 233.692]",2022-06-07 14:32:40.000,2022-06-07 14:32:41.000,219.6400,2044.860,2218.550,1968.420,1525.650,1510.960,1003.890,892.980,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
"(233.692, 260.648]",2022-06-07 14:32:48.000,2022-06-07 14:32:49.000,250.9800,2356.010,2315.050,2241.750,1945.240,1655.410,1059.260,677.630,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
"(260.648, 287.604]",2022-06-07 14:33:01.000,2022-06-07 14:33:02.000,261.7850,2022.460,2259.770,2125.930,1791.030,1608.050,1152.210,790.120,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
"(287.604, 314.559]",2022-06-07 14:33:13.500,2022-06-07 14:33:14.500,305.6750,2260.970,2181.115,2166.585,1900.700,1587.480,1295.980,867.705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(314.559, 341.515]",2022-06-07 14:33:26.000,2022-06-07 14:33:27.000,326.2850,2164.470,2227.970,2238.150,1996.600,1647.640,1202.120,866.450,...,363.33,802.84,1690.54,1829.29,1062.87,1316.77,1664.06,2025.02,2438.57,2253.22
"(341.515, 368.47]",2022-06-07 14:33:38.000,2022-06-07 14:33:39.000,353.5650,2117.180,2096.500,1955.260,1850.720,1623.230,1147.060,706.890,...,363.33,802.84,1690.54,1829.29,1062.87,1316.77,1664.06,2025.02,2438.57,2253.22
"(368.47, 395.426]",2022-06-07 14:33:47.000,2022-06-07 14:33:48.000,384.6800,2350.880,2132.820,2086.850,1943.910,1449.930,1060.410,791.040,...,363.33,802.84,1690.54,1829.29,1062.87,1316.77,1664.06,2025.02,2438.57,2253.22
"(395.426, 422.382]",2022-06-07 14:33:57.000,2022-06-07 14:33:58.000,408.7650,2256.380,2193.460,2107.800,1911.490,1587.000,1056.700,868.970,...,363.33,802.84,1690.54,1829.29,1062.87,1316.77,1664.06,2025.02,2438.57,2253.22
"(422.382, 449.337]",2022-06-07 14:34:08.500,2022-06-07 14:34:09.500,436.6100,2297.660,2061.835,2105.515,1837.610,1567.605,1156.285,760.215,...,363.33,802.84,1690.54,1829.29,1062.87,1316.77,1664.06,2025.02,2438.57,2253.22
"(449.337, 476.293]",2022-06-07 14:34:20.000,2022-06-07 14:34:21.000,464.0100,2062.270,2329.140,2105.290,1947.840,1550.400,1113.560,760.120,...,350.63,474.31,1853.83,1933.17,1795.99,1630.29,1466.16,1826.38,2346.87,2143.72
"(476.293, 503.248]",2022-06-07 14:34:31.000,2022-06-07 14:34:32.000,488.8150,2200.160,2028.400,2048.810,1795.450,1608.610,1168.060,785.790,...,350.63,474.31,1853.83,1933.17,1795.99,1630.29,1466.16,1826.38,2346.87,2143.72
"(503.248, 530.204]",2022-06-07 14:34:41.500,2022-06-07 14:34:42.500,516.6850,2137.845,2137.170,2192.010,1688.845,1545.605,1138.670,759.340,...,350.63,474.31,1853.83,1933.17,1795.99,1630.29,1466.16,1826.38,2346.87,2143.72
"(530.204, 557.16]",2022-06-07 14:34:53.500,2022-06-07 14:34:54.500,544.7100,2149.170,2203.280,2168.890,1806.235,1706.205,1015.700,802.900,...,350.63,474.31,1853.83,1933.17,1795.99,1630.29,1466.16,1826.38,2346.87,2143.72
"(557.16, 584.115]",2022-06-07 14:35:06.500,2022-06-07 14:35:07.500,569.0875,2183.125,2260.785,2181.320,1747.565,1558.625,1128.700,718.945,...,350.63,474.31,1853.83,1933.17,1795.99,1630.29,1466.16,1826.38,2346.87,2143.72
"(584.115, 611.071]",2022-06-07 14:35:17.500,2022-06-07 14:35:18.500,596.9050,1958.205,2108.125,1928.785,1761.420,1451.790,1082.250,691.780,...,719.98,980.33,1294.51,1389.63,1480.49,1320.21,1554.52,1994.74,2690.88,2203.30
"(611.071, 638.026]",2022-06-07 14:35:28.500,2022-06-07 14:35:29.500,626.7200,2188.400,2187.630,2124.935,1790.460,1622.440,1082.440,774.340,...,719.98,980.33,1294.51,1389.63,1480.49,1320.21,1554.52,1994.74,2690.88,2203.30
"(638.026, 664.982]",2022-06-07 14:35:40.500,2022-06-07 14:35:41.500,651.2975,2125.915,2124.840,2128.675,1790.780,1586.900,1072.940,747.690,...,719.98,980.33,1294.51,1389.63,1480.49,1320.21,1554.52,1994.74,2690.88,2203.30
"(664.982, 691.938]",2022-06-07 14:35:52.000,2022-06-07 14:35:53.000,679.2200,2259.200,2265.220,2190.890,1854.200,1721.060,1068.950,814.790,...,719.98,980.33,1294.51,1389.63,1480.49,1320.21,1554.52,1994.74,2690.88,2203.30
"(691.938, 718.893]",2022-06-07 14:36:03.000,2022-06-07 14:36:04.000,704.8400,2286.120,2127.580,2163.030,1879.940,1623.970,1167.010,786.560,...,719.98,980.33,1294.51,1389.63,1480.49,1320.21,1554.52,1994.74,2690.88,2203.30
"(718.893, 745.849]",2022-06-07 14:36:14.000,2022-06-07 14:36:15.000,731.5150,2145.040,2197.560,2151.480,1946.280,1526.950,1169.230,842.830,...,366.41,885.96,1128.34,1424.78,1276.56,1216.25,1202.90,1652.10,1869.92,1853.20
"(745.849, 772.804]",2022-06-07 14:36:25.500,2022-06-07 14:36:26.500,759.5450,2101.280,2270.985,2265.845,2005.400,1747.000,1236.175,840.555,...,366.41,885.96,1128.34,1424.78,1276.56,1216.25,1202.90,1652.10,1869.92,1853.20
"(772.804, 799.76]",2022-06-07 14:36:37.000,2022-06-07 14:36:38.000,786.1100,2045.250,2162.330,2251.820,1880.100,1713.010,1092.510,813.890,...,366.41,885.96,1128.34,1424.78,1276.56,1216.25,1202.90,1652.10,1869.92,1853.20
"(799.76, 826.716]",2022-06-07 14:36:48.000,2022-06-07 14:36:49.000,814.1300,2208.170,2287.170,2297.920,1968.520,1697.250,1130.380,785.900,...,366.41,885.96,1128.34,1424.78,1276.56,1216.25,1202.90,1652.10,1869.92,1853.20
"(826.716, 853.671]",2022-06-07 14:36:59.000,2022-06-07 14:37:00.000,840.6450,2034.010,2249.410,2299.500,1998.330,1735.030,1203.690,812.370,...,366.41,885.96,1128.34,1424.78,1276.56,1216.25,1202.90,1652.10,1869.92,1853.20
"(853.671, 880.627]",2022-06-07 14:37:10.000,2022-06-07 14:37:11.000,867.8700,1893.220,2248.890,2081.820,1848.330,1565.000,1200.190,865.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(880.627, 907.582]",2022-06-07 14:37:21.000,2022-06-07 14:37:22.000,893.9500,2068.270,2328.910,2381.770,1766.670,1855.330,1240.070,705.550,...,614.55,297.59,1258.75,1576.80,1143.60,1014.04,1115.33,1264.42,1813.01,1740.93
"(907.582, 934.538]",2022-06-07 14:37:32.000,2022-06-07 14:37:33.000,919.4650,1972.360,1929.380,2130.320,2066.720,1741.770,1112.860,731.830,...,614.55,297.59,1258.75,1576.80,1143.60,1014.04,1115.33,1264.42,1813.01,1740.93
"(934.538, 961.494]",2022-06-07 14:37:42.000,2022-06-07 14:37:43.000,947.8350,1578.630,1928.290,1867.470,1676.330,1586.510,1056.820,706.660,...,614.55,297.59,1258.75,1576.80,1143.60,1014.04,1115.33,1264.42,1813.01,1740.93
"(961.494, 988.449]",2022-06-07 14:37:53.000,2022-06-07 14:37:54.000,976.4350,1441.970,1761.640,1770.060,1615.700,1467.390,978.560,703.890,...,614.55,297.59,1258.75,1576.80,1143.60,1014.04,1115.33,1264.42,1813.01,1740.93

In [1430]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data7_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data7_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_30007 = data7_1000[start_index:stop_index]
DAY3000_subset_30007

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(1015.405, 1042.36]",2022-06-07 14:38:12.000,2022-06-07 14:38:13.000,1030.120,1490.670,1455.59,1849.82,1634.34,1395.52,981.430,647.840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1042.36, 1069.316]",2022-06-07 14:38:21.000,2022-06-07 14:38:22.000,1055.940,1102.160,1265.07,1690.46,1607.14,1411.47,945.350,758.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1069.316, 1096.272]",2022-06-07 14:38:32.000,2022-06-07 14:38:33.000,1084.140,962.470,1327.31,1561.55,1793.10,1532.14,907.590,598.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1096.272, 1123.227]",2022-06-07 14:38:42.500,2022-06-07 14:38:43.500,1107.855,959.755,1229.99,1499.81,1685.87,1290.73,899.715,529.895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1123.227, 1150.183]",2022-06-07 14:38:52.000,2022-06-07 14:38:53.000,1136.620,914.990,1131.11,1498.62,1490.64,1489.20,885.460,570.760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2659.696, 2686.652]",2022-06-07 14:46:31.000,2022-06-07 14:46:32.000,2672.740,1007.230,465.41,230.12,59.67,38.34,55.520,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2686.652, 2713.608]",2022-06-07 14:46:36.000,2022-06-07 14:46:37.000,2699.640,766.940,430.16,230.08,119.46,57.35,18.550,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2713.608, 2740.563]",2022-06-07 14:46:41.000,2022-06-07 14:46:42.000,2726.120,936.420,497.73,209.17,89.62,19.15,37.010,27.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2740.563, 2767.519]",2022-06-07 14:46:46.000,2022-06-07 14:46:47.000,2753.030,1177.020,830.08,541.97,268.83,210.53,166.570,54.310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2767.519, 2794.474]",2022-06-07 14:46:51.000,2022-06-07 14:46:52.000,2779.800,1418.290,1030.46,626.32,478.59,362.85,203.940,54.370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1431]:
LAS7b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220607_RA_L2_20230131T122325.ict')
start_index = np.where(LAS7b["Time_Start"]==pd.to_datetime("2022-06-07 19:08:00"))
stop_index = np.where(LAS7b["Time_Start"]==pd.to_datetime("2022-06-07 19:23:00"))
    
LAS7b_subset = LAS7b[start_index[0][0]:stop_index[0][0]]
LAS7b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10420,2022-06-07 19:08:00,2022-06-07 19:08:01,133.320,328.68,64.26,14.72,1198.03,1259.03,1122.71,954.00,...,0.0,51.79,17.27,0.0,0.0,0.00,10.35,10.35,0.0,1.087
10421,2022-06-07 19:08:01,2022-06-07 19:08:02,133.120,302.80,44.46,7.49,1033.58,1163.43,1064.34,1106.61,...,0.0,0.00,17.32,0.0,0.0,10.38,10.39,0.00,0.0,1.087
10422,2022-06-07 19:08:02,2022-06-07 19:08:03,132.930,312.22,49.98,8.21,987.21,1298.72,1065.12,1018.70,...,0.0,34.68,34.70,0.0,0.0,10.41,10.41,0.00,0.0,1.087
10423,2022-06-07 19:08:03,2022-06-07 19:08:04,132.720,320.26,38.30,5.31,1005.87,1192.24,977.17,923.42,...,0.0,17.23,0.00,0.0,0.0,0.00,10.35,0.00,0.0,1.087
10424,2022-06-07 19:08:04,2022-06-07 19:08:05,132.595,265.97,31.34,4.87,791.47,1192.98,915.60,894.76,...,0.0,0.00,0.00,0.0,0.0,0.00,10.37,0.00,0.0,1.088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11315,2022-06-07 19:22:55,2022-06-07 19:22:56,3518.030,366.87,20.48,0.54,2164.07,1794.33,1358.18,897.29,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,1.541
11316,2022-06-07 19:22:56,2022-06-07 19:22:57,3524.890,408.88,23.49,0.63,2786.04,1791.97,1085.19,746.66,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,1.542
11317,2022-06-07 19:22:57,2022-06-07 19:22:58,3531.840,376.98,20.60,0.51,2717.05,1363.33,1169.40,957.54,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,1.542
11318,2022-06-07 19:22:58,2022-06-07 19:22:59,3538.850,372.76,20.13,0.51,2499.50,1828.34,1230.71,657.79,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,1.544
11319,2022-06-07 19:22:59,2022-06-07 19:23:00,3545.900,395.44,23.48,0.65,2088.99,1892.68,1606.43,955.11,...,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0,1.545

In [1432]:
DAY1000_subset_10007 = DAY1000_subset_10007.reset_index(drop=True)
DAY3000_subset_30007 = DAY3000_subset_30007.reset_index(drop=True)

In [1433]:
SMPS7b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220607_RA_L2_20230131T122819.ict')
start_index = np.where(SMPS7b["Time_Start"]==pd.to_datetime("2022-06-07 19:08:00"))
stop_index = np.where(SMPS7b["Time_Start"]==pd.to_datetime("2022-06-07 19:23:00"))
    
SMPS7b_subset = SMPS7b[start_index[0][0]:stop_index[0][0]]
SMPS7b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10420,2022-06-07 19:08:00,2022-06-07 19:08:01,133.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10421,2022-06-07 19:08:01,2022-06-07 19:08:02,133.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10422,2022-06-07 19:08:02,2022-06-07 19:08:03,132.930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10423,2022-06-07 19:08:03,2022-06-07 19:08:04,132.720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10424,2022-06-07 19:08:04,2022-06-07 19:08:05,132.595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11315,2022-06-07 19:22:55,2022-06-07 19:22:56,3518.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11316,2022-06-07 19:22:56,2022-06-07 19:22:57,3524.890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11317,2022-06-07 19:22:57,2022-06-07 19:22:58,3531.840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11318,2022-06-07 19:22:58,2022-06-07 19:22:59,3538.850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11319,2022-06-07 19:22:59,2022-06-07 19:23:00,3545.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1434]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS7b_subset.drop(columns=columns_to_remove, inplace=True)
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS7b_subset.drop(columns=columns_to_remove, inplace=True)

In [1435]:
#binning data7b into groups
nbins = 100
bins_1000 = np.linspace(data7b.GPS_Altitude_THORNHILL.min(), data7b.GPS_Altitude_THORNHILL.max(), nbins+1)
data7b['Bins'] = pd.cut(data7b['GPS_Altitude_THORNHILL'], bins_1000)
data7b_1000 = data7b.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data7b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data7b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_10007b = data7b_1000[start_index:stop_index]
DAY1000_subset_10007b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(132.595, 166.728]",2022-06-07 19:08:09.000,2022-06-07 19:08:10.000,138.9650,1005.870,1156.340,1065.120,950.920,764.590,537.640,324.900,...,1204.80,1648.11,1689.44,1772.91,1557.60,1280.20,1080.90,736.49,1088.08,845.31
"(166.728, 200.861]",2022-06-07 19:08:21.500,2022-06-07 19:08:22.500,183.5400,1046.505,1081.025,1207.720,1074.540,937.865,516.280,258.250,...,1204.80,1648.11,1689.44,1772.91,1557.60,1280.20,1080.90,736.49,1088.08,845.31
"(200.861, 234.994]",2022-06-07 19:08:31.500,2022-06-07 19:08:32.500,217.5125,1093.370,1179.940,1135.200,1080.500,888.695,480.475,285.245,...,1204.80,1648.11,1689.44,1772.91,1557.60,1280.20,1080.90,736.49,1088.08,845.31
"(234.994, 269.127]",2022-06-07 19:08:42.500,2022-06-07 19:08:43.500,251.5325,972.410,1092.890,1103.575,958.460,810.925,537.400,366.810,...,1204.80,1648.11,1689.44,1772.91,1557.60,1280.20,1080.90,736.49,1088.08,845.31
"(269.127, 303.26]",2022-06-07 19:08:51.500,2022-06-07 19:08:52.500,286.8050,840.455,996.335,1055.310,971.455,726.620,472.490,353.135,...,1204.80,1648.11,1689.44,1772.91,1557.60,1280.20,1080.90,736.49,1088.08,845.31
"(303.26, 337.393]",2022-06-07 19:09:01.500,2022-06-07 19:09:02.500,318.2300,672.810,913.305,929.330,984.100,745.390,454.240,352.695,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(337.393, 371.526]",2022-06-07 19:09:12.000,2022-06-07 19:09:13.000,354.8600,743.620,731.560,912.880,892.880,766.990,517.550,297.290,...,1080.93,1076.32,1884.23,1621.31,1264.99,996.60,893.87,982.12,751.47,772.77
"(371.526, 405.659]",2022-06-07 19:09:23.500,2022-06-07 19:09:24.500,389.4000,720.590,947.305,979.290,937.245,839.790,509.080,352.965,...,1080.93,1076.32,1884.23,1621.31,1264.99,996.60,893.87,982.12,751.47,772.77
"(405.659, 439.792]",2022-06-07 19:09:35.000,2022-06-07 19:09:36.000,421.5550,718.240,832.690,1039.870,897.790,725.320,479.740,271.580,...,1080.93,1076.32,1884.23,1621.31,1264.99,996.60,893.87,982.12,751.47,772.77
"(439.792, 473.926]",2022-06-07 19:09:45.000,2022-06-07 19:09:46.000,457.2550,768.740,797.930,1045.230,806.600,822.730,499.870,299.160,...,1080.93,1076.32,1884.23,1621.31,1264.99,996.60,893.87,982.12,751.47,772.77
"(473.926, 508.059]",2022-06-07 19:09:56.000,2022-06-07 19:09:57.000,491.2400,790.470,998.130,980.070,984.970,743.210,462.620,244.750,...,1080.93,1076.32,1884.23,1621.31,1264.99,996.60,893.87,982.12,751.47,772.77
"(508.059, 542.192]",2022-06-07 19:10:07.000,2022-06-07 19:10:08.000,525.3800,770.120,731.060,1000.220,923.990,802.320,517.110,325.310,...,615.36,1559.20,1724.40,2387.99,1945.82,2482.85,1742.15,1884.19,1539.51,1360.52
"(542.192, 576.325]",2022-06-07 19:10:17.500,2022-06-07 19:10:18.500,558.5800,828.055,860.720,854.010,985.705,725.825,500.010,285.330,...,615.36,1559.20,1724.40,2387.99,1945.82,2482.85,1742.15,1884.19,1539.51,1360.52
"(576.325, 610.458]",2022-06-07 19:10:27.000,2022-06-07 19:10:28.000,592.8300,794.340,926.610,936.090,894.220,824.100,500.020,272.250,...,615.36,1559.20,1724.40,2387.99,1945.82,2482.85,1742.15,1884.19,1539.51,1360.52
"(610.458, 644.591]",2022-06-07 19:10:36.500,2022-06-07 19:10:37.500,627.6875,1143.185,928.250,1084.150,910.395,916.040,573.660,271.825,...,615.36,1559.20,1724.40,2387.99,1945.82,2482.85,1742.15,1884.19,1539.51,1360.52
"(644.591, 678.724]",2022-06-07 19:10:47.000,2022-06-07 19:10:48.000,662.8000,1442.030,1264.190,1333.630,1193.140,994.720,481.990,379.880,...,615.36,1559.20,1724.40,2387.99,1945.82,2482.85,1742.15,1884.19,1539.51,1360.52
"(678.724, 712.857]",2022-06-07 19:10:57.000,2022-06-07 19:10:58.000,694.5200,1314.460,1293.720,1191.650,1195.750,1071.430,537.430,298.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(712.857, 746.99]",2022-06-07 19:11:07.000,2022-06-07 19:11:08.000,730.8100,1129.980,1091.900,1167.960,958.390,861.640,516.500,326.650,...,662.75,1338.35,1536.81,1966.19,2187.95,1219.21,1701.47,1737.21,1568.95,1692.53
"(746.99, 781.123]",2022-06-07 19:11:17.000,2022-06-07 19:11:18.000,763.2350,1226.820,1296.960,1336.610,1043.980,933.960,572.760,298.930,...,662.75,1338.35,1536.81,1966.19,2187.95,1219.21,1701.47,1737.21,1568.95,1692.53
"(781.123, 815.256]",2022-06-07 19:11:26.000,2022-06-07 19:11:27.000,798.8800,1661.700,1456.310,1376.670,1250.680,1012.780,665.800,352.880,...,662.75,1338.35,1536.81,1966.19,2187.95,1219.21,1701.47,1737.21,1568.95,1692.53
"(815.256, 849.389]",2022-06-07 19:11:36.500,2022-06-07 19:11:37.500,833.9075,1536.575,1330.575,1451.125,1181.650,1051.265,639.050,420.075,...,662.75,1338.35,1536.81,1966.19,2187.95,1219.21,1701.47,1737.21,1568.95,1692.53
"(849.389, 883.522]",2022-06-07 19:11:48.000,2022-06-07 19:11:49.000,865.6650,1346.450,1360.750,1416.020,1312.740,901.760,649.610,379.500,...,662.75,1338.35,1536.81,1966.19,2187.95,1219.21,1701.47,1737.21,1568.95,1692.53
"(883.522, 917.655]",2022-06-07 19:11:58.500,2022-06-07 19:11:59.500,900.1500,1822.670,1710.705,1508.915,1417.835,1182.575,739.380,380.010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(917.655, 951.788]",2022-06-07 19:12:08.000,2022-06-07 19:12:09.000,936.2300,2919.860,2125.880,1994.820,1666.330,1415.660,760.260,514.880,...,1178.05,1888.95,2906.14,3524.83,3895.55,3968.81,5401.87,5448.40,5452.12,4525.51

In [1436]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data7b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data7b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_30007b = data7b_1000[start_index:stop_index]
DAY3000_subset_30007b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(985.921, 1020.054]",2022-06-07 19:12:28.500,2022-06-07 19:12:29.500,1003.240,2958.485,2209.055,1982.965,1675.910,1326.445,730.700,474.735,...,1178.05,1888.95,2906.14,3524.83,3895.55,3968.81,5401.87,5448.40,5452.12,4525.51
"(1020.054, 1054.187]",2022-06-07 19:12:38.500,2022-06-07 19:12:39.500,1036.910,4563.665,3624.060,2830.115,2363.770,1700.185,1018.300,570.305,...,1178.05,1888.95,2906.14,3524.83,3895.55,3968.81,5401.87,5448.40,5452.12,4525.51
"(1054.187, 1088.32]",2022-06-07 19:12:48.000,2022-06-07 19:12:49.000,1072.330,5019.770,3828.620,2928.650,2455.620,1857.530,1107.950,571.390,...,1178.05,1888.95,2906.14,3524.83,3895.55,3968.81,5401.87,5448.40,5452.12,4525.51
"(1088.32, 1122.453]",2022-06-07 19:12:58.500,2022-06-07 19:12:59.500,1104.765,5223.815,3885.925,3253.055,2436.615,1862.205,982.300,624.805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1122.453, 1156.586]",2022-06-07 19:13:10.500,2022-06-07 19:13:11.500,1140.005,3152.365,2455.090,2238.100,1834.680,1446.915,875.225,502.090,...,1258.65,879.37,1308.94,1305.81,1368.94,713.83,1415.42,1319.58,1011.50,1263.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3306.969, 3341.102]",2022-06-07 19:22:24.000,2022-06-07 19:22:25.000,3325.470,1296.400,897.530,669.050,359.070,210.450,166.890,27.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3341.102, 3375.235]",2022-06-07 19:22:29.500,2022-06-07 19:22:30.500,3359.530,1249.915,979.995,679.205,433.480,315.595,92.710,81.440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3375.235, 3409.368]",2022-06-07 19:22:35.000,2022-06-07 19:22:36.000,3393.950,1486.990,997.320,667.530,418.050,210.320,92.600,135.510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3409.368, 3443.501]",2022-06-07 19:22:40.500,2022-06-07 19:22:41.500,3427.120,1441.410,1062.645,720.405,463.360,306.080,129.705,95.090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3443.501, 3477.634]",2022-06-07 19:22:46.000,2022-06-07 19:22:47.000,3459.850,1803.450,1293.370,790.160,626.360,324.370,222.000,81.520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1437]:
DAY1000_subset_10007b = DAY1000_subset_10007b.reset_index(drop=True)
DAY3000_subset_30007b = DAY3000_subset_30007b.reset_index(drop=True)

In [1438]:
LAS8 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220608_RA_L2_20230131T122327.ict')
start_index = np.where(LAS8["Time_Start"]==pd.to_datetime("2022-06-08 20:30:00"))
stop_index = np.where(LAS8["Time_Start"]==pd.to_datetime("2022-06-08 20:45:00"))
    
LAS8_subset = LAS8[start_index[0][0]:stop_index[0][0]]
LAS8_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10668,2022-06-08 20:30:00,2022-06-08 20:30:01,152.725,296.23,76.67,22.79,311.02,662.20,705.20,1279.39,...,0.00,0.00,17.23,12.92,0.0,20.67,0.00,0.0,10.34,1.091
10669,2022-06-08 20:30:01,2022-06-08 20:30:02,153.350,334.25,62.58,18.32,409.05,532.74,1084.41,1078.12,...,0.00,17.33,0.00,0.00,0.0,0.00,0.00,0.0,10.40,1.090
10670,2022-06-08 20:30:02,2022-06-08 20:30:03,153.870,346.35,26.73,0.75,407.92,696.54,937.32,1134.82,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,1.091
10671,2022-06-08 20:30:03,2022-06-08 20:30:04,154.255,344.48,37.84,3.30,384.66,532.45,960.06,1406.49,...,0.00,0.00,17.33,0.00,0.0,10.39,0.00,0.0,0.00,1.091
10672,2022-06-08 20:30:04,2022-06-08 20:30:05,154.510,327.79,41.96,5.56,552.87,531.67,959.65,1105.80,...,0.00,34.62,0.00,0.00,0.0,0.00,10.39,0.0,0.00,1.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11563,2022-06-08 20:44:55,2022-06-08 20:44:56,3838.620,424.27,22.33,0.69,3218.05,2025.71,1356.02,836.31,...,25.91,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,1.588
11564,2022-06-08 20:44:56,2022-06-08 20:44:57,3847.170,402.98,20.35,0.49,3029.46,1894.65,1357.58,658.19,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,1.589
11565,2022-06-08 20:44:57,2022-06-08 20:44:58,3855.660,430.89,22.17,0.55,3050.43,1925.83,1397.16,985.28,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,1.590
11566,2022-06-08 20:44:58,2022-06-08 20:44:59,3864.100,451.64,20.76,0.45,3175.28,2559.83,1589.13,987.43,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,1.592
11567,2022-06-08 20:44:59,2022-06-08 20:45:00,3872.460,430.16,21.44,0.53,3386.70,1792.93,1585.49,957.08,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,1.593

In [1439]:
SMPS8 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220608_RA_L2_20230131T122820.ict')
start_index = np.where(SMPS8["Time_Start"]==pd.to_datetime("2022-06-08 20:30:00"))
stop_index = np.where(SMPS8["Time_Start"]==pd.to_datetime("2022-06-08 20:45:00"))
    
SMPS8_subset = SMPS8[start_index[0][0]:stop_index[0][0]]
SMPS8_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10668,2022-06-08 20:30:00,2022-06-08 20:30:01,152.725,544.29,4.05,0.04,0.0,0.0,0.0,0.0,...,1160.3,1555.18,1663.99,1218.46,939.85,670.09,489.84,270.3,473.68,1.091
10669,2022-06-08 20:30:01,2022-06-08 20:30:02,153.350,544.29,4.05,0.04,0.0,0.0,0.0,0.0,...,1160.3,1555.18,1663.99,1218.46,939.85,670.09,489.84,270.3,473.68,1.091
10670,2022-06-08 20:30:02,2022-06-08 20:30:03,153.870,544.29,4.05,0.04,0.0,0.0,0.0,0.0,...,1160.3,1555.18,1663.99,1218.46,939.85,670.09,489.84,270.3,473.68,1.091
10671,2022-06-08 20:30:03,2022-06-08 20:30:04,154.255,544.29,4.05,0.04,0.0,0.0,0.0,0.0,...,1160.3,1555.18,1663.99,1218.46,939.85,670.09,489.84,270.3,473.68,1.091
10672,2022-06-08 20:30:04,2022-06-08 20:30:05,154.510,544.29,4.05,0.04,0.0,0.0,0.0,0.0,...,1160.3,1555.18,1663.99,1218.46,939.85,670.09,489.84,270.3,473.68,1.091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11563,2022-06-08 20:44:55,2022-06-08 20:44:56,3838.620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.625
11564,2022-06-08 20:44:56,2022-06-08 20:44:57,3847.170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.625
11565,2022-06-08 20:44:57,2022-06-08 20:44:58,3855.660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.625
11566,2022-06-08 20:44:58,2022-06-08 20:44:59,3864.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.625
11567,2022-06-08 20:44:59,2022-06-08 20:45:00,3872.460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.625

In [1440]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS8_subset.drop(columns=columns_to_remove, inplace=True)

In [1441]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS8_subset.drop(columns=columns_to_remove, inplace=True)

In [1442]:
data8 = add_sum(LAS8_subset, SMPS8_subset)

In [1443]:
#binning data8 into groups
nbins = 100
bins_1000 = np.linspace(data8.GPS_Altitude_THORNHILL.min(), data8.GPS_Altitude_THORNHILL.max(), nbins+1)
data8['Bins'] = pd.cut(data8['GPS_Altitude_THORNHILL'], bins_1000)
data8_1000 = data8.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data8_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data8_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_10008 = data8_1000[start_index:stop_index]
DAY1000_subset_10008

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(147.455, 184.705]",2022-06-08 20:30:28.000,2022-06-08 20:30:29.000,154.5400,407.920,596.150,835.200,1196.650,1434.390,965.310,516.470,...,1078.63,1160.30,1555.18,1663.99,1218.46,939.85,670.09,489.84,270.30,473.68
"(184.705, 221.955]",2022-06-08 20:31:07.000,2022-06-08 20:31:08.000,198.9850,407.670,663.900,828.340,1162.420,1395.440,888.880,539.150,...,920.58,1047.31,1184.20,1157.94,1150.85,995.93,552.67,486.30,458.77,560.59
"(221.955, 259.205]",2022-06-08 20:31:21.500,2022-06-08 20:31:22.500,242.1600,348.040,446.720,719.430,1062.110,1354.700,959.880,474.070,...,920.58,1047.31,1184.20,1157.94,1150.85,995.93,552.67,486.30,458.77,560.59
"(259.205, 296.455]",2022-06-08 20:31:32.500,2022-06-08 20:31:33.500,278.0025,288.900,481.900,719.090,1105.965,1363.535,1092.870,556.915,...,920.58,1047.31,1184.20,1157.94,1150.85,995.93,552.67,486.30,458.77,560.59
"(296.455, 333.705]",2022-06-08 20:31:44.000,2022-06-08 20:31:45.000,314.4600,337.330,432.360,729.520,1075.170,1319.980,1035.680,596.640,...,920.58,1047.31,1184.20,1157.94,1150.85,995.93,552.67,486.30,458.77,560.59
"(333.705, 370.955]",2022-06-08 20:31:54.500,2022-06-08 20:31:55.500,352.5375,336.250,415.920,749.625,1116.625,1402.735,1027.170,555.150,...,766.40,1224.92,1345.24,1252.39,1054.49,1119.14,656.49,727.65,585.87,526.31
"(370.955, 408.205]",2022-06-08 20:32:04.500,2022-06-08 20:32:05.500,389.1225,277.305,416.540,732.725,1095.245,1364.270,1065.970,569.695,...,766.40,1224.92,1345.24,1252.39,1054.49,1119.14,656.49,727.65,585.87,526.31
"(408.205, 445.455]",2022-06-08 20:32:15.500,2022-06-08 20:32:16.500,425.9075,263.715,479.960,668.705,1047.865,1511.245,1017.415,597.340,...,766.40,1224.92,1345.24,1252.39,1054.49,1119.14,656.49,727.65,585.87,526.31
"(445.455, 482.705]",2022-06-08 20:32:27.000,2022-06-08 20:32:28.000,462.3600,312.610,462.980,747.200,1049.790,1392.050,1074.900,623.330,...,766.40,1224.92,1345.24,1252.39,1054.49,1119.14,656.49,727.65,585.87,526.31
"(482.705, 519.956]",2022-06-08 20:32:38.000,2022-06-08 20:32:39.000,502.4350,335.850,533.000,749.340,1140.760,1380.180,1019.040,490.990,...,766.40,1224.92,1345.24,1252.39,1054.49,1119.14,656.49,727.65,585.87,526.31
"(519.956, 557.206]",2022-06-08 20:32:49.500,2022-06-08 20:32:50.500,538.4525,336.075,481.080,669.265,1061.800,1282.130,1035.075,625.155,...,870.20,1358.94,1395.19,1213.96,1400.39,760.46,787.90,440.16,341.90,644.38
"(557.206, 594.456]",2022-06-08 20:33:01.000,2022-06-08 20:33:02.000,576.2500,383.960,431.240,792.290,1105.140,1437.140,962.450,624.050,...,870.20,1358.94,1395.19,1213.96,1400.39,760.46,787.90,440.16,341.90,644.38
"(594.456, 631.706]",2022-06-08 20:33:12.000,2022-06-08 20:33:13.000,614.6200,337.090,432.600,727.650,1078.910,1256.240,963.060,517.270,...,870.20,1358.94,1395.19,1213.96,1400.39,760.46,787.90,440.16,341.90,644.38
"(631.706, 668.956]",2022-06-08 20:33:24.000,2022-06-08 20:33:25.000,653.3100,384.870,532.570,729.520,1104.230,1298.270,978.310,596.180,...,870.20,1358.94,1395.19,1213.96,1400.39,760.46,787.90,440.16,341.90,644.38
"(668.956, 706.206]",2022-06-08 20:33:36.500,2022-06-08 20:33:37.500,686.2875,324.395,549.280,720.530,1015.330,1319.185,1037.730,503.025,...,870.20,1358.94,1395.19,1213.96,1400.39,760.46,787.90,440.16,341.90,644.38
"(706.206, 743.456]",2022-06-08 20:33:49.000,2022-06-08 20:33:50.000,725.5100,361.630,431.800,752.120,1072.580,1360.670,1092.920,596.500,...,698.20,1081.17,873.18,954.61,770.91,1130.60,674.44,424.55,81.48,640.00
"(743.456, 780.706]",2022-06-08 20:34:02.000,2022-06-08 20:34:03.000,761.4300,359.260,498.990,789.960,991.430,1267.140,1070.140,513.880,...,698.20,1081.17,873.18,954.61,770.91,1130.60,674.44,424.55,81.48,640.00
"(780.706, 817.956]",2022-06-08 20:34:14.500,2022-06-08 20:34:15.500,799.1750,336.770,531.460,728.500,972.845,1393.655,1073.670,570.505,...,698.20,1081.17,873.18,954.61,770.91,1130.60,674.44,424.55,81.48,640.00
"(817.956, 855.206]",2022-06-08 20:34:25.500,2022-06-08 20:34:26.500,836.2725,336.750,482.880,686.190,1015.370,1279.130,1035.855,622.840,...,698.20,1081.17,873.18,954.61,770.91,1130.60,674.44,424.55,81.48,640.00
"(855.206, 892.456]",2022-06-08 20:34:36.000,2022-06-08 20:34:37.000,874.1400,168.430,333.430,582.720,779.450,1243.110,1277.480,844.030,...,698.20,1081.17,873.18,954.61,770.91,1130.60,674.44,424.55,81.48,640.00
"(892.456, 929.706]",2022-06-08 20:34:47.500,2022-06-08 20:34:48.500,910.4700,96.090,198.825,345.475,643.235,852.675,963.380,502.920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(929.706, 966.956]",2022-06-08 20:34:59.000,2022-06-08 20:35:00.000,946.8450,48.060,99.720,207.790,179.460,285.810,314.630,135.680,...,2908.05,2359.30,3811.32,2596.25,1689.02,902.77,783.13,945.10,520.66,637.18

In [1444]:
DAY1000_subset_10008 = DAY1000_subset_10008.reset_index(drop=True)

In [1445]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data8_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data8_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_30008 = data8_1000[start_index:stop_index]
DAY3000_subset_30008

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(1004.206, 1041.456]",2022-06-08 20:35:22.000,2022-06-08 20:35:23.000,1020.120,96.060,132.980,209.290,149.400,190.790,277.420,162.960,...,2908.05,2359.3,3811.32,2596.25,1689.02,902.77,783.13,945.10,520.66,637.18
"(1041.456, 1078.706]",2022-06-08 20:35:35.000,2022-06-08 20:35:36.000,1060.190,215.450,266.130,354.010,627.470,877.150,888.240,488.260,...,2908.05,2359.3,3811.32,2596.25,1689.02,902.77,783.13,945.10,520.66,637.18
"(1078.706, 1115.956]",2022-06-08 20:35:48.500,2022-06-08 20:35:49.500,1096.685,371.945,398.450,416.550,790.240,1259.620,1295.400,839.970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1115.956, 1153.206]",2022-06-08 20:36:00.500,2022-06-08 20:36:01.500,1134.755,228.285,332.480,521.965,688.365,1302.480,1358.985,857.520,...,244.86,1030.7,605.80,695.38,867.68,755.82,442.16,542.02,925.04,685.74
"(1153.206, 1190.456]",2022-06-08 20:36:12.500,2022-06-08 20:36:13.500,1173.080,408.360,415.570,501.370,718.265,1031.960,1056.425,638.290,...,244.86,1030.7,605.80,695.38,867.68,755.82,442.16,542.02,925.04,685.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3276.459, 3313.709]",2022-06-08 20:43:51.000,2022-06-08 20:43:52.000,3293.800,1778.310,1296.610,877.450,628.510,344.520,166.530,135.670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3313.709, 3350.959]",2022-06-08 20:43:55.500,2022-06-08 20:43:56.500,3332.045,2161.010,1362.195,855.860,582.805,439.925,250.065,94.980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3350.959, 3388.209]",2022-06-08 20:44:00.000,2022-06-08 20:44:01.000,3370.540,2068.530,1560.870,939.780,658.110,420.700,222.450,190.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3388.209, 3425.459]",2022-06-08 20:44:04.500,2022-06-08 20:44:05.500,3408.710,2175.300,1594.730,1116.900,403.480,468.410,277.600,149.385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3425.459, 3462.709]",2022-06-08 20:44:08.500,2022-06-08 20:44:09.500,3442.235,2152.045,1629.000,1105.790,583.395,506.475,185.475,108.610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1446]:
DAY3000_subset_30008 = DAY3000_subset_30008.reset_index(drop=True)

In [1447]:
LAS10 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220610_RA_L1_20230131T122328.ict')
start_index = np.where(LAS10["Time_Start"]==pd.to_datetime("2022-06-10 15:17:00"))
stop_index = np.where(LAS10["Time_Start"]==pd.to_datetime("2022-06-10 15:25:00"))
    
LAS10_subset = LAS10[start_index[0][0]:stop_index[0][0]]
LAS10_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10616,2022-06-10 15:17:00,2022-06-10 15:17:01,122.040,188.02,25.75,1.32,95.98,132.51,229.16,656.42,...,0.00,0.00,0.0,12.96,0.00,0.0,0.00,0.0,0.00,1.095
10617,2022-06-10 15:17:01,2022-06-10 15:17:02,122.105,152.75,24.45,1.74,216.28,166.18,208.19,358.72,...,0.00,34.62,0.0,25.96,0.00,0.0,0.00,0.0,0.00,1.095
10618,2022-06-10 15:17:02,2022-06-10 15:17:03,122.170,123.10,38.54,6.92,144.34,132.63,187.32,179.37,...,0.00,0.00,52.0,0.00,10.39,0.0,10.39,0.0,0.00,1.095
10619,2022-06-10 15:17:03,2022-06-10 15:17:04,122.240,157.26,31.50,2.87,216.67,66.75,271.75,449.25,...,51.96,17.33,0.0,13.01,10.41,0.0,0.00,0.0,0.00,1.095
10620,2022-06-10 15:17:04,2022-06-10 15:17:05,122.315,182.92,71.07,20.52,241.08,266.84,293.02,300.11,...,0.00,52.10,69.5,13.02,0.00,0.0,0.00,0.0,10.42,1.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11091,2022-06-10 15:24:55,2022-06-10 15:24:56,3540.260,196.78,12.13,0.40,1417.75,863.18,542.18,298.95,...,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,1.549
11092,2022-06-10 15:24:56,2022-06-10 15:24:57,3546.970,204.61,10.58,0.26,1274.86,963.97,792.94,538.26,...,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,1.550
11093,2022-06-10 15:24:57,2022-06-10 15:24:58,3553.620,236.45,12.84,0.35,1853.48,1163.62,669.05,419.49,...,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,1.551
11094,2022-06-10 15:24:58,2022-06-10 15:24:59,3560.200,189.53,11.63,0.48,1417.25,763.43,688.77,328.62,...,0.00,17.30,0.0,0.00,0.00,0.0,0.00,0.0,0.00,1.552
11095,2022-06-10 15:24:59,2022-06-10 15:25:00,3566.730,238.24,13.33,0.42,1685.43,1298.40,857.79,269.34,...,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.00,1.553

In [1448]:
SMPS10 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220610_RA_L1_20230131T122821.ict')
start_index = np.where(SMPS10["Time_Start"]==pd.to_datetime("2022-06-10 15:17:00"))
stop_index = np.where(SMPS10["Time_Start"]==pd.to_datetime("2022-06-10 15:25:00"))
    
SMPS10_subset = SMPS10[start_index[0][0]:stop_index[0][0]]
SMPS10_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10616,2022-06-10 15:17:00,2022-06-10 15:17:01,122.040,266.94,1.9,0.02,0.0,0.0,0.0,0.0,...,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18,1.095
10617,2022-06-10 15:17:01,2022-06-10 15:17:02,122.105,266.94,1.9,0.02,0.0,0.0,0.0,0.0,...,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18,1.095
10618,2022-06-10 15:17:02,2022-06-10 15:17:03,122.170,266.94,1.9,0.02,0.0,0.0,0.0,0.0,...,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18,1.095
10619,2022-06-10 15:17:03,2022-06-10 15:17:04,122.240,266.94,1.9,0.02,0.0,0.0,0.0,0.0,...,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18,1.095
10620,2022-06-10 15:17:04,2022-06-10 15:17:05,122.315,266.94,1.9,0.02,0.0,0.0,0.0,0.0,...,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18,1.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11091,2022-06-10 15:24:55,2022-06-10 15:24:56,3540.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.566
11092,2022-06-10 15:24:56,2022-06-10 15:24:57,3546.970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.566
11093,2022-06-10 15:24:57,2022-06-10 15:24:58,3553.620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.566
11094,2022-06-10 15:24:58,2022-06-10 15:24:59,3560.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.566
11095,2022-06-10 15:24:59,2022-06-10 15:25:00,3566.730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.566

In [1449]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS10_subset.drop(columns=columns_to_remove, inplace=True)

In [1450]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS10_subset.drop(columns=columns_to_remove, inplace=True)

In [1451]:
data10 = add_sum(LAS10_subset, SMPS10_subset)

In [1452]:
#binning data10 into groups
nbins = 100
bins_1000 = np.linspace(data10.GPS_Altitude_THORNHILL.min(), data10.GPS_Altitude_THORNHILL.max(), nbins+1)
data10['Bins'] = pd.cut(data10['GPS_Altitude_THORNHILL'], bins_1000)
data10_1000 = data10.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data10_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data10_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100010 = data10_1000[start_index:stop_index]
DAY1000_subset_100010

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(122.04, 156.487]",2022-06-10 15:17:25.000,2022-06-10 15:17:26.000,123.7050,192.300,199.230,249.770,327.140,381.050,461.730,408.660,...,375.00,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18
"(156.487, 190.934]",2022-06-10 15:17:52.500,2022-06-10 15:17:53.500,173.7850,144.325,282.870,240.000,254.660,391.300,361.415,406.960,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(190.934, 225.381]",2022-06-10 15:17:58.000,2022-06-10 15:17:59.000,209.2900,215.620,230.760,272.220,238.780,362.540,368.350,433.770,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(225.381, 259.828]",2022-06-10 15:18:03.000,2022-06-10 15:18:04.000,244.1150,192.080,199.300,208.530,239.400,305.130,407.690,379.780,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(259.828, 294.274]",2022-06-10 15:18:07.500,2022-06-10 15:18:08.500,277.9725,96.000,165.715,197.485,194.450,313.935,489.690,365.755,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(294.274, 328.721]",2022-06-10 15:18:12.000,2022-06-10 15:18:13.000,312.6600,95.970,199.130,187.280,239.680,362.120,388.590,406.840,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(328.721, 363.168]",2022-06-10 15:18:16.500,2022-06-10 15:18:17.500,349.4500,132.055,199.280,177.655,149.690,354.410,406.990,556.170,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(363.168, 397.615]",2022-06-10 15:18:20.500,2022-06-10 15:18:21.500,383.6350,144.180,166.140,155.965,163.945,296.135,388.535,421.200,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(397.615, 432.062]",2022-06-10 15:18:24.500,2022-06-10 15:18:25.500,417.9100,84.200,99.965,177.720,299.430,325.355,425.585,474.875,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(432.062, 466.509]",2022-06-10 15:18:28.500,2022-06-10 15:18:29.500,451.1100,120.320,182.565,208.115,253.200,458.555,378.710,380.090,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
"(466.509, 500.956]",2022-06-10 15:18:32.500,2022-06-10 15:18:33.500,482.8625,180.265,216.075,208.650,284.245,391.430,445.325,476.165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(500.956, 535.403]",2022-06-10 15:18:37.000,2022-06-10 15:18:38.000,518.0150,144.000,132.510,208.820,268.440,267.770,314.410,298.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(535.403, 569.85]",2022-06-10 15:18:41.500,2022-06-10 15:18:42.500,554.1975,156.195,198.585,187.030,314.255,428.130,388.740,351.565,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(569.85, 604.297]",2022-06-10 15:18:45.500,2022-06-10 15:18:46.500,587.0300,204.620,116.605,167.185,284.120,449.875,464.020,340.160,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(604.297, 638.743]",2022-06-10 15:18:49.500,2022-06-10 15:18:50.500,620.5675,228.435,166.125,260.655,328.450,334.455,379.715,407.180,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(638.743, 673.19]",2022-06-10 15:18:53.500,2022-06-10 15:18:54.500,655.2875,216.250,248.870,198.295,208.495,314.460,480.965,365.465,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(673.19, 707.637]",2022-06-10 15:18:57.500,2022-06-10 15:18:58.500,689.3425,288.560,166.405,188.535,194.190,335.415,379.885,339.535,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(707.637, 742.084]",2022-06-10 15:19:01.500,2022-06-10 15:19:02.500,722.3275,204.450,365.620,198.490,284.340,382.460,454.400,449.445,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(742.084, 776.531]",2022-06-10 15:19:05.500,2022-06-10 15:19:06.500,755.4100,216.445,199.255,208.240,179.825,286.700,444.870,393.790,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(776.531, 810.978]",2022-06-10 15:19:09.500,2022-06-10 15:19:10.500,790.2875,384.135,348.680,333.040,328.290,390.650,471.005,433.530,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(810.978, 845.425]",2022-06-10 15:19:13.500,2022-06-10 15:19:14.500,824.9800,493.735,498.815,448.765,599.195,632.230,593.930,462.375,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(845.425, 879.872]",2022-06-10 15:19:17.500,2022-06-10 15:19:18.500,859.7175,566.180,498.125,448.280,419.440,564.270,463.365,407.740,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(879.872, 914.319]",2022-06-10 15:19:21.500,2022-06-10 15:19:22.500,895.0150,648.905,597.085,583.825,642.730,678.220,490.765,529.180,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11
"(914.319, 948.766]",2022-06-10 15:19:25.500,2022-06-10 15:19:26.500,930.6750,528.005,547.120,592.605,476.820,544.015,572.820,473.745,...,693.80,476.94,939.16,937.99,728.18,516.20,532.41,382.46,534.53,848.11

In [1453]:
DAY1000_subset_100010 = DAY1000_subset_100010.reset_index(drop=True)

In [1454]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data10_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data10_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300010 = data10_1000[start_index:stop_index]
DAY3000_subset_300010

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(983.212, 1017.659]",2022-06-10 15:19:33.500,2022-06-10 15:19:34.500,1002.010,588.130,647.275,740.280,611.740,496.675,629.415,515.535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1017.659, 1052.106]",2022-06-10 15:19:37.500,2022-06-10 15:19:38.500,1036.915,782.030,798.865,636.765,734.140,554.875,669.350,462.375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1052.106, 1086.553]",2022-06-10 15:19:41.500,2022-06-10 15:19:42.500,1072.325,660.620,714.505,679.205,732.705,610.305,500.380,353.310,...,956.23,963.66,1070.83,1064.71,718.07,913.82,659.86,552.77,1091.01,952.28
"(1086.553, 1121.0]",2022-06-10 15:19:45.000,2022-06-10 15:19:46.000,1103.920,745.140,730.280,751.620,686.920,669.280,666.720,407.330,...,956.23,963.66,1070.83,1064.71,718.07,913.82,659.86,552.77,1091.01,952.28
"(1121.0, 1155.447]",2022-06-10 15:19:48.500,2022-06-10 15:19:49.500,1135.630,636.365,713.835,769.480,776.345,781.470,601.035,530.530,...,956.23,963.66,1070.83,1064.71,718.07,913.82,659.86,552.77,1091.01,952.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3291.155, 3325.602]",2022-06-10 15:24:24.000,2022-06-10 15:24:25.000,3308.150,913.180,697.920,522.540,329.180,210.190,129.760,54.210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3325.602, 3360.049]",2022-06-10 15:24:29.000,2022-06-10 15:24:30.000,3344.300,1153.290,663.070,438.250,329.340,210.290,110.900,54.240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3360.049, 3394.496]",2022-06-10 15:24:33.500,2022-06-10 15:24:34.500,3377.515,1057.755,747.500,563.130,313.940,200.905,101.925,81.460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3394.496, 3428.942]",2022-06-10 15:24:38.000,2022-06-10 15:24:39.000,3412.660,1153.400,698.560,522.070,328.960,114.850,92.620,54.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3428.942, 3463.389]",2022-06-10 15:24:42.500,2022-06-10 15:24:43.500,3449.025,1189.965,1062.355,563.730,463.065,238.870,111.105,40.755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1455]:
DAY3000_subset_300010 = DAY3000_subset_300010.reset_index(drop=True)

In [1456]:
LAS1110b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220610_RA_L2_20230131T122328.ict')
start_index = np.where(LAS1110b["Time_Start"]==pd.to_datetime("2022-06-10 19:30:00"))
stop_index = np.where(LAS1110b["Time_Start"]==pd.to_datetime("2022-06-10 19:51:00"))
    
LAS1110b_subset = LAS1110b[start_index[0][0]:stop_index[0][0]]
LAS1110b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
7182,2022-06-10 19:30:00,2022-06-10 19:30:01,113.375,272.40,40.20,2.55,431.93,365.07,686.90,626.82,...,0.00,17.28,17.28,25.92,0.00,0.0,0.00,0.00,0.00,1.099
7183,2022-06-10 19:30:01,2022-06-10 19:30:02,113.225,260.92,71.27,15.85,649.50,465.40,459.70,538.54,...,0.00,0.00,17.34,12.99,10.39,0.0,10.40,10.39,0.00,1.099
7184,2022-06-10 19:30:02,2022-06-10 19:30:03,113.065,250.78,43.88,3.34,577.10,398.73,438.04,448.66,...,25.98,17.32,51.99,25.98,0.00,0.0,0.00,0.00,0.00,1.099
7185,2022-06-10 19:30:03,2022-06-10 19:30:04,112.970,236.54,78.48,20.03,335.39,463.74,520.76,416.89,...,0.00,17.26,17.26,0.00,10.35,0.0,0.00,20.70,0.00,1.099
7186,2022-06-10 19:30:04,2022-06-10 19:30:05,112.985,245.75,77.74,23.07,359.93,397.88,583.10,328.57,...,0.00,34.56,0.00,0.00,0.00,0.0,10.37,0.00,10.37,1.099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8437,2022-06-10 19:50:55,2022-06-10 19:50:56,4967.450,421.25,19.48,0.42,3335.21,2022.65,1313.25,865.19,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,1.789
8438,2022-06-10 19:50:56,2022-06-10 19:50:57,4964.110,436.60,23.63,0.84,3195.42,2292.37,1463.05,747.03,...,0.00,0.00,17.30,0.00,0.00,0.0,0.00,0.00,0.00,1.787
8439,2022-06-10 19:50:57,2022-06-10 19:50:58,4960.810,428.02,22.54,0.66,3454.18,2121.47,1333.82,626.48,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,1.788
8440,2022-06-10 19:50:58,2022-06-10 19:50:59,4957.520,391.70,20.16,0.56,2883.56,2058.74,1085.05,1105.33,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,1.788
8441,2022-06-10 19:50:59,2022-06-10 19:51:00,4954.340,357.65,17.42,0.40,2639.20,1691.58,1313.85,626.50,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,1.788

In [1457]:
SMPS1110b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220610_RA_L2_20230131T122821.ict')
start_index = np.where(SMPS1110b["Time_Start"]==pd.to_datetime("2022-06-10 19:30:00"))
stop_index = np.where(SMPS1110b["Time_Start"]==pd.to_datetime("2022-06-10 19:51:00"))
    
SMPS1110b_subset = SMPS1110b[start_index[0][0]:stop_index[0][0]]
SMPS1110b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
7182,2022-06-10 19:30:00,2022-06-10 19:30:01,113.375,366.64,3.87,0.04,0.0,0.0,0.0,0.00,...,217.59,974.25,1034.42,838.48,836.94,726.33,852.75,566.26,607.64,1.100
7183,2022-06-10 19:30:01,2022-06-10 19:30:02,113.225,366.64,3.87,0.04,0.0,0.0,0.0,0.00,...,217.59,974.25,1034.42,838.48,836.94,726.33,852.75,566.26,607.64,1.100
7184,2022-06-10 19:30:02,2022-06-10 19:30:03,113.065,366.64,3.87,0.04,0.0,0.0,0.0,0.00,...,217.59,974.25,1034.42,838.48,836.94,726.33,852.75,566.26,607.64,1.100
7185,2022-06-10 19:30:03,2022-06-10 19:30:04,112.970,366.64,3.87,0.04,0.0,0.0,0.0,0.00,...,217.59,974.25,1034.42,838.48,836.94,726.33,852.75,566.26,607.64,1.100
7186,2022-06-10 19:30:04,2022-06-10 19:30:05,112.985,366.64,3.87,0.04,0.0,0.0,0.0,0.00,...,217.59,974.25,1034.42,838.48,836.94,726.33,852.75,566.26,607.64,1.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8437,2022-06-10 19:50:55,2022-06-10 19:50:56,4967.450,3678.74,16.84,0.16,NaN,NaN,NaN,4381.73,...,4966.54,4690.58,4207.90,3266.06,3234.08,2605.39,2355.98,2168.97,1714.54,1.787
8438,2022-06-10 19:50:56,2022-06-10 19:50:57,4964.110,3678.74,16.84,0.16,NaN,NaN,NaN,4381.73,...,4966.54,4690.58,4207.90,3266.06,3234.08,2605.39,2355.98,2168.97,1714.54,1.787
8439,2022-06-10 19:50:57,2022-06-10 19:50:58,4960.810,3678.74,16.84,0.16,NaN,NaN,NaN,4381.73,...,4966.54,4690.58,4207.90,3266.06,3234.08,2605.39,2355.98,2168.97,1714.54,1.787
8440,2022-06-10 19:50:58,2022-06-10 19:50:59,4957.520,3678.74,16.84,0.16,NaN,NaN,NaN,4381.73,...,4966.54,4690.58,4207.90,3266.06,3234.08,2605.39,2355.98,2168.97,1714.54,1.787
8441,2022-06-10 19:50:59,2022-06-10 19:51:00,4954.340,3678.74,16.84,0.16,NaN,NaN,NaN,4381.73,...,4966.54,4690.58,4207.90,3266.06,3234.08,2605.39,2355.98,2168.97,1714.54,1.787

In [1458]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS1110b_subset.drop(columns=columns_to_remove, inplace=True)

In [1459]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS1110b_subset.drop(columns=columns_to_remove, inplace=True)

In [1460]:
data1110b = add_sum(LAS1110b_subset, SMPS1110b_subset)

In [1461]:
#binning data1110b into groups
nbins = 100
bins_1000 = np.linspace(data1110b.GPS_Altitude_THORNHILL.min(), data1110b.GPS_Altitude_THORNHILL.max(), nbins+1)
data1110b['Bins'] = pd.cut(data1110b['GPS_Altitude_THORNHILL'], bins_1000)
data1110b_1000 = data1110b.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data1110b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data1110b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_10001110b = data1110b_1000[start_index:stop_index]
DAY1000_subset_10001110b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(112.97, 161.788]",2022-06-10 19:32:19.500,2022-06-10 19:32:20.500,115.2325,481.010,400.005,418.950,476.800,573.270,648.970,664.650,...,170.68,441.71,833.91,971.38,838.48,931.86,920.94,1041.72,1037.72,739.42
"(161.788, 210.605]",2022-06-10 19:34:43.500,2022-06-10 19:34:44.500,181.9325,528.320,315.210,427.180,389.265,564.160,583.135,652.625,...,368.14,397.27,561.03,741.66,797.02,1456.47,1072.84,778.48,995.21,536.56
"(210.605, 259.422]",2022-06-10 19:34:52.000,2022-06-10 19:34:53.000,232.4700,528.650,431.560,458.260,448.300,552.380,629.330,595.650,...,368.14,397.27,561.03,741.66,797.02,1456.47,1072.84,778.48,995.21,536.56
"(259.422, 308.24]",2022-06-10 19:35:00.000,2022-06-10 19:35:01.000,286.4950,433.160,500.100,436.830,506.370,612.660,593.390,570.080,...,368.14,397.27,561.03,741.66,797.02,1456.47,1072.84,778.48,995.21,536.56
"(308.24, 357.058]",2022-06-10 19:35:09.000,2022-06-10 19:35:10.000,332.9850,408.960,366.040,354.240,479.580,572.940,666.010,652.280,...,368.14,397.27,561.03,741.66,797.02,1456.47,1072.84,778.48,995.21,536.56
"(357.058, 405.875]",2022-06-10 19:35:18.000,2022-06-10 19:35:19.000,381.7600,479.800,430.910,457.010,448.980,551.090,611.440,677.650,...,368.14,397.27,561.03,741.66,797.02,1456.47,1072.84,778.48,995.21,536.56
"(405.875, 454.692]",2022-06-10 19:35:27.000,2022-06-10 19:35:28.000,429.9200,410.110,430.060,460.260,510.190,478.950,519.840,625.720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(454.692, 503.51]",2022-06-10 19:35:36.000,2022-06-10 19:35:37.000,479.5150,505.220,598.030,500.410,627.330,610.670,684.950,594.800,...,310.39,848.03,700.79,325.60,683.11,1089.03,664.38,527.21,412.82,768.59
"(503.51, 552.328]",2022-06-10 19:35:45.000,2022-06-10 19:35:46.000,529.9600,552.780,597.260,501.410,565.850,709.100,572.010,680.520,...,310.39,848.03,700.79,325.60,683.11,1089.03,664.38,527.21,412.82,768.59
"(552.328, 601.145]",2022-06-10 19:35:54.500,2022-06-10 19:35:55.500,579.6425,515.375,565.230,479.715,508.215,574.525,750.445,679.125,...,310.39,848.03,700.79,325.60,683.11,1089.03,664.38,527.21,412.82,768.59
"(601.145, 649.963]",2022-06-10 19:36:04.000,2022-06-10 19:36:05.000,625.7800,529.650,496.900,522.480,596.390,612.170,607.280,676.750,...,310.39,848.03,700.79,325.60,683.11,1089.03,664.38,527.21,412.82,768.59
"(649.963, 698.78]",2022-06-10 19:36:13.500,2022-06-10 19:36:14.500,673.3900,503.685,448.295,541.105,522.945,593.095,555.010,678.675,...,310.39,848.03,700.79,325.60,683.11,1089.03,664.38,527.21,412.82,768.59
"(698.78, 747.598]",2022-06-10 19:36:23.500,2022-06-10 19:36:24.500,723.1875,528.440,448.735,533.315,538.175,553.960,704.965,597.560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(747.598, 796.415]",2022-06-10 19:36:33.000,2022-06-10 19:36:34.000,771.1800,481.750,532.920,543.600,566.530,535.360,683.390,570.080,...,868.10,915.00,1094.78,1507.59,859.84,1013.18,867.97,736.82,400.75,659.41
"(796.415, 845.233]",2022-06-10 19:36:42.500,2022-06-10 19:36:43.500,820.5325,612.675,547.725,604.645,583.135,649.595,665.980,610.965,...,868.10,915.00,1094.78,1507.59,859.84,1013.18,867.97,736.82,400.75,659.41
"(845.233, 894.05]",2022-06-10 19:36:52.500,2022-06-10 19:36:53.500,868.8350,588.985,547.980,594.235,672.645,639.430,628.645,582.475,...,868.10,915.00,1094.78,1507.59,859.84,1013.18,867.97,736.82,400.75,659.41
"(894.05, 942.868]",2022-06-10 19:37:01.500,2022-06-10 19:37:02.500,916.0325,611.665,563.400,627.105,509.670,618.825,510.375,544.275,...,868.10,915.00,1094.78,1507.59,859.84,1013.18,867.97,736.82,400.75,659.41

In [1462]:
DAY1000_subset_10001110b = DAY1000_subset_10001110b.reset_index(drop=True)

In [1463]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data1110b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data1110b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_30001110b = data1110b_1000[start_index:stop_index]
DAY3000_subset_30001110b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(991.685, 1040.502]",2022-06-10 19:37:18.500,2022-06-10 19:37:19.500,1016.095,600.450,697.655,625.955,613.195,716.250,583.490,583.690,...,868.10,915.00,1094.78,1507.59,859.84,1013.18,867.97,736.82,400.75,659.41
"(1040.502, 1089.32]",2022-06-10 19:37:27.500,2022-06-10 19:37:28.500,1061.385,613.760,597.550,510.130,582.260,591.520,573.100,487.450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1089.32, 1138.138]",2022-06-10 19:37:36.000,2022-06-10 19:37:37.000,1116.890,597.690,795.730,813.130,715.770,686.720,536.300,569.090,...,658.57,835.71,867.62,747.77,1256.37,389.81,803.38,1089.94,952.68,1020.49
"(1138.138, 1186.955]",2022-06-10 19:37:45.500,2022-06-10 19:37:46.500,1157.980,840.205,797.690,887.275,701.650,793.700,628.840,501.475,...,658.57,835.71,867.62,747.77,1256.37,389.81,803.38,1089.94,952.68,1020.49
"(1186.955, 1235.772]",2022-06-10 19:37:54.500,2022-06-10 19:37:55.500,1210.350,889.355,812.620,812.700,670.755,689.080,619.825,542.375,...,658.57,835.71,867.62,747.77,1256.37,389.81,803.38,1089.94,952.68,1020.49
"(1235.772, 1284.59]",2022-06-10 19:38:04.500,2022-06-10 19:38:05.500,1261.140,865.035,846.795,794.260,851.380,753.570,704.750,664.165,...,658.57,835.71,867.62,747.77,1256.37,389.81,803.38,1089.94,952.68,1020.49
"(1284.59, 1333.408]",2022-06-10 19:38:14.500,2022-06-10 19:38:15.500,1308.955,816.465,746.930,813.385,747.320,800.120,728.150,584.145,...,658.57,835.71,867.62,747.77,1256.37,389.81,803.38,1089.94,952.68,1020.49
"(1333.408, 1382.225]",2022-06-10 19:38:22.500,2022-06-10 19:38:23.500,1359.380,853.500,780.410,855.610,747.605,765.515,649.070,556.825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1382.225, 1431.042]",2022-06-10 19:38:31.000,2022-06-10 19:38:32.000,1405.730,768.390,730.290,857.340,656.650,668.150,650.450,542.540,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1431.042, 1479.86]",2022-06-10 19:38:38.500,2022-06-10 19:38:39.500,1457.605,709.675,797.450,742.230,716.790,659.045,564.990,475.680,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1479.86, 1528.678]",2022-06-10 19:38:44.500,2022-06-10 19:38:45.500,1506.020,841.615,929.500,811.800,669.795,781.950,692.905,489.120,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1528.678, 1577.495]",2022-06-10 19:38:51.000,2022-06-10 19:38:52.000,1550.620,891.030,929.270,919.700,808.640,766.520,629.260,435.410,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1577.495, 1626.312]",2022-06-10 19:38:57.500,2022-06-10 19:38:58.500,1603.405,828.345,898.155,843.575,717.430,773.910,573.840,502.320,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1626.312, 1675.13]",2022-06-10 19:39:04.500,2022-06-10 19:39:05.500,1648.050,612.200,714.055,741.165,763.560,801.450,619.775,461.350,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1675.13, 1723.948]",2022-06-10 19:39:12.500,2022-06-10 19:39:13.500,1704.605,673.870,748.520,760.860,687.805,658.315,565.810,542.250,...,330.62,797.63,985.88,646.54,520.89,709.99,622.69,676.95,703.90,663.26
"(1723.948, 1772.765]",2022-06-10 19:39:21.000,2022-06-10 19:39:22.000,1746.240,696.940,730.500,794.450,627.310,747.040,556.760,488.610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1772.765, 1821.583]",2022-06-10 19:39:29.000,2022-06-10 19:39:30.000,1799.070,814.220,730.060,816.060,807.090,704.850,612.800,516.210,...,1420.70,825.31,1023.32,624.89,771.81,707.21,313.09,440.48,351.35,834.92
"(1821.583, 1870.4]",2022-06-10 19:39:37.000,2022-06-10 19:39:38.000,1845.390,720.690,630.540,688.550,658.250,651.050,518.510,516.040,...,1420.70,825.31,1023.32,624.89,771.81,707.21,313.09,440.48,351.35,834.92
"(1870.4, 1919.218]",2022-06-10 19:39:45.500,2022-06-10 19:39:46.500,1897.450,637.685,680.860,709.325,671.995,659.485,611.060,407.500,...,1420.70,825.31,1023.32,624.89,771.81,707.21,313.09,440.48,351.35,834.92
"(1919.218, 1968.035]",2022-06-10 19:39:54.500,2022-06-10 19:39:55.500,1946.580,673.270,697.165,688.830,537.180,592.670,454.085,448.045,...,1420.70,825.31,1023.32,624.89,771.81,707.21,313.09,440.48,351.35,834.92
"(1968.035, 2016.853]",2022-06-10 19:40:05.000,2022-06-10 19:40:06.000,1988.740,529.680,531.940,561.010,506.960,459.780,426.640,325.910,...,1420.70,825.31,1023.32,624.89,771.81,707.21,313.09,440.48,351.35,834.92
"(2016.853, 2065.67]",2022-06-10 19:40:14.000,2022-06-10 19:40:15.000,2039.470,504.390,597.690,520.110,508.980,421.100,315.310,298.550,...,1420.70,825.31,1023.32,624.89,771.81,707.21,313.09,440.48,351.35,834.92
"(2065.67, 2114.488]",2022-06-10 19:40:20.500,2022-06-10 19:40:21.500,2091.845,589.485,615.350,667.845,626.975,525.210,462.980,312.640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2114.488, 2163.305]",2022-06-10 19:40:26.500,2022-06-10 19:40:27.500,2139.375,697.695,713.995,719.980,717.990,688.610,509.360,366.645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2163.305, 2212.122]",2022-06-10 19:40:33.000,2022-06-10 19:40:34.000,2189.800,865.860,1032.420,983.100,747.690,725.150,535.970,407.650,...,245.66,575.27,311.83,606.28,328.45,600.25,508.86,788.27,765.22,606.45
"(2212.122, 2260.94]",2022-06-10 19:40:40.500,2022-06-10 19:40:41.500,2239.130,888.805,1029.280,949.445,896.570,687.085,621.475,501.520,...,245.66,575.27,311.83,606.28,328.45,600.25,508.86,788.27,765.22,606.45
"(2260.94, 2309.757]",2022-06-10 19:40:50.000,2022-06-10 19:40:51.000,2291.960,1009.010,997.260,899.130,777.660,746.520,686.290,462.430,...,245.66,575.27,311.83,606.28,328.45,600.25,508.86,788.27,765.22,606.45
"(2309.757, 2358.575]",2022-06-10 19:41:01.500,2022-06-10 19:41:02.500,2325.575,827.365,780.235,909.000,760.160,783.625,582.410,447.995,...,245.66,575.27,311.83,606.28,328.45,600.25,508.86,788.27,765.22,606.45
"(2358.575, 2407.392]",2022-06-10 19:41:11.500,2022-06-10 19:41:12.500,2386.500,769.635,713.945,855.475,688.110,755.325,601.710,489.075,...,245.66,575.27,311.83,606.28,328.45,600.25,508.86,788.27,765.22,606.45
"(2407.392, 2456.21]",2022-06-10 19:41:19.500,2022-06-10 19:41:20.500,2431.045,683.640,713.920,688.220,656.585,582.730,527.385,529.335,...,245.66,575.27,311.83,606.28,328.45,600.25,508.86,788.27,765.22,606.45
"(2456.21, 2505.028]",2022-06-10 19:41:26.500,2022-06-10 19:41:27.500,2483.825,708.915,748.315,813.855,702.890,544.785,509.980,420.855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2505.028, 2553.845]",2022-06-10 19:41:33.500,2022-06-10 19:41:34.500,2531.875,744.545,730.705,605.955,613.075,534.880,425.470,366.665,...,127.83,203.49,682.35,303.05,642.10,613.48,450.53,557.09,683.53,701.07
"(2553.845, 2602.662]",2022-06-10 19:41:41.500,2022-06-10 19:41:42.500,2576.025,613.125,880.030,718.220,538.450,554.630,408.105,420.980,...,127.83,203.49,682.35,303.05,642.10,613.48,450.53,557.09,683.53,701.07
"(2602.662, 2651.48]",2022-06-10 19:41:50.500,2022-06-10 19:41:51.500,2624.965,601.425,680.050,585.060,567.740,516.310,416.390,366.545,...,127.83,203.49,682.35,303.05,642.10,613.48,450.53,557.09,683.53,701.07
"(2651.48, 2700.298]",2022-06-10 19:41:59.500,2022-06-10 19:42:00.500,2674.705,601.275,631.625,521.555,523.125,554.670,305.690,312.555,...,127.83,203.49,682.35,303.05,642.10,613.48,450.53,557.09,683.53,701.07
"(2700.298, 2749.115]",2022-06-10 19:42:07.500,2022-06-10 19:42:08.500,2723.650,671.920,664.275,531.800,493.755,506.795,426.250,394.040,...,127.83,203.49,682.35,303.05,642.10,613.48,450.53,557.09,683.53,701.07
"(2749.115, 2797.932]",2022-06-10 19:42:15.000,2022-06-10 19:42:16.000,2770.640,697.020,432.180,521.980,478.300,400.780,315.330,271.340,...,127.83,203.49,682.35,303.05,642.10,613.48,450.53,557.09,683.53,701.07
"(2797.932, 2846.75]",2022-06-10 19:42:22.500,2022-06-10 19:42:23.500,2821.970,420.870,332.595,261.190,269.315,248.105,185.250,190.245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2846.75, 2895.568]",2022-06-10 19:42:31.000,2022-06-10 19:42:32.000,2870.720,456.670,332.260,334.170,179.530,248.510,166.590,108.540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2895.568, 2944.385]",2022-06-10 19:42:39.500,2022-06-10 19:42:40.500,2920.980,709.245,581.880,375.220,328.830,200.895,148.155,94.950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2944.385, 2993.202]",2022-06-10 19:42:48.000,2022-06-10 19:42:49.000,2969.720,888.030,565.450,541.870,268.860,210.350,166.380,81.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2993.202, 3042.02]",2022-06-10 19:42:57.000,2022-06-10 19:42:58.000,3018.560,961.230,763.790,521.740,328.630,268.290,148.140,54.390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3042.02, 3090.838]",2022-06-10 19:43:06.000,2022-06-10 19:43:07.000,3065.410,1010.000,730.570,541.920,299.060,209.820,110.930,81.460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3090.838, 3139.655]",2022-06-10 19:43:13.500,2022-06-10 19:43:14.500,3114.565,1152.950,779.875,501.545,388.405,229.335,110.980,54.260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3139.655, 3188.472]",2022-06-10 19:43:19.500,2022-06-10 19:43:20.500,3164.010,1130.435,781.680,636.725,269.440,229.540,111.230,95.110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3188.472, 3237.29]",2022-06-10 19:43:26.000,2022-06-10 19:43:27.000,3214.080,1440.400,896.840,584.260,388.670,229.550,92.640,81.280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3237.29, 3286.108]",2022-06-10 19:43:33.000,2022-06-10 19:43:34.000,3263.850,1225.660,997.370,666.780,418.140,267.710,129.440,54.310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3286.108, 3334.925]",2022-06-10 19:43:39.500,2022-06-10 19:43:40.500,3311.450,1393.735,896.440,668.575,388.270,220.090,129.695,67.880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3334.925, 3383.742]",2022-06-10 19:43:45.500,2022-06-10 19:43:46.500,3359.635,1513.955,1062.445,648.285,373.580,363.440,92.565,95.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3383.742, 3432.56]",2022-06-10 19:43:52.500,2022-06-10 19:43:53.500,3415.825,1583.825,1094.830,699.310,388.420,334.240,157.490,94.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1464]:
DAY3000_subset_30001110b = DAY3000_subset_30001110b.reset_index(drop=True)

In [1465]:
LAS10b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220610_RA_L2_20230131T122328.ict')
start_index = np.where(LAS10b["Time_Start"]==pd.to_datetime("2022-06-10 20:25:00"))
stop_index = np.where(LAS10b["Time_Start"]==pd.to_datetime("2022-06-10 20:35:00"))
    
LAS10b_subset = LAS10b[start_index[0][0]:stop_index[0][0]]
LAS10b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10482,2022-06-10 20:25:00,2022-06-10 20:25:01,133.810,339.63,64.61,10.52,940.18,932.88,544.25,899.96,...,0.00,17.37,17.36,0.00,0.0,0.00,20.84,0.00,0.00,1.102
10483,2022-06-10 20:25:01,2022-06-10 20:25:02,133.615,316.72,111.30,32.99,933.59,661.85,540.78,476.34,...,51.65,51.68,34.49,0.00,0.0,0.00,10.35,10.34,10.34,1.102
10484,2022-06-10 20:25:02,2022-06-10 20:25:03,133.015,307.95,51.92,5.05,675.45,700.52,565.51,809.58,...,52.09,34.74,17.38,13.03,0.0,10.42,0.00,0.00,0.00,1.103
10485,2022-06-10 20:25:03,2022-06-10 20:25:04,131.855,286.66,51.99,5.28,552.71,564.50,563.92,627.47,...,0.00,17.31,51.91,25.96,0.0,10.38,0.00,0.00,0.00,1.100
10486,2022-06-10 20:25:04,2022-06-10 20:25:05,130.265,288.17,45.96,4.44,528.23,431.42,666.10,747.26,...,25.91,0.00,34.58,12.97,0.0,10.37,0.00,0.00,0.00,1.101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11077,2022-06-10 20:34:55,2022-06-10 20:34:56,4924.170,211.89,12.55,0.50,1683.35,997.27,543.25,478.22,...,25.94,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.780
11078,2022-06-10 20:34:56,2022-06-10 20:34:57,4924.550,219.32,11.50,0.27,1465.80,930.29,793.92,388.41,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.780
11079,2022-06-10 20:34:57,2022-06-10 20:34:58,4924.900,201.46,11.80,0.32,1153.81,1196.85,417.75,448.51,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.780
11080,2022-06-10 20:34:58,2022-06-10 20:34:59,4925.210,185.23,10.01,0.25,1297.66,730.52,542.55,537.85,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.780
11081,2022-06-10 20:34:59,2022-06-10 20:35:00,4925.490,187.85,10.27,0.28,1392.62,762.76,689.10,328.90,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,1.780

In [1466]:
SMPS10b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220610_RA_L2_20230131T122821.ict')
start_index = np.where(SMPS10b["Time_Start"]==pd.to_datetime("2022-06-10 20:25:00"))
stop_index = np.where(SMPS10b["Time_Start"]==pd.to_datetime("2022-06-10 20:35:00"))
    
SMPS10b_subset = SMPS10b[start_index[0][0]:stop_index[0][0]]
SMPS10b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10482,2022-06-10 20:25:00,2022-06-10 20:25:01,133.810,3119.92,6.91,0.05,0.0,0.0,0.0,0.0,...,1684.36,1477.32,1509.54,1323.70,896.21,883.71,418.90,714.26,396.26,1.102
10483,2022-06-10 20:25:01,2022-06-10 20:25:02,133.615,3119.92,6.91,0.05,0.0,0.0,0.0,0.0,...,1684.36,1477.32,1509.54,1323.70,896.21,883.71,418.90,714.26,396.26,1.102
10484,2022-06-10 20:25:02,2022-06-10 20:25:03,133.015,3119.92,6.91,0.05,0.0,0.0,0.0,0.0,...,1684.36,1477.32,1509.54,1323.70,896.21,883.71,418.90,714.26,396.26,1.102
10485,2022-06-10 20:25:03,2022-06-10 20:25:04,131.855,3119.92,6.91,0.05,0.0,0.0,0.0,0.0,...,1684.36,1477.32,1509.54,1323.70,896.21,883.71,418.90,714.26,396.26,1.102
10486,2022-06-10 20:25:04,2022-06-10 20:25:05,130.265,3119.92,6.91,0.05,0.0,0.0,0.0,0.0,...,1684.36,1477.32,1509.54,1323.70,896.21,883.71,418.90,714.26,396.26,1.102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11077,2022-06-10 20:34:55,2022-06-10 20:34:56,4924.170,1862.02,8.53,0.08,NaN,NaN,NaN,0.0,...,3307.37,2501.36,3039.15,1740.11,1191.36,1086.99,850.01,843.63,871.88,1.780
11078,2022-06-10 20:34:56,2022-06-10 20:34:57,4924.550,1862.02,8.53,0.08,NaN,NaN,NaN,0.0,...,3307.37,2501.36,3039.15,1740.11,1191.36,1086.99,850.01,843.63,871.88,1.780
11079,2022-06-10 20:34:57,2022-06-10 20:34:58,4924.900,1862.02,8.53,0.08,NaN,NaN,NaN,0.0,...,3307.37,2501.36,3039.15,1740.11,1191.36,1086.99,850.01,843.63,871.88,1.780
11080,2022-06-10 20:34:58,2022-06-10 20:34:59,4925.210,1862.02,8.53,0.08,NaN,NaN,NaN,0.0,...,3307.37,2501.36,3039.15,1740.11,1191.36,1086.99,850.01,843.63,871.88,1.780
11081,2022-06-10 20:34:59,2022-06-10 20:35:00,4925.490,1862.02,8.53,0.08,NaN,NaN,NaN,0.0,...,3307.37,2501.36,3039.15,1740.11,1191.36,1086.99,850.01,843.63,871.88,1.780

In [1467]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS10b_subset.drop(columns=columns_to_remove, inplace=True)

In [1468]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS10b_subset.drop(columns=columns_to_remove, inplace=True)

In [1469]:
data10b = add_sum(LAS10b_subset, SMPS10b_subset)

In [1470]:
#binning data10b into groups
nbins = 100
bins_1000 = np.linspace(data10b.GPS_Altitude_THORNHILL.min(), data10b.GPS_Altitude_THORNHILL.max(), nbins+1)
data10b['Bins'] = pd.cut(data10b['GPS_Altitude_THORNHILL'], bins_1000)
data10b_1000 = data10b.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data10b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data10b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100010b = data10b_1000[start_index:stop_index]
DAY1000_subset_100010b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(119.575, 167.73]",2022-06-10 20:25:54.000,2022-06-10 20:25:55.000,127.6650,626.640,533.320,498.640,536.470,612.990,594.970,599.220,...,173.66,725.82,856.40,924.18,1005.66,1297.80,1048.14,1317.81,1570.10,1005.83
"(167.73, 215.886]",2022-06-10 20:26:49.500,2022-06-10 20:26:50.500,192.9050,553.820,266.250,428.530,538.820,467.350,621.785,461.150,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(215.886, 264.041]",2022-06-10 20:26:53.500,2022-06-10 20:26:54.500,242.3875,575.365,397.525,323.735,432.165,400.480,584.865,623.210,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(264.041, 312.196]",2022-06-10 20:26:57.500,2022-06-10 20:26:58.500,289.1125,431.615,348.810,468.665,373.525,544.015,658.400,624.055,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(312.196, 360.352]",2022-06-10 20:27:02.000,2022-06-10 20:27:03.000,334.1400,458.530,331.930,354.510,360.220,515.170,539.250,596.880,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(360.352, 408.507]",2022-06-10 20:27:07.000,2022-06-10 20:27:08.000,384.2600,385.030,332.510,333.940,387.360,515.540,536.260,570.930,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(408.507, 456.662]",2022-06-10 20:27:11.500,2022-06-10 20:27:12.500,435.1125,348.255,431.100,376.230,418.060,468.010,591.080,500.920,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(456.662, 504.818]",2022-06-10 20:27:15.000,2022-06-10 20:27:16.000,479.9450,359.640,398.590,395.680,477.050,573.440,462.850,543.000,...,359.59,561.26,943.00,860.01,1100.43,830.19,616.07,917.26,1040.79,428.56
"(504.818, 552.973]",2022-06-10 20:27:18.500,2022-06-10 20:27:19.500,525.2150,493.335,381.380,417.035,477.790,526.255,584.235,557.415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(552.973, 601.128]",2022-06-10 20:27:23.000,2022-06-10 20:27:24.000,577.9350,360.530,397.470,333.930,388.420,418.760,498.330,568.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(601.128, 649.284]",2022-06-10 20:27:27.500,2022-06-10 20:27:28.500,628.5050,396.600,448.680,333.695,419.300,440.565,547.605,449.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(649.284, 697.439]",2022-06-10 20:27:31.500,2022-06-10 20:27:32.500,675.9475,348.805,298.440,416.450,433.870,516.525,463.705,489.840,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(697.439, 745.595]",2022-06-10 20:27:35.000,2022-06-10 20:27:36.000,723.7950,288.390,397.710,375.260,418.610,381.410,389.570,514.940,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(745.595, 793.75]",2022-06-10 20:27:38.000,2022-06-10 20:27:39.000,769.0250,361.460,266.840,312.520,239.820,343.120,334.290,432.060,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(793.75, 841.905]",2022-06-10 20:27:41.000,2022-06-10 20:27:42.000,816.7000,336.540,232.720,355.230,239.610,363.680,389.780,434.630,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(841.905, 890.061]",2022-06-10 20:27:44.000,2022-06-10 20:27:45.000,867.0750,359.160,396.530,353.090,420.490,554.800,408.170,408.030,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(890.061, 938.216]",2022-06-10 20:27:47.000,2022-06-10 20:27:48.000,916.5350,336.350,299.010,397.600,358.860,401.400,370.770,407.580,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26

In [1471]:
DAY1000_subset_100010b = DAY1000_subset_100010b.reset_index(drop=True)

In [1472]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data10b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data10b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300010b = data10b_1000[start_index:stop_index]
DAY3000_subset_300010b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(986.371, 1034.527]",2022-06-10 20:27:53.000,2022-06-10 20:27:54.000,1010.110,359.480,365.640,333.630,357.770,478.280,463.130,406.190,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1034.527, 1082.682]",2022-06-10 20:27:56.000,2022-06-10 20:27:57.000,1056.050,409.510,399.470,333.450,328.770,401.920,389.470,380.670,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1082.682, 1130.837]",2022-06-10 20:27:59.000,2022-06-10 20:28:00.000,1102.340,553.740,497.800,459.330,387.880,382.200,444.300,488.250,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1130.837, 1178.993]",2022-06-10 20:28:02.500,2022-06-10 20:28:03.500,1156.145,480.635,365.360,354.230,388.520,439.440,388.880,366.425,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1178.993, 1227.148]",2022-06-10 20:28:06.000,2022-06-10 20:28:07.000,1207.910,383.650,496.930,395.900,357.660,496.490,407.200,379.270,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1227.148, 1275.303]",2022-06-10 20:28:09.000,2022-06-10 20:28:10.000,1253.350,432.400,132.810,375.470,478.090,400.300,408.300,352.830,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1275.303, 1323.459]",2022-06-10 20:28:12.000,2022-06-10 20:28:13.000,1302.510,504.080,398.350,479.350,358.760,420.290,445.260,406.970,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1323.459, 1371.614]",2022-06-10 20:28:15.000,2022-06-10 20:28:16.000,1353.630,433.690,532.580,396.490,597.760,554.320,333.870,380.780,...,416.90,270.89,365.62,663.26,553.71,291.98,879.58,568.36,531.31,398.26
"(1371.614, 1419.769]",2022-06-10 20:28:17.500,2022-06-10 20:28:18.500,1395.860,504.115,663.455,499.925,492.880,467.960,508.730,366.195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1419.769, 1467.925]",2022-06-10 20:28:20.500,2022-06-10 20:28:21.500,1444.250,480.825,565.030,552.825,523.020,621.015,417.400,461.905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1467.925, 1516.08]",2022-06-10 20:28:24.000,2022-06-10 20:28:25.000,1498.780,625.510,632.290,648.230,715.860,536.370,593.300,434.920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1516.08, 1564.236]",2022-06-10 20:28:27.000,2022-06-10 20:28:28.000,1543.120,792.230,564.840,854.400,806.090,670.410,572.810,623.970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1564.236, 1612.391]",2022-06-10 20:28:31.000,2022-06-10 20:28:32.000,1588.890,576.020,697.740,646.880,629.500,708.700,537.340,572.040,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1612.391, 1660.546]",2022-06-10 20:28:35.500,2022-06-10 20:28:36.500,1635.515,564.585,548.520,604.920,762.515,564.745,593.770,502.410,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1660.546, 1708.702]",2022-06-10 20:28:39.500,2022-06-10 20:28:40.500,1682.440,672.675,730.220,583.990,702.550,745.640,518.345,380.335,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1708.702, 1756.857]",2022-06-10 20:28:44.000,2022-06-10 20:28:45.000,1734.010,575.930,730.100,771.140,597.980,746.800,610.180,542.370,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1756.857, 1805.012]",2022-06-10 20:28:48.500,2022-06-10 20:28:49.500,1782.475,658.840,830.520,707.310,969.850,773.730,749.795,568.715,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1805.012, 1853.168]",2022-06-10 20:28:53.000,2022-06-10 20:28:54.000,1828.110,767.390,898.730,731.480,658.510,727.780,572.950,516.760,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1853.168, 1901.323]",2022-06-10 20:28:58.000,2022-06-10 20:28:59.000,1877.070,722.150,665.910,668.940,688.100,669.280,555.070,462.380,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1901.323, 1949.478]",2022-06-10 20:29:03.000,2022-06-10 20:29:04.000,1923.380,721.920,631.850,645.620,747.680,612.470,518.780,380.590,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1949.478, 1997.634]",2022-06-10 20:29:08.000,2022-06-10 20:29:09.000,1973.570,576.720,431.780,500.740,477.520,591.800,407.160,353.590,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(1997.634, 2045.789]",2022-06-10 20:29:12.500,2022-06-10 20:29:13.500,2021.580,396.115,481.380,395.680,597.715,448.920,397.850,352.690,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(2045.789, 2093.944]",2022-06-10 20:29:16.500,2022-06-10 20:29:17.500,2066.505,576.480,597.450,553.130,448.870,391.850,388.925,353.010,...,239.06,372.37,378.93,719.63,846.12,413.26,764.44,409.63,667.34,503.14
"(2093.944, 2142.1]",2022-06-10 20:29:21.000,2022-06-10 20:29:22.000,2118.400,503.980,498.200,521.870,328.910,438.960,295.740,299.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2142.1, 2190.255]",2022-06-10 20:29:25.500,2022-06-10 20:29:26.500,2169.935,384.000,448.220,385.785,447.830,305.570,286.810,284.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2190.255, 2238.41]",2022-06-10 20:29:29.500,2022-06-10 20:29:30.500,2217.135,383.950,614.280,480.230,508.125,401.345,333.320,298.765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2238.41, 2286.566]",2022-06-10 20:29:33.000,2022-06-10 20:29:34.000,2261.890,624.410,698.370,584.450,478.510,458.940,426.460,435.180,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2286.566, 2334.721]",2022-06-10 20:29:36.500,2022-06-10 20:29:37.500,2310.490,636.550,513.990,489.140,581.945,525.165,360.615,257.650,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2334.721, 2382.876]",2022-06-10 20:29:40.000,2022-06-10 20:29:41.000,2362.860,624.780,465.250,521.600,388.280,497.580,370.250,244.190,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2382.876, 2431.032]",2022-06-10 20:29:43.000,2022-06-10 20:29:44.000,2409.820,457.090,565.650,459.260,359.540,420.730,388.690,217.200,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2431.032, 2479.187]",2022-06-10 20:29:46.000,2022-06-10 20:29:47.000,2456.730,456.440,431.810,458.410,418.300,343.680,333.210,244.530,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2479.187, 2527.342]",2022-06-10 20:29:49.000,2022-06-10 20:29:50.000,2501.440,432.910,398.030,417.330,448.760,382.830,314.510,244.170,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2527.342, 2575.498]",2022-06-10 20:29:52.500,2022-06-10 20:29:53.500,2550.330,648.035,547.580,511.785,477.800,334.155,268.505,257.770,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2575.498, 2623.653]",2022-06-10 20:29:56.500,2022-06-10 20:29:57.500,2601.935,660.545,449.025,491.020,493.160,458.500,296.395,353.125,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2623.653, 2671.809]",2022-06-10 20:30:00.500,2022-06-10 20:30:01.500,2651.835,612.740,698.470,543.170,478.650,429.935,277.745,285.030,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2671.809, 2719.964]",2022-06-10 20:30:04.000,2022-06-10 20:30:05.000,2696.990,384.500,497.840,541.230,477.280,381.800,221.780,189.680,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2719.964, 2768.119]",2022-06-10 20:30:07.500,2022-06-10 20:30:08.500,2742.930,588.730,614.890,490.420,403.935,391.895,259.365,285.050,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2768.119, 2816.275]",2022-06-10 20:30:11.500,2022-06-10 20:30:12.500,2794.755,552.610,481.590,563.085,328.710,362.630,333.165,176.355,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2816.275, 2864.43]",2022-06-10 20:30:15.500,2022-06-10 20:30:16.500,2844.600,360.750,332.190,334.245,299.495,219.765,213.285,231.165,...,252.62,265.45,758.77,476.28,609.00,755.20,616.42,577.23,433.95,453.09
"(2864.43, 2912.585]",2022-06-10 20:30:19.500,2022-06-10 20:30:20.500,2891.865,336.195,332.270,260.595,224.090,238.880,148.015,95.050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2912.585, 2960.741]",2022-06-10 20:30:23.500,2022-06-10 20:30:24.500,2937.115,348.025,414.795,260.465,253.825,133.840,138.710,54.275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2960.741, 3008.896]",2022-06-10 20:30:28.000,2022-06-10 20:30:29.000,2986.090,504.730,298.680,333.670,149.710,171.960,111.230,54.360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3008.896, 3057.051]",2022-06-10 20:30:32.500,2022-06-10 20:30:33.500,3033.875,408.560,349.170,239.730,104.595,162.510,139.105,122.235,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3057.051, 3105.207]",2022-06-10 20:30:37.000,2022-06-10 20:30:38.000,3080.960,480.190,298.910,209.010,179.240,133.610,129.490,81.400,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3105.207, 3153.362]",2022-06-10 20:30:41.500,2022-06-10 20:30:42.500,3131.425,528.705,365.235,167.185,149.455,133.775,83.340,54.285,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3153.362, 3201.517]",2022-06-10 20:30:45.000,2022-06-10 20:30:46.000,3175.610,480.370,365.160,250.770,149.560,133.820,147.980,54.280,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3201.517, 3249.673]",2022-06-10 20:30:48.500,2022-06-10 20:30:49.500,3221.495,468.595,382.615,260.750,134.200,105.095,64.865,67.845,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3249.673, 3297.828]",2022-06-10 20:30:52.500,2022-06-10 20:30:53.500,3274.225,612.690,381.665,261.500,209.255,124.475,37.015,27.150,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3297.828, 3345.983]",2022-06-10 20:30:56.000,2022-06-10 20:30:57.000,3320.160,624.430,531.320,375.400,238.910,152.590,74.010,108.500,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3345.983, 3394.139]",2022-06-10 20:30:59.500,2022-06-10 20:31:00.500,3367.990,637.330,415.180,417.345,224.405,172.230,83.340,54.395,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20
"(3394.139, 3442.294]",2022-06-10 20:31:03.500,2022-06-10 20:31:04.500,3420.200,806.230,615.635,282.380,194.385,153.160,83.440,108.710,...,1224.24,1226.84,1263.66,1103.32,1021.01,634.73,253.49,390.74,729.85,306.20

In [1473]:
DAY3000_subset_3000a = DAY3000_subset_3000a.reset_index(drop=True)

In [1474]:
LAS11 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220611_RA_L1_20230131T122329.ict')
start_index = np.where(LAS11["Time_Start"]==pd.to_datetime("2022-06-11 15:24:00"))
stop_index = np.where(LAS11["Time_Start"]==pd.to_datetime("2022-06-11 15:42:00"))
    
LAS11_subset = LAS11[start_index[0][0]:stop_index[0][0]]
LAS11_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10800,2022-06-11 15:24:00,2022-06-11 15:24:01,137.985,225.29,52.01,8.09,263.53,364.63,457.23,447.21,...,0.00,17.26,17.26,0.00,0.00,10.35,10.35,0.00,0.0,1.096
10801,2022-06-11 15:24:01,2022-06-11 15:24:02,138.245,224.89,76.39,18.50,433.61,565.98,230.39,329.55,...,0.00,0.00,17.34,0.00,0.00,20.82,10.41,10.41,0.0,1.096
10802,2022-06-11 15:24:02,2022-06-11 15:24:03,138.485,214.03,51.15,7.38,432.22,233.00,312.79,239.00,...,0.00,17.30,17.31,12.97,10.37,0.00,10.38,0.00,0.0,1.096
10803,2022-06-11 15:24:03,2022-06-11 15:24:04,138.740,243.36,39.81,2.96,289.57,400.39,251.21,480.35,...,0.00,34.74,17.37,0.00,10.42,0.00,0.00,0.00,0.0,1.096
10804,2022-06-11 15:24:04,2022-06-11 15:24:05,139.035,227.53,81.97,16.91,457.11,366.09,251.02,239.43,...,25.99,17.33,51.97,12.99,10.39,20.78,0.00,10.39,0.0,1.096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11875,2022-06-11 15:41:55,2022-06-11 15:41:56,4701.700,581.87,27.91,0.63,4307.12,2960.38,1715.58,1017.20,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,1.730
11876,2022-06-11 15:41:56,2022-06-11 15:41:57,4708.440,537.41,26.19,0.61,3841.25,2920.30,1585.42,1164.83,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,1.732
11877,2022-06-11 15:41:57,2022-06-11 15:41:58,4714.800,471.79,22.76,0.52,3606.58,2426.28,1419.26,807.82,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,1.733
11878,2022-06-11 15:41:58,2022-06-11 15:41:59,4720.960,476.99,24.40,0.63,3389.10,2392.27,1607.41,956.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,1.735
11879,2022-06-11 15:41:59,2022-06-11 15:42:00,4726.910,484.45,26.96,0.95,3794.93,2157.99,1501.56,806.57,...,0.00,0.00,17.31,0.00,0.00,0.00,0.00,0.00,0.0,1.735

In [1475]:
SMPS11 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220611_RA_L1_20230131T122822.ict')
start_index = np.where(SMPS11["Time_Start"]==pd.to_datetime("2022-06-11 15:24:00"))
stop_index = np.where(SMPS11["Time_Start"]==pd.to_datetime("2022-06-11 15:42:00"))
    
SMPS11_subset = SMPS11[start_index[0][0]:stop_index[0][0]]
SMPS11_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10800,2022-06-11 15:24:00,2022-06-11 15:24:01,137.985,384.27,3.83,0.04,0.0,0.0,0.0,0.0,...,199.91,762.62,857.45,1055.11,1483.20,880.79,875.62,431.06,315.76,1.096
10801,2022-06-11 15:24:01,2022-06-11 15:24:02,138.245,384.27,3.83,0.04,0.0,0.0,0.0,0.0,...,199.91,762.62,857.45,1055.11,1483.20,880.79,875.62,431.06,315.76,1.096
10802,2022-06-11 15:24:02,2022-06-11 15:24:03,138.485,384.27,3.83,0.04,0.0,0.0,0.0,0.0,...,199.91,762.62,857.45,1055.11,1483.20,880.79,875.62,431.06,315.76,1.096
10803,2022-06-11 15:24:03,2022-06-11 15:24:04,138.740,384.27,3.83,0.04,0.0,0.0,0.0,0.0,...,199.91,762.62,857.45,1055.11,1483.20,880.79,875.62,431.06,315.76,1.096
10804,2022-06-11 15:24:04,2022-06-11 15:24:05,139.035,384.27,3.83,0.04,0.0,0.0,0.0,0.0,...,199.91,762.62,857.45,1055.11,1483.20,880.79,875.62,431.06,315.76,1.096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11875,2022-06-11 15:41:55,2022-06-11 15:41:56,4701.700,4492.17,20.59,0.20,NaN,NaN,NaN,0.0,...,5886.08,6154.82,4304.46,5146.92,3786.81,3637.93,2643.29,2687.39,2353.27,1.741
11876,2022-06-11 15:41:56,2022-06-11 15:41:57,4708.440,4492.17,20.59,0.20,NaN,NaN,NaN,0.0,...,5886.08,6154.82,4304.46,5146.92,3786.81,3637.93,2643.29,2687.39,2353.27,1.741
11877,2022-06-11 15:41:57,2022-06-11 15:41:58,4714.800,4492.17,20.59,0.20,NaN,NaN,NaN,0.0,...,5886.08,6154.82,4304.46,5146.92,3786.81,3637.93,2643.29,2687.39,2353.27,1.741
11878,2022-06-11 15:41:58,2022-06-11 15:41:59,4720.960,4492.17,20.59,0.20,NaN,NaN,NaN,0.0,...,5886.08,6154.82,4304.46,5146.92,3786.81,3637.93,2643.29,2687.39,2353.27,1.741
11879,2022-06-11 15:41:59,2022-06-11 15:42:00,4726.910,4492.17,20.59,0.20,NaN,NaN,NaN,0.0,...,5886.08,6154.82,4304.46,5146.92,3786.81,3637.93,2643.29,2687.39,2353.27,1.741

In [1476]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS11_subset.drop(columns=columns_to_remove, inplace=True)

In [1477]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS11_subset.drop(columns=columns_to_remove, inplace=True)

In [1478]:
data11 = add_sum(LAS11_subset, SMPS11_subset)

In [1479]:
#binning data11 into groups
nbins = 100
bins_1000 = np.linspace(data11.GPS_Altitude_THORNHILL.min(), data11.GPS_Altitude_THORNHILL.max(), nbins+1)
data11['Bins'] = pd.cut(data11['GPS_Altitude_THORNHILL'], bins_1000)
data11_1000 = data11.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data11_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data11_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100011 = data11_1000[start_index:stop_index]
DAY1000_subset_100011

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(137.295, 183.191]",2022-06-11 15:24:38.000,2022-06-11 15:24:39.000,139.4050,361.070,266.730,293.280,356.680,440.430,536.660,597.040,...,0.0,414.78,355.25,630.23,578.32,645.64,573.08,628.04,487.98,318.83
"(183.191, 229.087]",2022-06-11 15:25:26.500,2022-06-11 15:25:27.500,206.6225,204.210,232.510,270.975,313.710,410.970,537.020,476.360,...,0.0,414.78,355.25,630.23,578.32,645.64,573.08,628.04,487.98,318.83
"(229.087, 274.983]",2022-06-11 15:25:52.000,2022-06-11 15:25:53.000,248.9200,240.180,232.650,271.650,270.020,419.670,459.810,517.100,...,168.3,185.47,566.79,382.75,286.57,572.76,377.52,336.59,55.13,216.34
"(274.983, 320.88]",2022-06-11 15:26:15.000,2022-06-11 15:26:16.000,294.7700,240.930,198.490,188.540,298.900,362.510,408.690,515.860,...,168.3,185.47,566.79,382.75,286.57,572.76,377.52,336.59,55.13,216.34
"(320.88, 366.776]",2022-06-11 15:26:29.000,2022-06-11 15:26:30.000,343.1150,215.350,199.020,228.940,269.550,419.790,462.790,489.350,...,0.0,125.39,148.91,264.96,395.25,567.05,259.64,445.15,170.63,414.56
"(366.776, 412.672]",2022-06-11 15:26:42.500,2022-06-11 15:26:43.500,394.6075,239.550,199.770,291.915,328.975,392.580,507.730,488.555,...,0.0,125.39,148.91,264.96,395.25,567.05,259.64,445.15,170.63,414.56
"(412.672, 458.568]",2022-06-11 15:26:58.000,2022-06-11 15:26:59.000,434.9900,264.840,297.870,250.160,298.460,402.080,426.660,432.900,...,0.0,125.39,148.91,264.96,395.25,567.05,259.64,445.15,170.63,414.56
"(458.568, 504.464]",2022-06-11 15:27:15.500,2022-06-11 15:27:16.500,479.7575,324.825,299.205,281.555,329.165,363.185,445.360,407.595,...,0.0,125.39,148.91,264.96,395.25,567.05,259.64,445.15,170.63,414.56
"(504.464, 550.36]",2022-06-11 15:27:29.500,2022-06-11 15:27:30.500,527.8900,335.610,298.540,333.890,359.765,373.385,433.730,393.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(550.36, 596.256]",2022-06-11 15:27:40.500,2022-06-11 15:27:41.500,576.3850,312.555,282.305,313.110,329.045,391.860,434.895,394.480,...,0.0,172.38,115.94,180.05,372.22,303.81,380.65,331.55,462.14,407.66
"(596.256, 642.153]",2022-06-11 15:27:50.500,2022-06-11 15:27:51.500,612.2400,336.075,316.010,323.530,328.715,391.805,333.220,380.150,...,0.0,172.38,115.94,180.05,372.22,303.81,380.65,331.55,462.14,407.66
"(642.153, 688.049]",2022-06-11 15:28:01.000,2022-06-11 15:28:02.000,664.1650,335.840,265.980,333.320,298.670,362.940,371.110,379.820,...,0.0,172.38,115.94,180.05,372.22,303.81,380.65,331.55,462.14,407.66
"(688.049, 733.945]",2022-06-11 15:28:10.000,2022-06-11 15:28:11.000,710.7850,383.260,299.460,271.110,328.090,342.760,370.380,325.790,...,0.0,172.38,115.94,180.05,372.22,303.81,380.65,331.55,462.14,407.66
"(733.945, 779.841]",2022-06-11 15:28:18.000,2022-06-11 15:28:19.000,761.6950,289.080,265.980,250.160,269.630,438.820,333.510,326.010,...,0.0,172.38,115.94,180.05,372.22,303.81,380.65,331.55,462.14,407.66
"(779.841, 825.737]",2022-06-11 15:28:26.500,2022-06-11 15:28:27.500,804.7050,359.035,365.820,311.925,328.215,333.700,333.170,352.070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(825.737, 871.633]",2022-06-11 15:28:35.500,2022-06-11 15:28:36.500,849.7175,336.275,364.340,344.660,313.970,361.970,351.870,353.315,...,0.0,126.33,233.37,366.08,351.31,310.40,333.31,492.28,415.34,229.06
"(871.633, 917.53]",2022-06-11 15:28:49.000,2022-06-11 15:28:50.000,888.5650,409.130,265.540,250.740,358.010,362.970,408.700,325.890,...,0.0,126.33,233.37,366.08,351.31,310.40,333.31,492.28,415.34,229.06
"(917.53, 963.426]",2022-06-11 15:29:05.000,2022-06-11 15:29:06.000,926.5650,287.830,199.660,291.300,269.370,305.450,278.460,271.700,...,0.0,126.33,233.37,366.08,351.31,310.40,333.31,492.28,415.34,229.06

In [1480]:
DAY1000_subset_100011 = DAY1000_subset_100011.reset_index(drop=True)

In [1481]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data11_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data11_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300011 = data11_1000[start_index:stop_index]
DAY3000_subset_300011

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(1009.322, 1055.218]",2022-06-11 15:29:30.500,2022-06-11 15:29:31.500,1037.675,360.680,365.395,323.800,343.640,400.820,333.400,271.635,...,0.00,143.18,81.83,221.19,560.49,142.21,299.48,213.38,304.18,294.95
"(1055.218, 1101.114]",2022-06-11 15:29:43.500,2022-06-11 15:29:44.500,1071.975,324.335,315.945,396.080,358.835,295.855,313.840,298.315,...,0.00,143.18,81.83,221.19,560.49,142.21,299.48,213.38,304.18,294.95
"(1101.114, 1147.01]",2022-06-11 15:29:57.500,2022-06-11 15:29:58.500,1128.065,383.790,315.095,343.835,328.860,353.405,286.895,298.675,...,0.00,143.18,81.83,221.19,560.49,142.21,299.48,213.38,304.18,294.95
"(1147.01, 1192.906]",2022-06-11 15:30:12.500,2022-06-11 15:30:13.500,1171.605,347.480,365.705,291.885,314.220,286.480,259.005,298.440,...,0.00,143.18,81.83,221.19,560.49,142.21,299.48,213.38,304.18,294.95
"(1192.906, 1238.803]",2022-06-11 15:30:26.000,2022-06-11 15:30:27.000,1213.630,383.570,332.390,291.260,357.230,286.950,352.120,325.130,...,0.00,143.18,81.83,221.19,560.49,142.21,299.48,213.38,304.18,294.95
"(1238.803, 1284.699]",2022-06-11 15:30:37.500,2022-06-11 15:30:38.500,1261.425,348.460,299.225,271.575,268.765,324.975,277.755,257.890,...,6.57,243.10,268.52,324.31,261.74,735.40,449.74,378.16,663.50,527.70
"(1284.699, 1330.595]",2022-06-11 15:30:48.000,2022-06-11 15:30:49.000,1310.200,384.990,365.690,374.850,388.370,344.750,315.450,326.470,...,6.57,243.10,268.52,324.31,261.74,735.40,449.74,378.16,663.50,527.70
"(1330.595, 1376.491]",2022-06-11 15:31:00.000,2022-06-11 15:31:01.000,1354.910,408.970,432.020,418.480,419.410,401.570,388.380,298.960,...,6.57,243.10,268.52,324.31,261.74,735.40,449.74,378.16,663.50,527.70
"(1376.491, 1422.387]",2022-06-11 15:31:12.500,2022-06-11 15:31:13.500,1396.245,480.000,465.135,448.475,358.150,440.575,397.445,366.085,...,6.57,243.10,268.52,324.31,261.74,735.40,449.74,378.16,663.50,527.70
"(1422.387, 1468.283]",2022-06-11 15:31:23.000,2022-06-11 15:31:24.000,1444.920,600.430,430.790,583.070,389.390,457.710,445.250,380.790,...,6.57,243.10,268.52,324.31,261.74,735.40,449.74,378.16,663.50,527.70
"(1468.283, 1514.18]",2022-06-11 15:31:32.500,2022-06-11 15:31:33.500,1492.705,589.620,598.280,584.540,448.630,496.560,445.065,461.900,...,220.09,370.80,639.66,349.72,890.86,455.39,462.53,299.56,318.59,555.22
"(1514.18, 1560.076]",2022-06-11 15:31:48.500,2022-06-11 15:31:49.500,1542.805,600.455,582.035,510.580,449.790,448.840,444.895,407.700,...,220.09,370.80,639.66,349.72,890.86,455.39,462.53,299.56,318.59,555.22
"(1560.076, 1605.972]",2022-06-11 15:32:06.000,2022-06-11 15:32:07.000,1594.910,407.400,431.290,394.470,387.190,438.040,388.950,324.890,...,220.09,370.80,639.66,349.72,890.86,455.39,462.53,299.56,318.59,555.22
"(1605.972, 1651.868]",2022-06-11 15:32:17.000,2022-06-11 15:32:18.000,1624.760,433.600,364.750,355.310,359.180,362.390,296.040,272.070,...,220.09,370.80,639.66,349.72,890.86,455.39,462.53,299.56,318.59,555.22
"(1651.868, 1697.764]",2022-06-11 15:32:29.500,2022-06-11 15:32:30.500,1675.185,515.940,581.415,563.190,464.450,496.240,407.595,367.025,...,343.62,184.04,773.98,377.75,632.07,470.76,520.46,387.34,557.96,195.32
"(1697.764, 1743.66]",2022-06-11 15:32:44.500,2022-06-11 15:32:45.500,1717.215,492.140,365.320,417.700,329.075,362.325,277.510,271.430,...,343.62,184.04,773.98,377.75,632.07,470.76,520.46,387.34,557.96,195.32
"(1743.66, 1789.556]",2022-06-11 15:32:57.500,2022-06-11 15:32:58.500,1781.535,456.380,398.085,323.785,343.765,362.970,296.560,217.185,...,343.62,184.04,773.98,377.75,632.07,470.76,520.46,387.34,557.96,195.32
"(1789.556, 1835.453]",2022-06-11 15:33:11.500,2022-06-11 15:33:12.500,1817.610,443.930,415.090,334.625,388.595,305.960,277.290,217.350,...,343.62,184.04,773.98,377.75,632.07,470.76,520.46,387.34,557.96,195.32
"(1835.453, 1881.349]",2022-06-11 15:33:29.000,2022-06-11 15:33:30.000,1848.700,407.850,365.170,292.040,239.130,248.110,240.900,135.840,...,488.70,235.05,471.40,469.24,565.18,712.15,431.61,606.84,535.77,421.72
"(1881.349, 1927.245]",2022-06-11 15:33:43.500,2022-06-11 15:33:44.500,1901.805,420.350,316.035,270.690,179.265,238.815,194.165,203.320,...,488.70,235.05,471.40,469.24,565.18,712.15,431.61,606.84,535.77,421.72
"(1927.245, 1973.141]",2022-06-11 15:33:55.000,2022-06-11 15:33:56.000,1956.560,336.840,299.770,229.720,268.480,210.920,203.350,163.000,...,488.70,235.05,471.40,469.24,565.18,712.15,431.61,606.84,535.77,421.72
"(1973.141, 2019.037]",2022-06-11 15:34:08.000,2022-06-11 15:34:09.000,1995.120,432.150,265.820,291.780,268.830,209.660,203.420,162.890,...,488.70,235.05,471.40,469.24,565.18,712.15,431.61,606.84,535.77,421.72
"(2019.037, 2064.933]",2022-06-11 15:34:23.000,2022-06-11 15:34:24.000,2040.470,359.810,298.840,229.580,208.890,210.350,221.450,189.740,...,488.70,235.05,471.40,469.24,565.18,712.15,431.61,606.84,535.77,421.72
"(2064.933, 2110.829]",2022-06-11 15:34:40.000,2022-06-11 15:34:41.000,2088.200,312.690,330.920,249.970,179.380,171.800,166.770,162.950,...,498.47,745.93,569.40,285.56,458.88,893.22,538.14,224.17,624.59,322.38
"(2110.829, 2156.726]",2022-06-11 15:35:00.000,2022-06-11 15:35:01.000,2135.840,335.090,232.460,251.160,179.590,172.210,166.610,189.930,...,498.47,745.93,569.40,285.56,458.88,893.22,538.14,224.17,624.59,322.38
"(2156.726, 2202.622]",2022-06-11 15:35:18.000,2022-06-11 15:35:19.000,2173.110,312.010,265.100,167.320,209.010,152.800,148.070,162.620,...,498.47,745.93,569.40,285.56,458.88,893.22,538.14,224.17,624.59,322.38
"(2202.622, 2248.518]",2022-06-11 15:35:29.000,2022-06-11 15:35:30.000,2225.230,263.760,266.150,208.780,149.560,114.730,129.460,162.740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2248.518, 2294.414]",2022-06-11 15:35:41.000,2022-06-11 15:35:42.000,2268.110,336.520,298.940,250.050,209.100,190.860,111.030,135.370,...,146.30,451.86,741.51,350.85,341.05,279.81,344.39,277.49,209.27,236.72
"(2294.414, 2340.31]",2022-06-11 15:35:51.500,2022-06-11 15:35:52.500,2314.225,252.405,215.915,146.065,283.710,123.965,111.020,122.125,...,146.30,451.86,741.51,350.85,341.05,279.81,344.39,277.49,209.27,236.72
"(2340.31, 2386.206]",2022-06-11 15:35:58.500,2022-06-11 15:35:59.500,2365.035,276.270,216.235,218.960,164.675,162.640,111.050,94.950,...,146.30,451.86,741.51,350.85,341.05,279.81,344.39,277.49,209.27,236.72
"(2386.206, 2432.102]",2022-06-11 15:36:08.000,2022-06-11 15:36:09.000,2405.850,312.650,199.660,168.070,119.800,133.810,74.160,108.800,...,146.30,451.86,741.51,350.85,341.05,279.81,344.39,277.49,209.27,236.72
"(2432.102, 2477.999]",2022-06-11 15:36:17.000,2022-06-11 15:36:18.000,2453.710,312.360,199.410,188.300,209.070,152.780,92.720,54.330,...,146.30,451.86,741.51,350.85,341.05,279.81,344.39,277.49,209.27,236.72
"(2477.999, 2523.895]",2022-06-11 15:36:24.500,2022-06-11 15:36:25.500,2500.475,228.685,166.135,115.080,89.395,95.695,55.575,54.325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2523.895, 2569.791]",2022-06-11 15:36:32.000,2022-06-11 15:36:33.000,2542.860,192.640,165.890,145.940,119.400,95.630,74.120,54.350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2569.791, 2615.687]",2022-06-11 15:36:39.500,2022-06-11 15:36:40.500,2592.845,179.970,132.845,124.840,89.450,76.515,55.535,54.340,...,383.44,820.37,411.93,174.59,167.41,279.37,194.21,231.50,72.77,208.45
"(2615.687, 2661.583]",2022-06-11 15:36:56.500,2022-06-11 15:36:57.500,2641.980,192.400,132.890,104.510,89.715,57.345,55.450,27.165,...,383.44,820.37,411.93,174.59,167.41,279.37,194.21,231.50,72.77,208.45
"(2661.583, 2707.479]",2022-06-11 15:37:12.000,2022-06-11 15:37:13.000,2683.760,144.020,99.960,104.370,29.760,76.400,18.560,0.000,...,383.44,820.37,411.93,174.59,167.41,279.37,194.21,231.50,72.77,208.45
"(2707.479, 2753.376]",2022-06-11 15:37:17.500,2022-06-11 15:37:18.500,2733.635,167.950,132.800,104.305,104.745,76.340,55.505,40.680,...,383.44,820.37,411.93,174.59,167.41,279.37,194.21,231.50,72.77,208.45
"(2753.376, 2799.272]",2022-06-11 15:37:23.500,2022-06-11 15:37:24.500,2777.460,144.255,132.665,83.360,89.540,57.325,55.530,27.145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2799.272, 2845.168]",2022-06-11 15:37:29.000,2022-06-11 15:37:30.000,2823.450,168.290,132.510,145.900,29.920,95.480,37.040,27.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2845.168, 2891.064]",2022-06-11 15:37:34.000,2022-06-11 15:37:35.000,2870.480,192.120,99.610,125.260,90.090,76.720,36.970,27.210,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(2891.064, 2936.96]",2022-06-11 15:37:39.500,2022-06-11 15:37:40.500,2912.115,444.785,249.205,135.695,119.335,76.330,37.000,27.150,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(2936.96, 2982.856]",2022-06-11 15:37:45.500,2022-06-11 15:37:46.500,2961.590,865.660,515.515,407.120,239.195,124.235,55.590,81.505,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(2982.856, 3028.752]",2022-06-11 15:37:51.500,2022-06-11 15:37:52.500,3004.765,1176.720,880.415,490.840,268.905,162.695,64.775,67.835,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(3028.752, 3074.649]",2022-06-11 15:37:59.000,2022-06-11 15:38:00.000,3052.260,1153.900,1029.820,584.320,329.210,248.540,92.560,81.450,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(3074.649, 3120.545]",2022-06-11 15:38:06.500,2022-06-11 15:38:07.500,3096.195,1609.955,1063.200,792.595,388.120,238.625,101.890,81.365,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(3120.545, 3166.441]",2022-06-11 15:38:14.000,2022-06-11 15:38:15.000,3146.900,1922.940,1295.340,856.740,508.110,267.360,129.790,54.350,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(3166.441, 3212.337]",2022-06-11 15:38:24.000,2022-06-11 15:38:25.000,3181.090,1972.420,1197.030,854.660,448.200,344.310,129.590,54.280,...,1699.24,1314.45,1588.89,1913.00,1315.58,1751.59,1463.76,1168.00,1537.25,459.55
"(3212.337, 3258.233]",2022-06-11 15:38:33.000,2022-06-11 15:38:34.000,3236.060,1751.970,1164.670,812.960,448.450,266.990,129.440,81.410,...,2115.64,2086.17,2438.08,1905.15,1521.60,1338.98,1730.93,1223.07,738.15,1026.75
"(3258.233, 3304.129]",2022-06-11 15:38:40.000,2022-06-11 15:38:41.000,3283.490,1876.620,1330.320,836.770,568.250,325.500,148.290,54.400,...,2115.64,2086.17,2438.08,1905.15,1521.60,1338.98,1730.93,1223.07,738.15,1026.75
"(3304.129, 3350.026]",2022-06-11 15:38:46.500,2022-06-11 15:38:47.500,3322.145,1886.280,1178.830,761.825,612.865,267.445,148.125,67.930,...,2115.64,2086.17,2438.08,1905.15,1521.60,1338.98,1730.93,1223.07,738.15,1026.75
"(3350.026, 3395.922]",2022-06-11 15:38:52.000,2022-06-11 15:38:53.000,3369.220,1922.960,1395.190,918.760,597.470,286.440,203.720,81.340,...,2115.64,2086.17,2438.08,1905.15,1521.60,1338.98,1730.93,1223.07,738.15,1026.75
"(3395.922, 3441.818]",2022-06-11 15:38:57.500,2022-06-11 15:38:58.500,3416.330,2090.585,1344.625,825.230,598.075,286.815,129.725,54.320,...,2115.64,2086.17,2438.08,1905.15,1521.60,1338.98,1730.93,1223.07,738.15,1026.75

In [1482]:
DAY3000_subset_300011 = DAY3000_subset_300011.reset_index(drop=True)

In [1483]:
LAS11b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220611_RA_L2_20230131T122329.ict')
start_index = np.where(LAS11b["Time_Start"]==pd.to_datetime("2022-06-11 20:08:00"))
stop_index = np.where(LAS11b["Time_Start"]==pd.to_datetime("2022-06-11 20:15:39"))
    
LAS11b_subset = LAS11b[start_index[0][0]:stop_index[0][0]]
LAS11b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
9830,2022-06-11 20:08:00,2022-06-11 20:08:01,127.335,221.80,76.42,21.57,360.67,299.46,229.29,508.51,...,25.95,0.00,34.65,0.00,0.00,10.39,0.0,0.0,10.39,1.098
9831,2022-06-11 20:08:01,2022-06-11 20:08:02,125.935,235.86,40.84,4.33,529.11,299.29,563.29,448.70,...,0.00,17.33,17.33,25.98,0.00,10.39,0.0,0.0,0.00,1.098
9832,2022-06-11 20:08:02,2022-06-11 20:08:03,124.040,204.25,44.60,5.03,288.74,398.56,229.24,568.43,...,25.96,34.65,34.66,25.99,0.00,10.40,0.0,0.0,0.00,1.098
9833,2022-06-11 20:08:03,2022-06-11 20:08:04,121.770,196.66,41.31,5.07,409.53,366.03,229.81,389.64,...,25.99,17.34,34.69,0.00,10.41,10.41,0.0,0.0,0.00,1.098
9834,2022-06-11 20:08:04,2022-06-11 20:08:05,119.225,216.98,65.36,19.35,457.56,532.68,292.73,269.57,...,25.98,0.00,52.07,0.00,0.00,0.00,0.0,0.0,10.41,1.098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10284,2022-06-11 20:15:34,2022-06-11 20:15:35,2831.710,90.34,6.70,0.25,551.81,431.03,229.07,149.15,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.430
10285,2022-06-11 20:15:35,2022-06-11 20:15:36,2823.550,84.79,6.30,0.20,408.76,398.68,250.70,89.80,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.429
10286,2022-06-11 20:15:36,2022-06-11 20:15:37,2815.510,86.65,7.64,0.48,551.85,331.36,292.15,149.18,...,0.00,0.00,17.29,0.00,0.00,0.00,0.0,0.0,0.00,1.428
10287,2022-06-11 20:15:37,2022-06-11 20:15:38,2808.060,87.04,6.79,0.23,264.77,498.54,251.58,149.66,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.426
10288,2022-06-11 20:15:38,2022-06-11 20:15:39,2801.570,85.85,6.90,0.25,431.94,364.62,208.69,89.34,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,1.425

In [1484]:
SMPS11b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220611_RA_L2_20230131T122822.ict')
start_index = np.where(SMPS11b["Time_Start"]==pd.to_datetime("2022-06-11 20:08:00"))
stop_index = np.where(SMPS11b["Time_Start"]==pd.to_datetime("2022-06-11 20:15:39"))
    
SMPS11b_subset = SMPS11b[start_index[0][0]:stop_index[0][0]]
SMPS11b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
9830,2022-06-11 20:08:00,2022-06-11 20:08:01,127.335,168.50,1.73,0.02,0.0,0.0,0.0,0.00,...,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95,1.111
9831,2022-06-11 20:08:01,2022-06-11 20:08:02,125.935,168.50,1.73,0.02,0.0,0.0,0.0,0.00,...,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95,1.111
9832,2022-06-11 20:08:02,2022-06-11 20:08:03,124.040,168.50,1.73,0.02,0.0,0.0,0.0,0.00,...,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95,1.111
9833,2022-06-11 20:08:03,2022-06-11 20:08:04,121.770,168.50,1.73,0.02,0.0,0.0,0.0,0.00,...,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95,1.111
9834,2022-06-11 20:08:04,2022-06-11 20:08:05,119.225,168.50,1.73,0.02,0.0,0.0,0.0,0.00,...,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95,1.111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10284,2022-06-11 20:15:34,2022-06-11 20:15:35,2831.710,630.45,2.29,0.02,NaN,NaN,0.0,3212.89,...,482.55,564.96,476.38,488.14,278.26,349.31,222.79,343.72,352.54,1.442
10285,2022-06-11 20:15:35,2022-06-11 20:15:36,2823.550,630.45,2.29,0.02,NaN,NaN,0.0,3212.89,...,482.55,564.96,476.38,488.14,278.26,349.31,222.79,343.72,352.54,1.442
10286,2022-06-11 20:15:36,2022-06-11 20:15:37,2815.510,630.45,2.29,0.02,NaN,NaN,0.0,3212.89,...,482.55,564.96,476.38,488.14,278.26,349.31,222.79,343.72,352.54,1.442
10287,2022-06-11 20:15:37,2022-06-11 20:15:38,2808.060,630.45,2.29,0.02,NaN,NaN,0.0,3212.89,...,482.55,564.96,476.38,488.14,278.26,349.31,222.79,343.72,352.54,1.442
10288,2022-06-11 20:15:38,2022-06-11 20:15:39,2801.570,630.45,2.29,0.02,NaN,NaN,0.0,3212.89,...,482.55,564.96,476.38,488.14,278.26,349.31,222.79,343.72,352.54,1.442

In [1485]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS11b_subset.drop(columns=columns_to_remove, inplace=True)

In [1486]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS11b_subset.drop(columns=columns_to_remove, inplace=True)

In [1487]:
data11b = add_sum(LAS11b_subset, SMPS11b_subset)

In [1488]:
#binning data11b into groups
nbins = 100
bins_1000 = np.linspace(data11b.GPS_Altitude_THORNHILL.min(), data11b.GPS_Altitude_THORNHILL.max(), nbins+1)
data11b['Bins'] = pd.cut(data11b['GPS_Altitude_THORNHILL'], bins_1000)
data11b_1000 = data11b.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data11b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data11b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100011b = data11b_1000[start_index:stop_index]
DAY1000_subset_100011b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(108.925, 139.393]",2022-06-11 20:08:07.500,2022-06-11 20:08:08.500,117.8975,300.355,299.345,270.715,343.930,342.900,352.550,407.250,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(139.393, 169.862]",2022-06-11 20:08:18.500,2022-06-11 20:08:19.500,155.3050,215.815,281.230,207.695,282.920,266.745,295.745,271.110,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(169.862, 200.33]",2022-06-11 20:08:22.000,2022-06-11 20:08:23.000,184.5700,216.400,132.340,208.510,180.010,210.270,370.530,407.440,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(200.33, 230.799]",2022-06-11 20:08:25.500,2022-06-11 20:08:26.500,214.7325,155.820,182.520,198.155,209.445,286.155,286.475,285.195,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(230.799, 261.267]",2022-06-11 20:08:29.000,2022-06-11 20:08:30.000,247.0700,192.820,232.920,292.220,269.470,267.310,332.930,325.340,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(261.267, 291.736]",2022-06-11 20:08:32.000,2022-06-11 20:08:33.000,275.3900,215.940,132.890,188.190,238.860,402.210,444.070,408.230,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(291.736, 322.204]",2022-06-11 20:08:36.000,2022-06-11 20:08:37.000,308.0950,191.910,265.520,187.540,269.320,438.700,371.170,352.350,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(322.204, 352.673]",2022-06-11 20:08:41.000,2022-06-11 20:08:42.000,332.6500,168.850,166.580,250.210,329.290,304.670,407.810,351.680,...,189.16,82.86,476.70,253.02,368.03,686.03,429.41,370.77,164.00,212.95
"(352.673, 383.141]",2022-06-11 20:08:45.000,2022-06-11 20:08:46.000,364.2550,192.470,299.170,313.490,239.420,363.740,499.680,434.090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(383.141, 413.609]",2022-06-11 20:08:48.000,2022-06-11 20:08:49.000,395.1550,264.620,265.350,313.040,388.980,535.210,388.010,434.090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(413.609, 444.078]",2022-06-11 20:08:52.500,2022-06-11 20:08:53.500,431.5125,228.270,315.800,344.275,343.910,391.575,398.950,475.160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(444.078, 474.546]",2022-06-11 20:08:59.000,2022-06-11 20:09:00.000,459.2800,216.780,330.890,333.960,358.290,458.580,445.210,434.300,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(474.546, 505.015]",2022-06-11 20:09:05.000,2022-06-11 20:09:06.000,488.5650,216.560,299.500,272.540,327.960,402.190,333.870,380.870,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(505.015, 535.483]",2022-06-11 20:09:10.000,2022-06-11 20:09:11.000,518.7700,264.090,198.540,290.600,328.340,400.240,351.500,407.380,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(535.483, 565.952]",2022-06-11 20:09:14.000,2022-06-11 20:09:15.000,551.3300,239.600,199.730,291.380,268.570,209.650,480.160,435.720,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(565.952, 596.42]",2022-06-11 20:09:17.000,2022-06-11 20:09:18.000,579.7100,264.460,299.130,333.530,417.190,380.970,424.680,488.900,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(596.42, 626.889]",2022-06-11 20:09:21.000,2022-06-11 20:09:22.000,612.3350,457.800,233.070,292.260,357.720,402.060,480.250,379.190,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(626.889, 657.357]",2022-06-11 20:09:26.500,2022-06-11 20:09:27.500,640.9700,409.450,349.395,312.810,255.020,449.100,462.295,421.185,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(657.357, 687.826]",2022-06-11 20:09:32.500,2022-06-11 20:09:33.500,670.7825,251.950,314.915,343.375,358.890,344.055,416.030,421.170,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(687.826, 718.294]",2022-06-11 20:09:37.500,2022-06-11 20:09:38.500,701.1000,336.245,414.995,323.155,283.675,324.515,369.770,420.585,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(718.294, 748.762]",2022-06-11 20:09:41.000,2022-06-11 20:09:42.000,730.9300,287.730,197.910,373.280,475.350,381.440,408.380,485.720,...,0.00,321.94,667.22,350.24,640.83,315.32,718.40,508.31,541.21,379.51
"(748.762, 779.231]",2022-06-11 20:09:44.500,2022-06-11 20:09:45.500,764.7275,383.795,298.795,384.840,389.125,439.965,397.565,393.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(779.231, 809.699]",2022-06-11 20:09:48.500,2022-06-11 20:09:49.500,798.3125,504.195,448.240,448.895,373.520,505.750,527.415,502.670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(809.699, 840.168]",2022-06-11 20:09:53.000,2022-06-11 20:09:54.000,824.3850,385.360,430.040,396.570,506.560,418.880,408.250,514.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(840.168, 870.636]",2022-06-11 20:09:58.000,2022-06-11 20:09:59.000,852.6800,407.070,429.380,414.490,327.590,474.930,351.120,487.550,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21
"(870.636, 901.105]",2022-06-11 20:10:02.000,2022-06-11 20:10:03.000,884.2350,527.750,463.560,416.010,389.030,458.950,463.310,379.400,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21
"(901.105, 931.573]",2022-06-11 20:10:05.500,2022-06-11 20:10:06.500,914.1000,539.520,615.115,500.170,477.775,458.915,416.420,421.255,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21
"(931.573, 962.042]",2022-06-11 20:10:10.000,2022-06-11 20:10:11.000,946.9750,576.570,531.560,541.820,659.780,553.790,390.070,325.540,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21

In [1489]:
DAY1000_subset_100011b = DAY1000_subset_100011b.reset_index(drop=True)

In [1490]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data11b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data11b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300011b = data11b_1000[start_index:stop_index]
DAY3000_subset_300011b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(992.51, 1022.978]",2022-06-11 20:10:20.500,2022-06-11 20:10:21.500,1007.105,589.760,597.485,636.575,403.775,496.600,463.320,434.715,...,188.61,259.12,738.760,594.34,642.39,472.360,926.22,517.360,467.030,701.21
"(1022.978, 1053.447]",2022-06-11 20:10:24.000,2022-06-11 20:10:25.000,1034.660,625.900,532.200,520.850,478.530,440.050,407.420,488.610,...,188.61,259.12,738.760,594.34,642.39,472.360,926.22,517.360,467.030,701.21
"(1053.447, 1083.915]",2022-06-11 20:10:27.500,2022-06-11 20:10:28.500,1068.345,432.845,632.290,511.115,448.370,468.175,426.615,366.825,...,188.61,259.12,738.760,594.34,642.39,472.360,926.22,517.360,467.030,701.21
"(1083.915, 1114.384]",2022-06-11 20:10:31.000,2022-06-11 20:10:32.000,1100.200,455.690,432.570,395.760,418.250,420.620,295.200,298.900,...,188.61,259.12,738.760,594.34,642.39,472.360,926.22,517.360,467.030,701.21
"(1114.384, 1144.852]",2022-06-11 20:10:34.500,2022-06-11 20:10:35.500,1130.580,528.660,497.430,417.565,417.660,334.240,369.905,407.265,...,188.61,259.12,738.760,594.34,642.39,472.360,926.22,517.360,467.030,701.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2972.959, 3003.428]",2022-06-11 20:14:53.500,2022-06-11 20:14:54.500,2989.120,1176.720,830.315,500.795,417.700,200.480,185.230,67.840,...,336.68,498.68,581.695,608.53,983.20,479.065,646.18,478.705,409.595,517.17
"(3003.428, 3033.896]",2022-06-11 20:15:11.500,2022-06-11 20:15:12.500,3019.390,1344.930,978.545,646.790,492.695,239.360,120.380,95.050,...,309.81,482.55,564.960,476.38,488.14,278.260,349.31,222.790,343.720,352.54
"(3033.896, 3064.365]",2022-06-11 20:15:06.500,2022-06-11 20:15:07.500,3050.175,1643.970,1077.785,699.075,477.425,305.140,157.205,108.440,...,309.81,482.55,564.960,476.38,488.14,278.260,349.31,222.790,343.720,352.54
"(3064.365, 3094.833]",2022-06-11 20:15:02.000,2022-06-11 20:15:03.000,3080.980,1943.610,1228.770,792.480,537.380,324.310,148.120,135.570,...,309.81,482.55,564.960,476.38,488.14,278.260,349.31,222.790,343.720,352.54
"(3094.833, 3125.302]",2022-06-11 20:14:58.000,2022-06-11 20:14:59.000,3109.680,2165.020,1361.750,835.100,776.270,287.440,222.120,108.590,...,309.81,482.55,564.960,476.38,488.14,278.260,349.31,222.790,343.720,352.54

In [1491]:
DAY3000_subset_300011b = DAY3000_subset_300011b.reset_index(drop=True)

In [1492]:
LAS13 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220613_RA_L1_20230131T122330.ict')
start_index = np.where(LAS13["Time_Start"]==pd.to_datetime("2022-06-13 14:30:00"))
stop_index = np.where(LAS13["Time_Start"]==pd.to_datetime("2022-06-13 14:46:00"))
    
LAS13_subset = LAS13[start_index[0][0]:stop_index[0][0]]
LAS13_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10015,2022-06-13 14:30:00,2022-06-13 14:30:01,141.795,131.71,27.62,3.41,192.21,166.12,313.01,209.39,...,0.00,0.0,17.30,12.97,0.0,10.38,0.0,0.0,0.0,1.095
10016,2022-06-13 14:30:01,2022-06-13 14:30:02,141.725,102.29,17.02,1.30,167.96,165.89,166.53,178.91,...,25.88,0.0,17.27,12.96,0.0,0.00,0.0,0.0,0.0,1.095
10017,2022-06-13 14:30:02,2022-06-13 14:30:03,141.615,105.52,15.81,0.81,216.74,66.40,104.18,89.66,...,25.98,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.095
10018,2022-06-13 14:30:03,2022-06-13 14:30:04,141.460,112.04,12.16,0.43,72.10,299.21,292.38,209.03,...,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.095
10019,2022-06-13 14:30:04,2022-06-13 14:30:05,141.275,86.97,10.01,0.36,120.48,166.52,84.06,89.89,...,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10970,2022-06-13 14:45:55,2022-06-13 14:45:56,4504.770,430.34,21.28,0.51,3362.18,1957.49,1355.04,776.95,...,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.693
10971,2022-06-13 14:45:56,2022-06-13 14:45:57,4514.670,462.29,21.98,0.48,3271.92,2428.19,1483.80,927.00,...,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.695
10972,2022-06-13 14:45:57,2022-06-13 14:45:58,4523.980,442.97,20.38,0.45,3437.66,2492.47,1379.01,717.22,...,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.696
10973,2022-06-13 14:45:58,2022-06-13 14:45:59,4532.940,398.49,20.82,0.75,3126.47,2159.63,1254.09,598.78,...,0.00,0.0,17.33,0.00,0.0,0.00,0.0,0.0,0.0,1.698
10974,2022-06-13 14:45:59,2022-06-13 14:46:00,4541.660,443.81,21.83,0.56,3629.31,2092.61,1295.08,986.44,...,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.699

In [1493]:
SMPS13 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220613_RA_L1_20230131T122823.ict')
start_index = np.where(SMPS13["Time_Start"]==pd.to_datetime("2022-06-13 14:30:00"))
stop_index = np.where(SMPS13["Time_Start"]==pd.to_datetime("2022-06-13 14:46:00"))
    
SMPS13_subset = SMPS13[start_index[0][0]:stop_index[0][0]]
SMPS13_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10015,2022-06-13 14:30:00,2022-06-13 14:30:01,141.795,147.5,1.37,0.01,0.0,0.0,0.0,0.0,...,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81,1.095
10016,2022-06-13 14:30:01,2022-06-13 14:30:02,141.725,147.5,1.37,0.01,0.0,0.0,0.0,0.0,...,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81,1.095
10017,2022-06-13 14:30:02,2022-06-13 14:30:03,141.615,147.5,1.37,0.01,0.0,0.0,0.0,0.0,...,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81,1.095
10018,2022-06-13 14:30:03,2022-06-13 14:30:04,141.460,147.5,1.37,0.01,0.0,0.0,0.0,0.0,...,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81,1.095
10019,2022-06-13 14:30:04,2022-06-13 14:30:05,141.275,147.5,1.37,0.01,0.0,0.0,0.0,0.0,...,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81,1.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10970,2022-06-13 14:45:55,2022-06-13 14:45:56,4504.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10971,2022-06-13 14:45:56,2022-06-13 14:45:57,4514.670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10972,2022-06-13 14:45:57,2022-06-13 14:45:58,4523.980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10973,2022-06-13 14:45:58,2022-06-13 14:45:59,4532.940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.727
10974,2022-06-13 14:45:59,2022-06-13 14:46:00,4541.660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.727

In [1494]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS13_subset.drop(columns=columns_to_remove, inplace=True)

In [1495]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS13_subset.drop(columns=columns_to_remove, inplace=True)

In [1496]:
data13 = add_sum(LAS13_subset, SMPS13_subset)

In [1497]:
#binning data13 into groups
nbins = 100
bins_1000 = np.linspace(data13.GPS_Altitude_THORNHILL.min(), data13.GPS_Altitude_THORNHILL.max(), nbins+1)
data13['Bins'] = pd.cut(data13['GPS_Altitude_THORNHILL'], bins_1000)
data13_1000 = data13.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data13_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data13_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100013 = data13_1000[start_index:stop_index]
DAY1000_subset_100013

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(138.195, 182.23]",2022-06-13 14:30:32.000,2022-06-13 14:30:33.000,138.9350,120.480,165.890,167.490,180.190,248.270,278.580,300.170,...,281.52,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81
"(182.23, 226.264]",2022-06-13 14:31:11.500,2022-06-13 14:31:12.500,199.8125,119.945,133.080,208.065,179.990,268.395,322.940,351.635,...,186.02,78.08,329.97,279.85,410.64,491.27,225.56,303.22,226.70,104.82
"(226.264, 270.299]",2022-06-13 14:31:24.000,2022-06-13 14:31:25.000,251.1650,96.350,132.940,146.250,209.760,210.630,352.660,351.510,...,186.02,78.08,329.97,279.85,410.64,491.27,225.56,303.22,226.70,104.82
"(270.299, 314.334]",2022-06-13 14:31:36.500,2022-06-13 14:31:37.500,292.3100,108.000,116.190,145.990,179.505,209.705,277.810,380.255,...,186.02,78.08,329.97,279.85,410.64,491.27,225.56,303.22,226.70,104.82
"(314.334, 358.368]",2022-06-13 14:31:48.000,2022-06-13 14:31:49.000,338.4650,95.800,132.410,104.760,178.970,189.740,276.820,299.450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(358.368, 402.403]",2022-06-13 14:32:01.000,2022-06-13 14:32:02.000,380.4400,96.140,66.590,125.370,119.680,209.690,315.710,352.870,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
"(402.403, 446.438]",2022-06-13 14:32:13.000,2022-06-13 14:32:14.000,422.4850,96.150,99.620,145.810,209.500,191.430,241.190,271.200,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
"(446.438, 490.472]",2022-06-13 14:32:22.000,2022-06-13 14:32:23.000,469.4600,120.340,132.240,104.590,119.760,191.410,259.600,271.810,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
"(490.472, 534.507]",2022-06-13 14:32:33.000,2022-06-13 14:32:34.000,513.9000,120.450,165.600,146.690,178.730,230.090,222.190,270.550,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
"(534.507, 578.542]",2022-06-13 14:32:45.500,2022-06-13 14:32:46.500,556.2900,143.990,149.620,135.620,149.140,191.710,204.125,216.565,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
"(578.542, 622.576]",2022-06-13 14:32:57.000,2022-06-13 14:32:58.000,602.3600,192.400,264.520,231.230,207.940,190.810,204.310,298.420,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
"(622.576, 666.611]",2022-06-13 14:33:09.500,2022-06-13 14:33:10.500,645.1200,492.500,432.410,396.615,388.620,344.080,351.905,339.575,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
"(666.611, 710.645]",2022-06-13 14:33:22.500,2022-06-13 14:33:23.500,687.0825,516.730,481.645,542.540,478.715,477.315,360.995,271.330,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
"(710.645, 754.68]",2022-06-13 14:33:33.500,2022-06-13 14:33:34.500,734.1000,587.635,631.160,552.940,521.685,449.790,416.990,380.260,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
"(754.68, 798.715]",2022-06-13 14:33:45.000,2022-06-13 14:33:46.000,778.7850,552.150,432.490,438.500,387.750,421.140,388.220,380.890,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
"(798.715, 842.749]",2022-06-13 14:33:57.500,2022-06-13 14:33:58.500,820.4725,432.785,382.150,385.855,388.810,362.455,379.350,312.295,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
"(842.749, 886.784]",2022-06-13 14:34:08.500,2022-06-13 14:34:09.500,865.3400,347.590,249.470,301.465,327.405,333.795,360.715,367.145,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
"(886.784, 930.819]",2022-06-13 14:34:18.500,2022-06-13 14:34:19.500,910.9325,385.855,382.400,301.525,387.470,296.205,398.180,379.790,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
"(930.819, 974.853]",2022-06-13 14:34:30.500,2022-06-13 14:34:31.500,954.4525,336.845,298.740,290.950,298.850,287.165,315.495,326.405,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30

In [1498]:
DAY1000_subset_100013 = DAY1000_subset_100013.reset_index(drop=True)

In [1499]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data13_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data13_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300013 = data13_1000[start_index:stop_index]
DAY3000_subset_300013

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(1018.888, 1062.923]",2022-06-13 14:34:55.500,2022-06-13 14:34:56.500,1043.195,335.325,298.530,249.400,238.625,267.500,296.260,244.735,...,0.00,162.88,72.37,119.76,386.95,317.93,385.14,555.48,331.36,509.38
"(1062.923, 1106.957]",2022-06-13 14:35:07.500,2022-06-13 14:35:08.500,1085.090,300.365,282.305,271.495,253.930,286.215,259.250,285.785,...,0.00,162.88,72.37,119.76,386.95,317.93,385.14,555.48,331.36,509.38
"(1106.957, 1150.992]",2022-06-13 14:35:20.000,2022-06-13 14:35:21.000,1131.920,384.200,299.400,353.840,238.680,285.800,258.740,325.930,...,0.00,162.88,72.37,119.76,386.95,317.93,385.14,555.48,331.36,509.38
"(1150.992, 1195.027]",2022-06-13 14:35:35.000,2022-06-13 14:35:36.000,1172.530,408.850,297.810,333.110,238.160,266.030,185.410,216.840,...,0.00,162.88,72.37,119.76,386.95,317.93,385.14,555.48,331.36,509.38
"(1195.027, 1239.061]",2022-06-13 14:35:49.500,2022-06-13 14:35:50.500,1216.515,336.565,265.315,354.740,268.755,333.410,240.970,298.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1239.061, 1283.096]",2022-06-13 14:36:04.000,2022-06-13 14:36:05.000,1262.420,457.200,496.740,416.540,328.080,305.620,277.300,271.570,...,216.63,226.18,510.23,127.98,184.61,261.43,524.19,414.04,427.10,265.25
"(1283.096, 1327.131]",2022-06-13 14:36:18.000,2022-06-13 14:36:19.000,1303.960,478.640,331.530,375.460,358.040,325.130,276.690,271.310,...,216.63,226.18,510.23,127.98,184.61,261.43,524.19,414.04,427.10,265.25
"(1327.131, 1371.165]",2022-06-13 14:36:32.000,2022-06-13 14:36:33.000,1353.230,552.580,432.410,438.630,387.820,362.090,313.940,271.650,...,216.63,226.18,510.23,127.98,184.61,261.43,524.19,414.04,427.10,265.25
"(1371.165, 1415.2]",2022-06-13 14:36:48.500,2022-06-13 14:36:49.500,1387.600,468.755,563.260,375.640,357.360,334.610,268.290,203.310,...,216.63,226.18,510.23,127.98,184.61,261.43,524.19,414.04,427.10,265.25
"(1415.2, 1459.234]",2022-06-13 14:37:02.500,2022-06-13 14:37:03.500,1441.280,468.590,498.545,406.625,373.485,295.925,231.735,217.445,...,0.00,143.22,291.42,485.30,390.95,355.68,293.27,351.79,1082.06,501.63
"(1459.234, 1503.269]",2022-06-13 14:37:18.000,2022-06-13 14:37:19.000,1478.630,552.380,532.290,395.800,358.330,325.070,277.640,163.100,...,0.00,143.22,291.42,485.30,390.95,355.68,293.27,351.79,1082.06,501.63
"(1503.269, 1547.304]",2022-06-13 14:37:33.000,2022-06-13 14:37:34.000,1526.590,479.650,498.300,397.610,329.550,305.610,222.770,190.510,...,0.00,143.22,291.42,485.30,390.95,355.68,293.27,351.79,1082.06,501.63
"(1547.304, 1591.338]",2022-06-13 14:37:47.000,2022-06-13 14:37:48.000,1569.340,503.880,464.410,397.270,329.200,343.110,222.560,216.950,...,0.00,143.22,291.42,485.30,390.95,355.68,293.27,351.79,1082.06,501.63
"(1591.338, 1635.373]",2022-06-13 14:38:01.500,2022-06-13 14:38:02.500,1612.355,480.115,432.255,459.750,313.455,315.185,259.115,189.815,...,219.10,234.51,573.57,204.18,397.70,201.80,361.08,350.54,849.38,583.98
"(1635.373, 1679.408]",2022-06-13 14:38:15.000,2022-06-13 14:38:16.000,1660.910,552.710,530.480,479.640,327.690,286.800,259.070,217.070,...,219.10,234.51,573.57,204.18,397.70,201.80,361.08,350.54,849.38,583.98
"(1679.408, 1723.442]",2022-06-13 14:38:32.500,2022-06-13 14:38:33.500,1700.740,636.730,498.540,437.965,403.650,305.400,221.555,217.010,...,219.10,234.51,573.57,204.18,397.70,201.80,361.08,350.54,849.38,583.98
"(1723.442, 1767.477]",2022-06-13 14:38:48.500,2022-06-13 14:38:49.500,1743.960,565.290,498.125,417.160,403.780,277.260,259.425,190.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1767.477, 1811.512]",2022-06-13 14:39:00.000,2022-06-13 14:39:01.000,1792.450,648.090,497.480,396.310,358.910,343.370,258.680,244.660,...,106.69,140.91,223.07,324.81,486.26,456.22,462.46,606.45,816.90,383.45
"(1811.512, 1855.546]",2022-06-13 14:39:12.500,2022-06-13 14:39:13.500,1835.170,552.370,531.880,490.380,329.675,305.995,268.780,203.745,...,106.69,140.91,223.07,324.81,486.26,456.22,462.46,606.45,816.90,383.45
"(1855.546, 1899.581]",2022-06-13 14:39:27.000,2022-06-13 14:39:28.000,1880.720,505.240,366.010,354.910,299.430,286.100,258.990,217.510,...,106.69,140.91,223.07,324.81,486.26,456.22,462.46,606.45,816.90,383.45
"(1899.581, 1943.616]",2022-06-13 14:39:43.500,2022-06-13 14:39:44.500,1921.710,480.260,431.830,417.110,283.435,257.840,213.140,190.085,...,106.69,140.91,223.07,324.81,486.26,456.22,462.46,606.45,816.90,383.45
"(1943.616, 1987.65]",2022-06-13 14:40:00.500,2022-06-13 14:40:01.500,1963.730,456.230,398.095,344.985,298.620,210.075,194.195,162.775,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.60,452.12
"(1987.65, 2031.685]",2022-06-13 14:40:14.000,2022-06-13 14:40:15.000,2007.860,408.570,299.040,292.280,209.600,229.800,111.150,135.850,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.60,452.12
"(2031.685, 2075.72]",2022-06-13 14:40:27.000,2022-06-13 14:40:28.000,2056.190,433.000,366.030,271.680,239.090,171.830,147.950,108.710,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.60,452.12
"(2075.72, 2119.754]",2022-06-13 14:40:42.000,2022-06-13 14:40:43.000,2097.360,504.150,364.420,312.980,238.930,191.260,129.540,108.740,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.60,452.12
"(2119.754, 2163.789]",2022-06-13 14:40:56.000,2022-06-13 14:40:57.000,2139.110,456.040,398.800,291.880,208.860,172.270,111.120,108.580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2163.789, 2207.824]",2022-06-13 14:41:07.500,2022-06-13 14:41:08.500,2184.600,408.870,332.415,167.180,164.405,114.610,83.230,54.410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2207.824, 2251.858]",2022-06-13 14:41:17.500,2022-06-13 14:41:18.500,2229.005,457.200,315.570,229.665,134.370,66.925,55.585,54.305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2251.858, 2295.893]",2022-06-13 14:41:28.000,2022-06-13 14:41:29.000,2271.770,481.400,431.280,188.290,119.210,95.770,37.070,27.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2295.893, 2339.928]",2022-06-13 14:41:38.500,2022-06-13 14:41:39.500,2317.255,468.795,282.520,250.445,134.555,95.875,55.590,54.260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2339.928, 2383.962]",2022-06-13 14:41:50.000,2022-06-13 14:41:51.000,2363.640,431.470,397.810,229.380,149.480,95.610,55.570,27.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2383.962, 2427.997]",2022-06-13 14:42:02.500,2022-06-13 14:42:03.500,2404.420,420.830,332.000,219.360,119.570,76.540,37.010,13.555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2427.997, 2472.031]",2022-06-13 14:42:13.500,2022-06-13 14:42:14.500,2450.200,468.035,365.300,208.285,119.550,76.430,55.600,27.145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2472.031, 2516.066]",2022-06-13 14:42:21.000,2022-06-13 14:42:22.000,2492.980,408.200,265.640,250.630,89.590,76.310,74.030,54.220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2516.066, 2560.101]",2022-06-13 14:42:26.000,2022-06-13 14:42:27.000,2540.350,457.120,332.120,229.910,89.630,95.490,55.610,27.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2560.101, 2604.135]",2022-06-13 14:42:31.000,2022-06-13 14:42:32.000,2586.710,432.200,266.280,146.750,149.660,95.630,37.080,27.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2604.135, 2648.17]",2022-06-13 14:42:36.000,2022-06-13 14:42:37.000,2626.980,384.270,332.400,125.100,119.790,95.660,37.150,27.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2648.17, 2692.205]",2022-06-13 14:42:41.500,2022-06-13 14:42:42.500,2668.690,529.150,299.320,250.180,119.355,66.965,27.805,27.195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2692.205, 2736.239]",2022-06-13 14:42:47.000,2022-06-13 14:42:48.000,2711.820,432.920,265.550,167.910,119.820,95.360,37.030,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2736.239, 2780.274]",2022-06-13 14:42:51.500,2022-06-13 14:42:52.500,2754.675,468.790,282.735,198.550,149.445,57.475,18.520,27.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2780.274, 2824.309]",2022-06-13 14:42:56.000,2022-06-13 14:42:57.000,2801.720,457.190,298.560,188.200,119.450,95.400,36.970,27.180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2824.309, 2868.343]",2022-06-13 14:43:00.500,2022-06-13 14:43:01.500,2848.635,456.780,249.170,156.860,104.490,86.080,18.520,27.140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2868.343, 2912.378]",2022-06-13 14:43:05.000,2022-06-13 14:43:06.000,2892.440,408.230,232.190,208.830,119.520,76.410,18.520,27.180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2912.378, 2956.413]",2022-06-13 14:43:10.000,2022-06-13 14:43:11.000,2938.390,456.300,331.490,188.130,119.140,76.270,55.480,27.140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2956.413, 3000.447]",2022-06-13 14:43:15.000,2022-06-13 14:43:16.000,2981.240,360.880,332.570,146.180,119.760,76.470,37.060,54.350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3000.447, 3044.482]",2022-06-13 14:43:20.000,2022-06-13 14:43:21.000,3023.580,503.770,332.220,187.520,89.620,38.280,36.950,27.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3044.482, 3088.517]",2022-06-13 14:43:25.000,2022-06-13 14:43:26.000,3068.380,815.680,464.880,354.780,179.520,114.110,36.950,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3088.517, 3132.551]",2022-06-13 14:43:29.500,2022-06-13 14:43:30.500,3110.930,1045.710,863.670,698.340,328.970,171.800,92.555,13.565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3132.551, 3176.586]",2022-06-13 14:43:34.000,2022-06-13 14:43:35.000,3153.100,1441.810,963.150,563.120,358.190,209.940,111.160,27.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3176.586, 3220.62]",2022-06-13 14:43:38.500,2022-06-13 14:43:39.500,3196.310,1622.415,1245.460,677.535,268.955,229.405,129.645,40.695,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3220.62, 3264.655]",2022-06-13 14:43:43.000,2022-06-13 14:43:44.000,3241.410,1943.740,1094.790,709.260,359.050,210.410,111.090,54.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3264.655, 3308.69]",2022-06-13 14:43:47.500,2022-06-13 14:43:48.500,3287.750,1862.625,1129.615,950.025,448.200,334.735,73.995,54.345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3308.69, 3352.724]",2022-06-13 14:43:51.500,2022-06-13 14:43:52.500,3328.240,1992.605,1328.180,1022.045,537.235,257.975,92.525,40.705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3352.724, 3396.759]",2022-06-13 14:43:56.000,2022-06-13 14:43:57.000,3372.220,2401.290,1527.810,1001.900,597.290,400.730,148.000,54.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3396.759, 3440.794]",2022-06-13 14:44:01.000,2022-06-13 14:44:02.000,3419.640,2305.050,1659.540,1106.450,657.720,382.340,185.160,54.320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1500]:
DAY3000_subset_300013 = DAY3000_subset_300013.reset_index(drop=True)

In [1501]:
LAS13b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220613_RA_L2_20230131T122330.ict')
start_index = np.where(LAS13b["Time_Start"]==pd.to_datetime("2022-06-13 19:46:00"))
stop_index = np.where(LAS13b["Time_Start"]==pd.to_datetime("2022-06-13 20:09:00"))
    
LAS13b_subset = LAS13b[start_index[0][0]:stop_index[0][0]]
LAS13b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10610,2022-06-13 19:46:00,2022-06-13 19:46:01,106.13,99.79,21.60,2.66,72.01,132.38,104.11,59.86,...,0.0,0.00,0.00,0.00,0.0,10.37,0.0,0.0,0.0,1.094
10611,2022-06-13 19:46:01,2022-06-13 19:46:02,105.59,84.42,12.34,0.71,0.00,66.42,187.50,89.59,...,0.0,0.00,0.00,12.97,0.0,0.00,0.0,0.0,0.0,1.093
10612,2022-06-13 19:46:02,2022-06-13 19:46:03,106.45,86.78,19.58,2.60,48.15,166.06,83.70,119.88,...,0.0,0.00,0.00,0.00,0.0,10.40,0.0,0.0,0.0,1.093
10613,2022-06-13 19:46:03,2022-06-13 19:46:04,108.91,108.14,16.95,1.02,72.01,132.84,124.65,208.86,...,0.0,17.28,17.29,0.00,0.0,0.00,0.0,0.0,0.0,1.094
10614,2022-06-13 19:46:04,2022-06-13 19:46:05,112.60,101.35,16.84,1.10,96.13,66.65,104.08,179.32,...,0.0,0.00,34.66,0.00,0.0,0.00,0.0,0.0,0.0,1.095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,2022-06-13 20:08:55,2022-06-13 20:08:56,4558.09,524.73,28.24,0.75,3695.96,2522.39,1792.71,895.65,...,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.707
11986,2022-06-13 20:08:56,2022-06-13 20:08:57,4565.53,467.00,28.23,0.90,3051.23,2422.96,1480.79,836.63,...,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.709
11987,2022-06-13 20:08:57,2022-06-13 20:08:58,4572.98,463.28,23.34,0.57,3120.60,2854.48,1313.34,955.37,...,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.710
11988,2022-06-13 20:08:58,2022-06-13 20:08:59,4580.36,498.80,28.78,0.91,3290.11,2323.48,1648.07,1284.22,...,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.711
11989,2022-06-13 20:08:59,2022-06-13 20:09:00,4587.50,515.78,26.53,0.67,3726.15,2524.53,1774.94,836.50,...,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,1.712

In [1502]:
SMPS13b = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220613_RA_L2_20230131T122823.ict')
start_index = np.where(SMPS13b["Time_Start"]==pd.to_datetime("2022-06-13 19:46:00"))
stop_index = np.where(SMPS13b["Time_Start"]==pd.to_datetime("2022-06-13 20:09:00"))
    
SMPS13b_subset = SMPS13[start_index[0][0]:stop_index[0][0]]
SMPS13b_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10610,2022-06-13 14:39:55,2022-06-13 14:39:56,1949.280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10611,2022-06-13 14:39:56,2022-06-13 14:39:57,1951.720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10612,2022-06-13 14:39:57,2022-06-13 14:39:58,1954.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10613,2022-06-13 14:39:58,2022-06-13 14:39:59,1956.860,253.19,2.57,0.03,NaN,NaN,0.0,0.0,...,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.6,452.12,1.325
10614,2022-06-13 14:39:59,2022-06-13 14:40:00,1959.560,253.19,2.57,0.03,NaN,NaN,0.0,0.0,...,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.6,452.12,1.325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11755,2022-06-13 14:59:00,2022-06-13 14:59:01,-15.125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11756,2022-06-13 14:59:01,2022-06-13 14:59:02,-18.330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11757,2022-06-13 14:59:02,2022-06-13 14:59:03,-21.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11758,2022-06-13 14:59:03,2022-06-13 14:59:04,-23.220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11759,2022-06-13 14:59:04,2022-06-13 14:59:05,-24.160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1503]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS13b_subset.drop(columns=columns_to_remove, inplace=True)

In [1504]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS13b_subset.drop(columns=columns_to_remove, inplace=True)

In [1505]:
data13b = add_sum(LAS13b_subset, SMPS13b_subset)

In [1506]:
#binning data13b into groups
nbins = 100
bins_1000 = np.linspace(data13b.GPS_Altitude_THORNHILL.min(), data13b.GPS_Altitude_THORNHILL.max(), nbins+1)
data13b['Bins'] = pd.cut(data13b['GPS_Altitude_THORNHILL'], bins_1000)
data13b_1000 = data13b.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data13b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data13b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100013b = data13b_1000[start_index:stop_index]
DAY1000_subset_100013b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(105.59, 150.409]",2022-06-13 19:46:21.500,2022-06-13 19:46:22.500,119.6275,96.125,99.340,103.950,149.455,171.560,239.755,271.605,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.6,452.12
"(150.409, 195.228]",2022-06-13 19:46:50.000,2022-06-13 19:46:51.000,172.9900,96.150,99.340,62.530,119.460,171.880,167.230,216.740,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.6,452.12
"(195.228, 240.047]",2022-06-13 19:47:03.500,2022-06-13 19:47:04.500,218.5850,47.825,99.655,114.910,119.615,123.915,194.260,244.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(240.047, 284.866]",2022-06-13 19:47:16.500,2022-06-13 19:47:17.500,261.7975,60.130,66.415,83.530,89.265,162.085,185.805,230.710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(284.866, 329.686]",2022-06-13 19:47:33.000,2022-06-13 19:47:34.000,309.0100,71.860,66.440,41.970,89.470,114.480,167.010,189.620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(329.686, 374.505]",2022-06-13 19:47:48.000,2022-06-13 19:47:49.000,352.0100,48.130,33.190,83.410,59.890,95.800,166.980,190.140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(374.505, 419.324]",2022-06-13 19:48:00.500,2022-06-13 19:48:01.500,396.1500,60.095,66.445,93.830,59.820,95.775,129.590,163.295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(419.324, 464.143]",2022-06-13 19:48:11.500,2022-06-13 19:48:12.500,442.3500,36.120,83.165,62.500,89.825,104.970,120.325,176.405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(464.143, 508.962]",2022-06-13 19:48:21.500,2022-06-13 19:48:22.500,489.9675,71.840,66.425,62.590,104.630,95.265,138.980,202.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(508.962, 553.781]",2022-06-13 19:48:37.000,2022-06-13 19:48:38.000,537.7850,72.080,66.750,103.760,89.630,95.670,129.720,190.630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(553.781, 598.6]",2022-06-13 19:48:55.000,2022-06-13 19:48:56.000,568.2850,48.050,66.270,82.980,89.470,76.360,111.210,108.410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(598.6, 643.419]",2022-06-13 19:49:09.500,2022-06-13 19:49:10.500,627.0200,72.060,82.880,83.575,119.475,95.470,147.955,190.410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(643.419, 688.238]",2022-06-13 19:49:22.000,2022-06-13 19:49:23.000,662.8850,72.150,99.470,42.000,89.480,76.630,130.060,136.090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(688.238, 733.057]",2022-06-13 19:49:35.000,2022-06-13 19:49:36.000,707.2050,120.140,99.850,104.500,89.620,76.490,147.590,108.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(733.057, 777.876]",2022-06-13 19:49:47.500,2022-06-13 19:49:48.500,761.2975,143.705,133.100,125.585,104.300,105.475,138.995,135.785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(777.876, 822.696]",2022-06-13 19:49:59.500,2022-06-13 19:50:00.500,802.1225,156.270,165.985,135.730,149.160,172.000,148.360,136.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(822.696, 867.515]",2022-06-13 19:50:14.500,2022-06-13 19:50:15.500,848.2700,264.365,166.225,166.435,178.750,152.815,167.015,162.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(867.515, 912.334]",2022-06-13 19:50:32.500,2022-06-13 19:50:33.500,887.7025,276.445,198.950,208.330,149.820,181.510,111.165,135.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(912.334, 957.153]",2022-06-13 19:50:47.000,2022-06-13 19:50:48.000,931.5150,288.480,331.530,187.440,149.520,190.460,148.260,162.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1507]:
DAY1000_subset_100013b = DAY1000_subset_100013b.reset_index(drop=True)

In [1508]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data13b_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data13b_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300013b = data13b_1000[start_index:stop_index]
DAY3000_subset_300013b

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(1001.972, 1046.791]",2022-06-13 19:51:08.500,2022-06-13 19:51:09.500,1023.140,287.825,283.105,291.665,268.975,229.310,240.440,203.230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1046.791, 1091.61]",2022-06-13 19:51:18.500,2022-06-13 19:51:19.500,1069.170,552.890,548.020,459.905,476.960,400.650,305.440,312.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1091.61, 1136.429]",2022-06-13 19:51:28.500,2022-06-13 19:51:29.500,1112.985,467.880,382.095,365.360,329.455,286.685,286.990,270.935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1136.429, 1181.248]",2022-06-13 19:51:38.500,2022-06-13 19:51:39.500,1165.700,395.905,348.045,281.750,269.145,267.205,286.985,230.835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1181.248, 1226.067]",2022-06-13 19:51:52.000,2022-06-13 19:51:53.000,1203.510,454.570,299.390,292.010,268.000,267.050,240.850,297.750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1226.067, 1270.887]",2022-06-13 19:52:08.500,2022-06-13 19:52:09.500,1243.390,431.340,348.730,354.320,298.355,267.405,323.290,230.805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1270.887, 1315.706]",2022-06-13 19:52:25.000,2022-06-13 19:52:26.000,1291.870,361.050,364.930,354.880,269.190,324.420,258.860,217.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1315.706, 1360.525]",2022-06-13 19:52:41.000,2022-06-13 19:52:42.000,1341.630,432.340,397.590,334.200,269.000,267.150,259.480,243.860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1360.525, 1405.344]",2022-06-13 19:52:54.500,2022-06-13 19:52:55.500,1385.490,323.800,448.130,375.870,284.285,296.425,240.625,230.835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1405.344, 1450.163]",2022-06-13 19:53:11.000,2022-06-13 19:53:12.000,1425.680,480.440,464.330,395.910,268.960,286.680,277.830,244.570,...,1902.850,2666.770,3438.46,3129.400,2459.940,2518.570,2032.68,1547.30,1592.91,1186.90
"(1450.163, 1494.982]",2022-06-13 19:53:35.000,2022-06-13 19:53:36.000,1474.530,505.390,398.760,397.670,357.880,324.920,259.380,271.530,...,1902.850,2666.770,3438.46,3129.400,2459.940,2518.570,2032.68,1547.30,1592.91,1186.90
"(1494.982, 1539.801]",2022-06-13 19:54:10.500,2022-06-13 19:54:11.500,1515.545,515.750,432.380,417.290,343.055,344.155,277.160,217.440,...,726.680,503.200,469.47,640.030,969.670,1206.410,732.59,854.73,523.27,363.98
"(1539.801, 1584.62]",2022-06-13 19:54:46.000,2022-06-13 19:54:47.000,1561.700,481.190,430.650,396.710,357.790,286.690,203.940,216.990,...,726.680,503.200,469.47,640.030,969.670,1206.410,732.59,854.73,523.27,363.98
"(1584.62, 1629.439]",2022-06-13 19:55:09.500,2022-06-13 19:55:10.500,1606.540,576.740,497.770,375.730,403.025,286.780,249.975,217.575,...,849.250,392.990,525.49,704.040,562.950,321.980,742.19,615.55,594.38,691.53
"(1629.439, 1674.258]",2022-06-13 19:55:28.500,2022-06-13 19:55:29.500,1645.300,517.405,530.125,396.960,404.205,353.345,277.625,217.215,...,849.250,392.990,525.49,704.040,562.950,321.980,742.19,615.55,594.38,691.53
"(1674.258, 1719.078]",2022-06-13 19:55:48.000,2022-06-13 19:55:49.000,1688.350,529.910,498.830,437.320,418.550,381.950,259.320,217.730,...,849.250,392.990,525.49,704.040,562.950,321.980,742.19,615.55,594.38,691.53
"(1719.078, 1763.897]",2022-06-13 19:56:21.500,2022-06-13 19:56:22.500,1742.455,407.930,381.750,334.140,269.440,276.850,222.560,203.675,...,108.630,134.800,253.40,301.720,211.790,459.260,430.49,715.65,567.09,582.75
"(1763.897, 1808.716]",2022-06-13 19:57:05.500,2022-06-13 19:57:06.500,1781.695,432.650,381.975,323.735,238.985,267.460,203.905,190.265,...,361.280,242.160,641.32,433.540,926.280,1232.380,296.61,423.94,212.31,457.96
"(1808.716, 1853.535]",2022-06-13 19:57:40.500,2022-06-13 19:57:41.500,1821.560,335.995,315.730,239.875,269.075,200.655,176.210,163.110,...,361.280,242.160,641.32,433.540,926.280,1232.380,296.61,423.94,212.31,457.96
"(1853.535, 1898.354]",2022-06-13 19:58:15.500,2022-06-13 19:58:16.500,1878.140,337.355,265.685,250.535,209.680,191.120,166.820,163.130,...,181.670,434.880,289.67,665.180,409.540,269.340,267.75,324.31,171.36,221.45
"(1898.354, 1943.173]",2022-06-13 19:58:54.500,2022-06-13 19:58:55.500,1923.230,324.365,249.055,228.830,179.815,172.065,157.425,108.825,...,181.670,434.880,289.67,665.180,409.540,269.340,267.75,324.31,171.36,221.45
"(1943.173, 1987.992]",2022-06-13 19:59:24.500,2022-06-13 19:59:25.500,1962.065,361.000,299.880,187.410,164.670,210.115,148.375,135.765,...,103.190,82.450,244.57,194.320,346.810,349.110,124.45,118.06,228.11,191.97
"(1987.992, 2032.811]",2022-06-13 19:59:51.000,2022-06-13 19:59:52.000,2001.830,336.690,298.420,250.020,209.060,191.000,148.270,108.690,...,103.190,82.450,244.57,194.320,346.810,349.110,124.45,118.06,228.11,191.97
"(2032.811, 2077.63]",2022-06-13 20:00:20.500,2022-06-13 20:00:21.500,2061.605,384.685,266.070,240.335,149.435,181.270,129.435,81.555,...,355.480,308.050,725.05,348.670,480.900,171.700,268.05,123.82,235.28,125.17
"(2077.63, 2122.45]",2022-06-13 20:00:55.000,2022-06-13 20:00:56.000,2104.450,432.070,265.920,250.670,208.960,171.890,111.180,81.540,...,266.385,341.935,469.94,441.005,423.735,197.625,274.24,225.57,206.89,179.66
"(2122.45, 2167.269]",2022-06-13 20:01:26.500,2022-06-13 20:01:27.500,2151.175,359.770,298.315,239.920,179.290,143.565,129.770,122.140,...,177.290,375.820,214.83,533.340,366.570,223.550,280.43,327.32,178.50,234.15
"(2167.269, 2212.088]",2022-06-13 20:01:44.000,2022-06-13 20:01:45.000,2187.780,336.620,331.600,209.240,179.610,172.080,111.300,81.510,...,177.290,375.820,214.83,533.340,366.570,223.550,280.43,327.32,178.50,234.15
"(2212.088, 2256.907]",2022-06-13 20:01:55.500,2022-06-13 20:01:56.500,2235.735,432.230,298.715,240.110,179.190,114.745,74.080,54.205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2256.907, 2301.726]",2022-06-13 20:02:09.500,2022-06-13 20:02:10.500,2273.615,408.445,315.510,198.205,119.530,105.030,64.720,27.160,...,891.150,1616.740,3746.94,3763.150,3610.340,4584.350,4107.58,2741.42,1333.62,1349.90
"(2301.726, 2346.545]",2022-06-13 20:02:23.500,2022-06-13 20:02:24.500,2326.165,360.020,315.590,177.095,119.610,124.120,37.075,54.240,...,891.150,1616.740,3746.94,3763.150,3610.340,4584.350,4107.58,2741.42,1333.62,1349.90
"(2346.545, 2391.364]",2022-06-13 20:02:35.500,2022-06-13 20:02:36.500,2365.250,409.040,316.250,198.270,104.515,85.955,74.085,40.745,...,891.150,1616.740,3746.94,3763.150,3610.340,4584.350,4107.58,2741.42,1333.62,1349.90
"(2391.364, 2436.183]",2022-06-13 20:02:47.000,2022-06-13 20:02:48.000,2414.860,480.290,331.190,250.470,149.310,95.630,55.470,27.190,...,891.150,1616.740,3746.94,3763.150,3610.340,4584.350,4107.58,2741.42,1333.62,1349.90
"(2436.183, 2481.002]",2022-06-13 20:03:00.000,2022-06-13 20:03:01.000,2455.940,456.430,299.100,229.860,149.470,95.900,55.680,54.360,...,189.080,226.470,766.35,776.250,375.030,379.280,516.54,280.24,366.02,238.70
"(2481.002, 2525.821]",2022-06-13 20:03:21.500,2022-06-13 20:03:22.500,2496.770,493.140,332.775,229.780,149.510,95.700,46.330,27.170,...,189.080,226.470,766.35,776.250,375.030,379.280,516.54,280.24,366.02,238.70
"(2525.821, 2570.64]",2022-06-13 20:03:43.000,2022-06-13 20:03:44.000,2546.150,456.970,265.980,249.800,149.070,95.410,74.080,54.290,...,189.080,226.470,766.35,776.250,375.030,379.280,516.54,280.24,366.02,238.70
"(2570.64, 2615.46]",2022-06-13 20:03:57.000,2022-06-13 20:03:58.000,2599.740,505.080,298.220,229.600,149.040,95.450,55.520,54.350,...,97.150,290.930,671.38,431.480,495.080,609.500,391.29,356.07,388.00,351.20
"(2615.46, 2660.279]",2022-06-13 20:04:08.500,2022-06-13 20:04:09.500,2634.500,407.960,282.060,239.750,89.770,95.475,37.045,0.000,...,97.150,290.930,671.38,431.480,495.080,609.500,391.29,356.07,388.00,351.20
"(2660.279, 2705.098]",2022-06-13 20:04:20.500,2022-06-13 20:04:21.500,2687.710,551.720,365.440,177.555,149.385,86.025,37.035,27.155,...,97.150,290.930,671.38,431.480,495.080,609.500,391.29,356.07,388.00,351.20
"(2705.098, 2749.917]",2022-06-13 20:04:37.000,2022-06-13 20:04:38.000,2723.040,551.950,365.920,250.210,89.770,76.440,37.010,27.160,...,97.150,290.930,671.38,431.480,495.080,609.500,391.29,356.07,388.00,351.20
"(2749.917, 2794.736]",2022-06-13 20:04:54.000,2022-06-13 20:04:55.000,2764.030,456.490,331.860,187.720,119.380,76.410,37.060,27.100,...,97.150,290.930,671.38,431.480,495.080,609.500,391.29,356.07,388.00,351.20
"(2794.736, 2839.555]",2022-06-13 20:05:06.000,2022-06-13 20:05:07.000,2816.790,481.050,332.680,187.870,89.790,76.380,55.440,54.320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2839.555, 2884.374]",2022-06-13 20:05:14.000,2022-06-13 20:05:15.000,2860.080,457.270,298.700,166.780,149.100,95.490,18.540,27.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2884.374, 2929.193]",2022-06-13 20:05:20.500,2022-06-13 20:05:21.500,2907.290,984.970,530.890,427.530,209.060,124.145,64.865,27.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2929.193, 2974.012]",2022-06-13 20:05:27.000,2022-06-13 20:05:28.000,2953.840,1201.700,864.670,585.840,358.300,210.260,74.220,54.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2974.012, 3018.832]",2022-06-13 20:05:34.000,2022-06-13 20:05:35.000,2994.540,1463.600,894.640,606.730,388.990,229.120,111.110,54.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3018.832, 3063.651]",2022-06-13 20:05:41.000,2022-06-13 20:05:42.000,3040.510,1847.530,1027.750,791.940,417.870,229.170,92.460,54.320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3063.651, 3108.47]",2022-06-13 20:05:49.000,2022-06-13 20:05:50.000,3084.990,1968.430,1329.350,792.200,508.290,305.460,111.170,54.390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3108.47, 3153.289]",2022-06-13 20:05:56.500,2022-06-13 20:05:57.500,3131.200,1814.330,1261.375,760.485,403.070,258.065,101.780,54.280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3153.289, 3198.108]",2022-06-13 20:06:02.500,2022-06-13 20:06:03.500,3179.540,2101.215,1329.990,938.255,477.365,372.100,138.740,67.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3198.108, 3242.927]",2022-06-13 20:06:08.500,2022-06-13 20:06:09.500,3217.415,1970.655,1328.870,970.810,537.375,420.300,203.615,149.205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3242.927, 3287.746]",2022-06-13 20:06:14.000,2022-06-13 20:06:15.000,3261.760,2165.980,1328.890,1065.520,745.780,401.360,222.700,163.010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3287.746, 3332.565]",2022-06-13 20:06:18.500,2022-06-13 20:06:19.500,3307.625,2027.100,1610.300,1157.260,671.150,505.605,323.535,203.580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3332.565, 3377.384]",2022-06-13 20:06:23.000,2022-06-13 20:06:24.000,3355.810,3026.630,1892.170,1315.650,627.810,533.420,296.140,190.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3377.384, 3422.203]",2022-06-13 20:06:29.500,2022-06-13 20:06:30.500,3402.535,2772.865,1843.075,1170.135,851.815,553.805,231.390,176.495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3422.203, 3467.022]",2022-06-13 20:06:36.000,2022-06-13 20:06:37.000,3445.290,2693.600,1828.380,1315.260,866.390,572.260,240.300,217.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1509]:
DAY3000_subset_300013b = DAY3000_subset_300013b.reset_index(drop=True)

In [1510]:
LAS14 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220614_RA_20230131T122331.ict')
start_index = np.where(LAS14["Time_Start"]==pd.to_datetime("2022-06-14 16:05:00"))
stop_index = np.where(LAS14["Time_Start"]==pd.to_datetime("2022-06-14 16:25:00"))
    
LAS14_subset = LAS14[start_index[0][0]:stop_index[0][0]]
LAS14_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
9363,2022-06-14 16:05:00,2022-06-14 16:05:01,117.000,139.02,14.28,0.48,216.02,199.07,207.97,298.58,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.100
9364,2022-06-14 16:05:01,2022-06-14 16:05:02,117.085,153.80,36.35,7.02,312.69,465.90,187.64,179.41,...,0.00,0.00,0.00,0.00,0.00,10.40,10.39,0.0,0.0,1.099
9365,2022-06-14 16:05:02,2022-06-14 16:05:03,117.190,124.98,25.56,4.87,358.84,132.10,270.30,356.98,...,0.00,17.23,0.00,0.00,0.00,0.00,10.34,0.0,0.0,1.099
9366,2022-06-14 16:05:03,2022-06-14 16:05:04,117.295,126.94,14.25,0.66,217.18,233.56,377.06,269.92,...,26.07,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,1.100
9367,2022-06-14 16:05:04,2022-06-14 16:05:05,117.380,160.88,28.24,3.59,383.66,364.28,270.76,566.15,...,0.00,0.00,17.26,25.90,0.00,10.35,0.00,0.0,0.0,1.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10558,2022-06-14 16:24:55,2022-06-14 16:24:56,8454.590,274.18,25.81,2.05,1875.01,1130.21,647.61,567.56,...,0.00,34.62,0.00,0.00,10.38,0.00,0.00,0.0,0.0,2.567
10559,2022-06-14 16:24:56,2022-06-14 16:24:57,8461.000,264.91,30.69,4.85,1418.22,1029.51,982.24,567.82,...,0.00,0.00,0.00,0.00,0.00,0.00,10.39,0.0,0.0,2.569
10560,2022-06-14 16:24:57,2022-06-14 16:24:58,8467.420,262.50,20.60,1.03,1730.17,897.41,730.81,568.24,...,0.00,17.30,17.31,0.00,0.00,0.00,0.00,0.0,0.0,2.571
10561,2022-06-14 16:24:58,2022-06-14 16:24:59,8473.860,280.41,17.94,0.77,1970.11,1395.86,771.27,448.27,...,0.00,0.00,0.00,12.98,0.00,0.00,0.00,0.0,0.0,2.573
10562,2022-06-14 16:24:59,2022-06-14 16:25:00,8480.330,225.43,19.19,0.91,1128.91,1062.44,751.30,358.46,...,0.00,0.00,17.30,0.00,0.00,0.00,0.00,0.0,0.0,2.576

In [1511]:
SMPS14 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220614_RA_20230131T122824.ict')
start_index = np.where(SMPS14["Time_Start"]==pd.to_datetime("2022-06-14 16:05:00"))
stop_index = np.where(SMPS14["Time_Start"]==pd.to_datetime("2022-06-14 16:25:00"))
    
SMPS14_subset = SMPS14[start_index[0][0]:stop_index[0][0]]
SMPS14_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
9363,2022-06-14 16:05:00,2022-06-14 16:05:01,117.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9364,2022-06-14 16:05:01,2022-06-14 16:05:02,117.085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9365,2022-06-14 16:05:02,2022-06-14 16:05:03,117.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9366,2022-06-14 16:05:03,2022-06-14 16:05:04,117.295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9367,2022-06-14 16:05:04,2022-06-14 16:05:05,117.380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10558,2022-06-14 16:24:55,2022-06-14 16:24:56,8454.590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.604
10559,2022-06-14 16:24:56,2022-06-14 16:24:57,8461.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.604
10560,2022-06-14 16:24:57,2022-06-14 16:24:58,8467.420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.604
10561,2022-06-14 16:24:58,2022-06-14 16:24:59,8473.860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.604
10562,2022-06-14 16:24:59,2022-06-14 16:25:00,8480.330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.604

In [1512]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS14_subset.drop(columns=columns_to_remove, inplace=True)

In [1513]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS14_subset.drop(columns=columns_to_remove, inplace=True)

In [1514]:
data14 = add_sum(LAS14_subset, SMPS14_subset)

In [1515]:
#binning data14 into groups
nbins = 100
bins_1000 = np.linspace(data14.GPS_Altitude_THORNHILL.min(), data14.GPS_Altitude_THORNHILL.max(), nbins+1)
data14['Bins'] = pd.cut(data14['GPS_Altitude_THORNHILL'], bins_1000)
data14_1000 = data14.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data14_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data14_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100014 = data14_1000[start_index:stop_index]
DAY1000_subset_100014

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(117.0, 200.633]",2022-06-14 16:05:20.000,2022-06-14 16:05:21.000,118.0250,263.880,198.400,250.820,268.770,342.090,314.990,354.220,...,566.15,798.39,1113.30,2030.87,1668.31,1065.54,824.47,190.28,0.0,0.0
"(200.633, 284.267]",2022-06-14 16:05:44.500,2022-06-14 16:05:45.500,243.7250,455.185,332.855,270.315,253.710,276.815,305.645,299.195,...,566.15,798.39,1113.30,2030.87,1668.31,1065.54,824.47,190.28,0.0,0.0
"(284.267, 367.9]",2022-06-14 16:05:55.000,2022-06-14 16:05:56.000,326.2200,287.380,232.240,250.390,239.150,304.340,351.110,271.910,...,566.15,798.39,1113.30,2030.87,1668.31,1065.54,824.47,190.28,0.0,0.0
"(367.9, 451.533]",2022-06-14 16:06:05.500,2022-06-14 16:06:06.500,410.0450,227.290,199.510,261.110,239.355,296.600,332.175,271.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(451.533, 535.166]",2022-06-14 16:06:16.000,2022-06-14 16:06:17.000,493.6150,240.520,165.850,209.040,239.020,324.190,240.070,271.720,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.0,0.0
"(535.166, 618.8]",2022-06-14 16:06:27.500,2022-06-14 16:06:28.500,577.6025,215.695,182.590,249.395,328.400,315.545,258.900,284.780,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.0,0.0
"(618.8, 702.433]",2022-06-14 16:06:38.500,2022-06-14 16:06:39.500,662.5250,180.495,199.620,219.075,239.475,277.330,277.250,217.780,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.0,0.0
"(702.433, 786.066]",2022-06-14 16:06:48.500,2022-06-14 16:06:49.500,744.1025,156.255,265.775,177.700,179.640,296.260,259.375,244.100,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.0,0.0
"(786.066, 869.7]",2022-06-14 16:06:59.500,2022-06-14 16:07:00.500,825.6350,168.400,266.140,208.460,224.400,200.730,240.490,244.180,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.0,0.0
"(869.7, 953.333]",2022-06-14 16:07:10.500,2022-06-14 16:07:11.500,913.7500,156.100,232.895,239.710,194.280,277.240,231.650,203.545,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.0,0.0

In [1516]:
DAY1000_subset_100014 = DAY1000_subset_100014.reset_index(drop=True)

In [1517]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data14_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data14_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300014 = data14_1000[start_index:stop_index]
DAY3000_subset_300014

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(1036.966, 1120.6]",2022-06-14 16:07:29.500,2022-06-14 16:07:30.500,1076.810,204.320,215.030,239.635,253.380,200.610,221.590,216.680,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
"(1120.6, 1204.233]",2022-06-14 16:07:39.000,2022-06-14 16:07:40.000,1162.240,287.930,232.260,229.460,209.470,209.870,277.250,217.710,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
"(1204.233, 1287.866]",2022-06-14 16:07:48.500,2022-06-14 16:07:49.500,1247.740,240.135,232.415,229.095,238.880,219.160,213.435,204.060,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
"(1287.866, 1371.5]",2022-06-14 16:07:58.500,2022-06-14 16:07:59.500,1331.135,228.275,232.525,218.950,209.155,172.315,175.825,162.920,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
"(1371.5, 1455.133]",2022-06-14 16:08:08.000,2022-06-14 16:08:09.000,1413.230,264.450,199.130,229.080,209.430,153.010,203.600,135.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1455.133, 1538.766]",2022-06-14 16:08:17.500,2022-06-14 16:08:18.500,1499.150,288.345,249.180,250.320,179.495,219.410,185.505,176.415,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
"(1538.766, 1622.399]",2022-06-14 16:08:27.000,2022-06-14 16:08:28.000,1580.140,265.220,265.980,229.360,268.320,172.320,129.660,81.510,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
"(1622.399, 1706.033]",2022-06-14 16:08:36.500,2022-06-14 16:08:37.500,1663.475,264.380,232.605,218.530,194.280,153.210,129.805,81.460,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
"(1706.033, 1789.666]",2022-06-14 16:08:46.500,2022-06-14 16:08:47.500,1749.545,252.480,216.590,187.665,224.355,200.720,148.230,135.775,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
"(1789.666, 1873.299]",2022-06-14 16:08:56.000,2022-06-14 16:08:57.000,1831.050,264.870,199.670,208.480,149.630,190.850,148.180,81.400,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
"(1873.299, 1956.933]",2022-06-14 16:09:05.500,2022-06-14 16:09:06.500,1914.110,204.540,182.610,156.395,134.530,162.410,111.055,108.595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1956.933, 2040.566]",2022-06-14 16:09:15.000,2022-06-14 16:09:16.000,1998.070,144.530,166.600,146.000,149.740,152.980,129.930,108.560,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
"(2040.566, 2124.199]",2022-06-14 16:09:24.500,2022-06-14 16:09:25.500,2080.980,168.115,116.320,146.370,119.470,95.660,55.630,81.465,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
"(2124.199, 2207.832]",2022-06-14 16:09:34.000,2022-06-14 16:09:35.000,2163.850,168.570,133.020,104.370,60.050,76.650,55.370,27.190,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
"(2207.832, 2291.466]",2022-06-14 16:09:43.500,2022-06-14 16:09:44.500,2248.635,108.180,133.215,115.010,74.835,66.960,46.350,27.165,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
"(2291.466, 2375.099]",2022-06-14 16:09:53.500,2022-06-14 16:09:54.500,2337.580,168.420,132.725,146.155,89.625,66.925,37.065,27.170,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
"(2375.099, 2458.732]",2022-06-14 16:10:03.500,2022-06-14 16:10:04.500,2411.835,168.395,199.500,93.930,134.435,86.050,46.280,27.175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2458.732, 2542.366]",2022-06-14 16:10:13.000,2022-06-14 16:10:14.000,2501.140,216.350,166.520,125.300,119.340,76.290,55.510,27.190,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
"(2542.366, 2625.999]",2022-06-14 16:10:23.000,2022-06-14 16:10:24.000,2585.990,264.020,166.270,104.500,89.530,57.300,37.000,27.170,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
"(2625.999, 2709.632]",2022-06-14 16:10:33.500,2022-06-14 16:10:34.500,2664.660,180.155,166.125,125.035,44.830,86.050,36.975,27.155,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
"(2709.632, 2793.266]",2022-06-14 16:10:43.000,2022-06-14 16:10:44.000,2751.520,215.830,166.180,62.270,89.610,57.490,37.020,54.330,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
"(2793.266, 2876.899]",2022-06-14 16:10:53.500,2022-06-14 16:10:54.500,2840.500,216.220,132.870,62.670,89.740,38.180,27.760,0.000,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
"(2876.899, 2960.532]",2022-06-14 16:11:05.500,2022-06-14 16:11:06.500,2918.425,156.185,132.770,83.455,44.915,38.310,18.525,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(2960.532, 3044.166]",2022-06-14 16:11:16.000,2022-06-14 16:11:17.000,3001.540,120.190,132.820,103.810,59.630,19.110,18.540,27.100,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
"(3044.166, 3127.799]",2022-06-14 16:11:25.500,2022-06-14 16:11:26.500,3084.130,120.215,66.490,93.850,74.800,28.615,18.490,13.565,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
"(3127.799, 3211.432]",2022-06-14 16:11:35.000,2022-06-14 16:11:36.000,3169.940,168.370,165.570,83.460,89.470,76.260,0.000,0.000,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
"(3211.432, 3295.065]",2022-06-14 16:11:45.500,2022-06-14 16:11:46.500,3256.060,144.160,132.850,124.835,29.985,19.165,9.250,27.105,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
"(3295.065, 3378.699]",2022-06-14 16:11:56.000,2022-06-14 16:11:57.000,3337.470,240.140,165.970,124.880,89.720,57.290,36.960,0.000,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0

In [1518]:
DAY3000_subset_300014 = DAY3000_subset_300014.reset_index(drop=True)

In [1519]:
LAS17 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220617_RA_20230131T122332.ict')
start_index = np.where(LAS17["Time_Start"]==pd.to_datetime("2022-06-17 16:20:00"))
stop_index = np.where(LAS17["Time_Start"]==pd.to_datetime("2022-06-17 16:47:00"))
    
LAS17_subset = LAS17[start_index[0][0]:stop_index[0][0]]
LAS17_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nLAS_AmmSO4_ZIEMBA,sLAS_AmmSO4_ZIEMBA,vLAS_AmmSO4_ZIEMBA,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,...,LAS_Bin18_ZIEMBA,LAS_Bin19_ZIEMBA,LAS_Bin20_ZIEMBA,LAS_Bin21_ZIEMBA,LAS_Bin22_ZIEMBA,LAS_Bin23_ZIEMBA,LAS_Bin24_ZIEMBA,LAS_Bin25_ZIEMBA,LAS_Bin26_ZIEMBA,stdPT_ZIEMBA
10469,2022-06-17 16:20:00,2022-06-17 16:20:01,134.100,127.99,27.63,3.99,144.30,165.82,313.31,568.60,...,0.00,0.00,17.32,0.00,10.39,10.39,0.0,0.00,0.0,1.094
10470,2022-06-17 16:20:01,2022-06-17 16:20:02,133.795,132.55,29.79,3.97,120.10,365.65,271.18,389.37,...,0.00,34.60,51.91,0.00,0.00,10.38,0.0,0.00,0.0,1.094
10471,2022-06-17 16:20:02,2022-06-17 16:20:03,133.485,129.04,65.39,20.29,143.70,231.46,250.07,446.92,...,25.84,0.00,17.24,0.00,0.00,10.35,0.0,20.69,0.0,1.093
10472,2022-06-17 16:20:03,2022-06-17 16:20:04,133.170,147.64,35.04,5.60,288.83,199.61,542.90,299.24,...,0.00,34.66,0.00,13.00,0.00,20.79,0.0,0.00,0.0,1.094
10473,2022-06-17 16:20:04,2022-06-17 16:20:05,132.825,126.64,25.41,3.40,144.00,298.69,229.52,447.51,...,0.00,34.56,0.00,12.96,0.00,10.37,0.0,0.00,0.0,1.094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12084,2022-06-17 16:46:55,2022-06-17 16:46:56,7639.050,408.60,19.68,0.48,3360.07,2287.82,1249.91,507.51,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,2.391
12085,2022-06-17 16:46:56,2022-06-17 16:46:57,7645.810,379.91,17.68,0.43,3266.14,2091.24,1022.21,567.43,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,2.393
12086,2022-06-17 16:46:57,2022-06-17 16:46:58,7652.610,362.35,17.50,0.43,3294.11,1629.35,1273.34,358.67,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,2.394
12087,2022-06-17 16:46:58,2022-06-17 16:46:59,7659.440,360.80,18.31,0.45,2692.58,1627.39,1419.96,568.20,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,2.395
12088,2022-06-17 16:46:59,2022-06-17 16:47:00,7666.280,349.68,16.97,0.39,2739.71,1694.23,1189.82,478.44,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,2.398

In [1520]:
SMPS17 = simple_read('C:/Users/taiwoajayi/Documents/Aeronet/bermuda/activate-mrg1_hu25_20220617_RA_20230131T122824.ict')
start_index = np.where(SMPS17["Time_Start"]==pd.to_datetime("2022-06-17 16:20:00"))
stop_index = np.where(SMPS17["Time_Start"]==pd.to_datetime("2022-06-17 16:47:00"))
    
SMPS17_subset = SMPS17[start_index[0][0]:stop_index[0][0]]
SMPS17_subset

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,nSMPS_ZIEMBA,sSMPS_ZIEMBA,vSMPS_ZIEMBA,SMPS_Bin01_ZIEMBA,SMPS_Bin02_ZIEMBA,SMPS_Bin03_ZIEMBA,SMPS_Bin04_ZIEMBA,...,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA,stdPT_ZIEMBA
10469,2022-06-17 16:20:00,2022-06-17 16:20:01,134.100,365.51,1.52,0.01,0.0,0.0,0.0,0.0,...,722.21,702.7,953.61,398.07,157.16,348.58,147.86,0.00,0.00,1.094
10470,2022-06-17 16:20:01,2022-06-17 16:20:02,133.795,365.51,1.52,0.01,0.0,0.0,0.0,0.0,...,722.21,702.7,953.61,398.07,157.16,348.58,147.86,0.00,0.00,1.094
10471,2022-06-17 16:20:02,2022-06-17 16:20:03,133.485,365.51,1.52,0.01,0.0,0.0,0.0,0.0,...,722.21,702.7,953.61,398.07,157.16,348.58,147.86,0.00,0.00,1.094
10472,2022-06-17 16:20:03,2022-06-17 16:20:04,133.170,365.51,1.52,0.01,0.0,0.0,0.0,0.0,...,722.21,702.7,953.61,398.07,157.16,348.58,147.86,0.00,0.00,1.094
10473,2022-06-17 16:20:04,2022-06-17 16:20:05,132.825,365.51,1.52,0.01,0.0,0.0,0.0,0.0,...,722.21,702.7,953.61,398.07,157.16,348.58,147.86,0.00,0.00,1.094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12084,2022-06-17 16:46:55,2022-06-17 16:46:56,7639.050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12085,2022-06-17 16:46:56,2022-06-17 16:46:57,7645.810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12086,2022-06-17 16:46:57,2022-06-17 16:46:58,7652.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12087,2022-06-17 16:46:58,2022-06-17 16:46:59,7659.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12088,2022-06-17 16:46:59,2022-06-17 16:47:00,7666.280,8449.42,39.08,0.37,NaN,NaN,NaN,NaN,...,9323.79,10618.5,9435.86,11849.20,7762.50,7281.15,4469.90,5101.12,3460.26,2.446

In [1521]:
# Columns to remove
columns_to_remove = ['nLAS_AmmSO4_ZIEMBA', 'sLAS_AmmSO4_ZIEMBA', 'vLAS_AmmSO4_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
LAS17_subset.drop(columns=columns_to_remove, inplace=True)

In [1522]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL', 'nSMPS_ZIEMBA', 'sSMPS_ZIEMBA', 'vSMPS_ZIEMBA', 'stdPT_ZIEMBA']

# Remove the specified columns in-place
SMPS17_subset.drop(columns=columns_to_remove, inplace=True)

In [1523]:
data17 = add_sum(LAS22_subset, SMPS22_subset)

In [1524]:
#binning data17 into groups
nbins = 100
bins_1000 = np.linspace(data17.GPS_Altitude_THORNHILL.min(), data17.GPS_Altitude_THORNHILL.max(), nbins+1)
data17['Bins'] = pd.cut(data17['GPS_Altitude_THORNHILL'], bins_1000)
data17_1000 = data17.groupby('Bins').median()
#locating the altitude of the spiral
start_altitude = 0
stop_altitude = 1000

start_index = np.where(data17_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data17_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY1000_subset_100017 = data17_1000[start_index:stop_index]
DAY1000_subset_100017

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(105.985, 143.17]",2022-06-02 12:59:00.500,2022-06-02 12:59:01.500,113.9000,251.310,266.525,322.825,357.485,534.465,628.300,732.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(143.17, 180.354]",2022-06-02 12:59:09.500,2022-06-02 12:59:10.500,160.4275,227.945,215.805,291.435,268.795,429.540,573.585,585.340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(180.354, 217.539]",2022-06-02 12:59:14.500,2022-06-02 12:59:15.500,199.8250,167.700,299.070,292.085,329.020,448.975,630.025,705.365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(217.539, 254.723]",2022-06-02 12:59:20.500,2022-06-02 12:59:21.500,234.4575,204.510,248.745,345.775,285.185,535.540,685.960,799.030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(254.723, 291.908]",2022-06-02 12:59:26.000,2022-06-02 12:59:27.000,276.6850,216.140,232.550,334.480,416.160,438.380,792.010,705.720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(291.908, 329.092]",2022-06-02 12:59:32.000,2022-06-02 12:59:33.000,304.7050,168.360,265.780,290.330,269.340,459.060,592.570,621.470,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(329.092, 366.277]",2022-06-02 12:59:37.000,2022-06-02 12:59:38.000,345.2250,216.640,199.710,271.880,358.980,497.670,593.400,870.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(366.277, 403.461]",2022-06-02 12:59:40.500,2022-06-02 12:59:41.500,383.8625,215.320,280.905,260.645,328.430,563.660,703.970,664.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(403.461, 440.646]",2022-06-02 12:59:45.500,2022-06-02 12:59:46.500,420.9575,179.675,232.285,302.175,328.590,468.330,657.300,718.195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(440.646, 477.83]",2022-06-02 12:59:51.000,2022-06-02 12:59:52.000,459.1450,239.900,298.490,270.820,417.440,574.920,499.340,679.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(477.83, 515.015]",2022-06-02 12:59:55.500,2022-06-02 12:59:56.500,498.1600,167.710,215.310,302.240,342.305,457.835,509.950,624.155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(515.015, 552.2]",2022-06-02 13:00:00.000,2022-06-02 13:00:01.000,529.5100,168.410,199.830,313.350,299.650,400.500,445.340,650.080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(552.2, 589.384]",2022-06-02 13:00:04.500,2022-06-02 13:00:05.500,567.4175,180.140,332.185,250.265,388.580,305.055,685.080,679.040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(589.384, 626.569]",2022-06-02 13:00:09.000,2022-06-02 13:00:10.000,608.6200,168.320,199.670,312.120,298.670,421.180,518.080,651.050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(626.569, 663.753]",2022-06-02 13:00:14.000,2022-06-02 13:00:15.000,647.4300,192.910,199.410,292.000,448.360,363.900,520.050,706.340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(663.753, 700.938]",2022-06-02 13:00:19.000,2022-06-02 13:00:20.000,682.3350,168.380,166.540,332.840,299.270,478.240,445.050,650.950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(700.938, 738.122]",2022-06-02 13:00:23.000,2022-06-02 13:00:24.000,720.6250,215.780,265.880,250.080,239.290,457.470,519.040,570.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(738.122, 775.307]",2022-06-02 13:00:26.500,2022-06-02 13:00:27.500,754.5150,312.550,216.235,344.200,403.805,402.135,704.025,679.455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(775.307, 812.491]",2022-06-02 13:00:31.500,2022-06-02 13:00:32.500,793.3525,203.765,249.375,248.790,356.840,390.445,478.985,474.515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(812.491, 849.676]",2022-06-02 13:00:36.500,2022-06-02 13:00:37.500,832.9125,300.155,182.315,219.355,343.975,372.510,508.905,541.350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(849.676, 886.861]",2022-06-02 13:00:40.500,2022-06-02 13:00:41.500,870.2225,240.085,199.225,260.645,357.965,353.565,481.750,474.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(886.861, 924.045]",2022-06-02 13:00:44.500,2022-06-02 13:00:45.500,907.3525,228.215,282.515,229.700,254.425,391.370,435.485,584.540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(924.045, 961.23]",2022-06-02 13:00:49.500,2022-06-02 13:00:50.500,944.0275,168.275,183.070,219.180,313.230,362.960,453.495,488.115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1525]:
DAY1000_subset_100017 = DAY1000_subset_100017.reset_index(drop=True)

In [1526]:
#locating the altitude of the spiral
start_altitude = 1001
stop_altitude = 3500

start_index = np.where(data17_1000['GPS_Altitude_THORNHILL'] >= start_altitude)[0][0]
stop_index = np.where(data17_1000['GPS_Altitude_THORNHILL'] <= stop_altitude)[0][-1]

DAY3000_subset_300017 = data17_1000[start_index:stop_index]
DAY3000_subset_300017

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
Bins,,,,,,,,,,,,,,,,,,,,,
"(998.414, 1035.599]",2022-06-02 13:00:58.500,2022-06-02 13:00:59.500,1020.465,203.815,198.785,322.490,238.615,362.955,498.885,474.940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1035.599, 1072.783]",2022-06-02 13:01:03.000,2022-06-02 13:01:04.000,1057.400,216.480,232.960,269.150,328.970,458.460,516.820,485.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1072.783, 1109.968]",2022-06-02 13:01:08.000,2022-06-02 13:01:09.000,1089.620,215.860,231.820,229.970,418.960,362.300,426.930,353.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1109.968, 1147.152]",2022-06-02 13:01:13.000,2022-06-02 13:01:14.000,1128.500,215.800,232.520,250.460,238.680,285.960,332.590,379.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1147.152, 1184.337]",2022-06-02 13:01:17.500,2022-06-02 13:01:18.500,1167.055,180.270,249.175,250.975,254.255,296.760,371.115,366.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(3266.672, 3303.856]",2022-06-02 13:06:03.500,2022-06-02 13:06:04.500,3284.205,661.360,449.255,396.495,284.805,287.310,176.080,149.595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3303.856, 3341.041]",2022-06-02 13:06:09.000,2022-06-02 13:06:10.000,3322.510,721.210,565.350,438.450,329.110,267.800,148.310,108.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3341.041, 3378.225]",2022-06-02 13:06:13.500,2022-06-02 13:06:14.500,3359.940,913.680,614.850,594.945,553.380,315.570,203.740,190.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3378.225, 3415.41]",2022-06-02 13:06:18.000,2022-06-02 13:06:19.000,3397.350,1203.030,731.270,731.390,568.900,439.180,240.520,190.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(3415.41, 3452.594]",2022-06-02 13:06:24.000,2022-06-02 13:06:25.000,3436.490,1370.300,996.070,836.890,568.730,515.850,314.800,190.260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1527]:
DAY3000_subset_300017 = DAY3000_subset_300017.reset_index(drop=True)

In [1528]:

# Concatenate the dataframes vertically (along rows)
ocean = pd.concat([DAY1000_subset_1000a, DAY1000_subset_1000b, DAY1000_subset_10002b], axis=0)

# Reset the index of the merged dataframe
ocean.reset_index(drop=True, inplace=True)
ocean

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-02 12:59:00.500,2022-06-02 12:59:01.500,113.9000,251.310,266.525,322.825,357.485,534.465,628.300,732.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-02 12:59:09.500,2022-06-02 12:59:10.500,160.4275,227.945,215.805,291.435,268.795,429.540,573.585,585.340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-02 12:59:14.500,2022-06-02 12:59:15.500,199.8250,167.700,299.070,292.085,329.020,448.975,630.025,705.365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-02 12:59:20.500,2022-06-02 12:59:21.500,234.4575,204.510,248.745,345.775,285.185,535.540,685.960,799.030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-02 12:59:26.000,2022-06-02 12:59:27.000,276.6850,216.140,232.550,334.480,416.160,438.380,792.010,705.720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2022-06-02 18:40:19.500,2022-06-02 18:40:20.500,796.8525,264.005,265.645,312.845,388.880,439.925,526.135,597.735,...,102.6,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
73,2022-06-02 18:40:31.000,2022-06-02 18:40:32.000,826.1250,264.640,265.190,312.080,358.860,478.160,463.910,516.510,...,102.6,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
74,2022-06-02 18:40:41.000,2022-06-02 18:40:42.000,866.0400,240.170,232.750,291.290,387.550,383.130,575.430,516.570,...,102.6,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
75,2022-06-02 18:40:50.500,2022-06-02 18:40:51.500,900.6175,192.125,233.400,323.160,313.625,449.655,434.125,502.765,...,102.6,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81
76,2022-06-02 18:41:01.500,2022-06-02 18:41:02.500,940.4200,240.295,298.460,344.095,329.550,458.850,573.730,569.355,...,102.6,486.11,290.51,270.33,152.71,477.86,246.41,311.24,264.72,338.81

In [1529]:
# Concatenate the dataframes vertically (along rows)
ocean2 = pd.concat([DAY3000_subset_3000a, DAY3000_subset_3000b, DAY3000_subset_30002b], axis=0)
# Reset the index of the merged dataframe
ocean2.reset_index(drop=True, inplace=True)
ocean2

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-02 13:00:58.500,2022-06-02 13:00:59.500,1020.465,203.815,198.785,322.490,238.615,362.955,498.885,474.940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-02 13:01:03.000,2022-06-02 13:01:04.000,1057.400,216.480,232.960,269.150,328.970,458.460,516.820,485.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-02 13:01:08.000,2022-06-02 13:01:09.000,1089.620,215.860,231.820,229.970,418.960,362.300,426.930,353.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-02 13:01:13.000,2022-06-02 13:01:14.000,1128.500,215.800,232.520,250.460,238.680,285.960,332.590,379.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-02 13:01:17.500,2022-06-02 13:01:18.500,1167.055,180.270,249.175,250.975,254.255,296.760,371.115,366.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,2022-06-02 18:51:48.500,2022-06-02 18:51:49.500,3293.650,1033.785,647.165,511.985,253.800,210.210,83.280,54.295,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
198,2022-06-02 18:51:54.000,2022-06-02 18:51:55.000,3329.670,1273.420,697.470,585.300,239.350,191.420,92.630,81.560,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
199,2022-06-02 18:51:59.000,2022-06-02 18:52:00.000,3366.390,1488.890,864.390,626.490,358.650,248.820,111.010,54.340,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
200,2022-06-02 18:52:04.500,2022-06-02 18:52:05.500,3406.315,1574.785,1147.670,710.305,433.920,267.730,92.615,81.475,...,384.09,685.37,659.81,796.36,1685.83,5189.77,1100.07,513.69,732.7,648.43
201,2022-06-02 18:52:12.000,2022-06-02 18:52:13.000,3433.390,1706.240,1095.820,814.390,448.370,305.400,129.640,54.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1533]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL']

# Remove the specified columns in-place
ocean.drop(columns=columns_to_remove, inplace=True)
ocean2.drop(columns=columns_to_remove, inplace=True)

In [1534]:
# Calculate median values along columns
ocean_median = ocean.median()

# Convert the Series to a DataFrame
ocean_median_df = ocean_median.to_frame().reset_index()
ocean_median_df.columns = ['Column', 'Median']
ocean_median_df

               Column    Median
0    LAS_Bin01_ZIEMBA  216.5100
1    LAS_Bin02_ZIEMBA  265.1550
2    LAS_Bin03_ZIEMBA  312.4000
3    LAS_Bin04_ZIEMBA  358.6000
4    LAS_Bin05_ZIEMBA  458.1550
5    LAS_Bin06_ZIEMBA  594.3900
6    LAS_Bin07_ZIEMBA  676.8750
7    LAS_Bin08_ZIEMBA  536.1700
8    LAS_Bin09_ZIEMBA  318.5200
9    LAS_Bin10_ZIEMBA  191.2100
10   LAS_Bin11_ZIEMBA   91.1200
11   LAS_Bin12_ZIEMBA   34.7700
12   LAS_Bin13_ZIEMBA   17.2800
13   LAS_Bin14_ZIEMBA    0.0000
14   LAS_Bin15_ZIEMBA    0.0000
15   LAS_Bin16_ZIEMBA    0.0000
16   LAS_Bin17_ZIEMBA    0.0000
17   LAS_Bin18_ZIEMBA    0.0000
18   LAS_Bin19_ZIEMBA    0.0000
19   LAS_Bin20_ZIEMBA    0.0000
20   LAS_Bin21_ZIEMBA    0.0000
21   LAS_Bin22_ZIEMBA    0.0000
22   LAS_Bin23_ZIEMBA    0.0000
23   LAS_Bin24_ZIEMBA    0.0000
24   LAS_Bin25_ZIEMBA    0.0000
25   LAS_Bin26_ZIEMBA    0.0000
26  SMPS_Bin01_ZIEMBA    0.0000
27  SMPS_Bin02_ZIEMBA    0.0000
28  SMPS_Bin03_ZIEMBA    0.0000
29  SMPS_Bin04_ZIEMBA    0.0000
30  SMPS_Bin05_ZIEMBA    0.0000
31  SMPS_Bin06_ZIEMBA    0.0000
32  SMPS_Bin07_ZIEMBA    0.0000
33  SMPS_Bin08_ZIEMBA    0.0000
34  SMPS_Bin09_ZIEMBA    0.0000
35  SMPS_Bin10_ZIEMBA    0.0000
36  SMPS_Bin11_ZIEMBA    0.0000
37  SMPS_Bin12_ZIEMBA    0.0000
38  SMPS_Bin13_ZIEMBA    0.0000
39  SMPS_Bin14_ZIEMBA    0.0000
40  SMPS_Bin15_ZIEMBA    0.0100
41  SMPS_Bin16_ZIEMBA   26.3300
42  SMPS_Bin17_ZIEMBA  166.2500
43  SMPS_Bin18_ZIEMBA  144.7100
44  SMPS_Bin19_ZIEMBA  129.1200
45  SMPS_Bin20_ZIEMBA  236.2300
46  SMPS_Bin21_ZIEMBA  289.8600
47  SMPS_Bin22_ZIEMBA  261.6200
48  SMPS_Bin23_ZIEMBA  283.2300
49  SMPS_Bin24_ZIEMBA  275.9150
50  SMPS_Bin25_ZIEMBA  249.5700
51  SMPS_Bin26_ZIEMBA  264.4325
52  SMPS_Bin27_ZIEMBA  217.8750
53  SMPS_Bin28_ZIEMBA  183.0100
54  SMPS_Bin29_ZIEMBA  254.2600
55  SMPS_Bin30_ZIEMBA  307.6900

In [1535]:
# Calculate median values along columns
ocean2_median = ocean2.median()

# Convert the Series to a DataFrame
ocean2_median_df = ocean2_median.to_frame().reset_index()
ocean2_median_df.columns = ['Column', 'Median']
ocean2_median_df

               Column    Median
0    LAS_Bin01_ZIEMBA  432.0775
1    LAS_Bin02_ZIEMBA  366.1075
2    LAS_Bin03_ZIEMBA  355.2550
3    LAS_Bin04_ZIEMBA  328.6200
4    LAS_Bin05_ZIEMBA  344.0550
5    LAS_Bin06_ZIEMBA  315.3650
6    LAS_Bin07_ZIEMBA  285.3075
7    LAS_Bin08_ZIEMBA  218.6975
8    LAS_Bin09_ZIEMBA  145.0500
9    LAS_Bin10_ZIEMBA   87.6100
10   LAS_Bin11_ZIEMBA   52.2000
11   LAS_Bin12_ZIEMBA   17.4075
12   LAS_Bin13_ZIEMBA    8.6650
13   LAS_Bin14_ZIEMBA    0.0000
14   LAS_Bin15_ZIEMBA    0.0000
15   LAS_Bin16_ZIEMBA    0.0000
16   LAS_Bin17_ZIEMBA    0.0000
17   LAS_Bin18_ZIEMBA    0.0000
18   LAS_Bin19_ZIEMBA    0.0000
19   LAS_Bin20_ZIEMBA    0.0000
20   LAS_Bin21_ZIEMBA    0.0000
21   LAS_Bin22_ZIEMBA    0.0000
22   LAS_Bin23_ZIEMBA    0.0000
23   LAS_Bin24_ZIEMBA    0.0000
24   LAS_Bin25_ZIEMBA    0.0000
25   LAS_Bin26_ZIEMBA    0.0000
26  SMPS_Bin01_ZIEMBA       NaN
27  SMPS_Bin02_ZIEMBA    0.0000
28  SMPS_Bin03_ZIEMBA    0.0000
29  SMPS_Bin04_ZIEMBA    0.0000
30  SMPS_Bin05_ZIEMBA    0.0000
31  SMPS_Bin06_ZIEMBA    0.0000
32  SMPS_Bin07_ZIEMBA    0.0000
33  SMPS_Bin08_ZIEMBA    0.0000
34  SMPS_Bin09_ZIEMBA    0.0000
35  SMPS_Bin10_ZIEMBA    0.0000
36  SMPS_Bin11_ZIEMBA    0.0000
37  SMPS_Bin12_ZIEMBA    0.0000
38  SMPS_Bin13_ZIEMBA    0.0000
39  SMPS_Bin14_ZIEMBA    0.0100
40  SMPS_Bin15_ZIEMBA   76.3000
41  SMPS_Bin16_ZIEMBA  208.6200
42  SMPS_Bin17_ZIEMBA  284.3100
43  SMPS_Bin18_ZIEMBA  404.3900
44  SMPS_Bin19_ZIEMBA  233.8000
45  SMPS_Bin20_ZIEMBA  402.4300
46  SMPS_Bin21_ZIEMBA  325.2400
47  SMPS_Bin22_ZIEMBA  350.3500
48  SMPS_Bin23_ZIEMBA  354.0700
49  SMPS_Bin24_ZIEMBA  425.6400
50  SMPS_Bin25_ZIEMBA  401.4800
51  SMPS_Bin26_ZIEMBA  277.2200
52  SMPS_Bin27_ZIEMBA  374.3000
53  SMPS_Bin28_ZIEMBA  445.1500
54  SMPS_Bin29_ZIEMBA  397.5700
55  SMPS_Bin30_ZIEMBA  392.6250

In [1540]:
ocean1 = ocean.quantile(.25)
ocean_1 = ocean1.to_frame().reset_index()
ocean_1.columns = ['Column', 'Median']
ocean_1
ocean22 = ocean.quantile(.75)
ocean_2 = ocean22.to_frame().reset_index()
ocean_2.columns = ['Column', 'Median']
ocean_2
ocean_transport_plot_25 = ocean_median_df['Median'] - ocean_1['Median']
ocean_transport_plot_25
ocean_transport_plot_75 = ocean_2['Median'] - ocean_median_df['Median']
ocean_transport_plot_75


ocean3 = ocean2.quantile(.25)
ocean_3 = ocean3.to_frame().reset_index()
ocean_3.columns = ['Column', 'Median']
ocean_3
ocean4 = ocean2.quantile(.75)
ocean_4 = ocean4.to_frame().reset_index()
ocean_4.columns = ['Column', 'Median']
ocean_4
ocean2_transport_plot_25 = ocean2_median_df['Median'] - ocean_3['Median']
ocean2_transport_plot_25
ocean2_transport_plot_75 = ocean_4['Median'] - ocean2_median_df['Median']
ocean2_transport_plot_75

0     361.41000
1     264.79000
2     195.77375
3      90.57875
4      76.59625
5      91.29000
6      95.61125
7      76.17750
8      39.68000
9      23.92125
10      0.16375
11     17.27125
12      8.63500
13      0.00000
14      0.00000
15      0.00000
16      0.00000
17      0.00000
18      0.00000
19      0.00000
20      0.00000
21      0.00000
22      0.00000
23      0.00000
24      0.00000
25      0.00000
26          NaN
27      0.00000
28      0.00000
29      0.00000
30      0.00000
31      0.00000
32      0.00000
33      0.00000
34      0.00000
35      0.00000
36      0.00000
37      0.00000
38    301.50000
39     87.84000
40    163.04000
41    170.72500
42    116.56500
43    159.50000
44    295.69000
45    118.54000
46     58.85000
47    209.81000
48    152.10000
49    158.88000
50    176.31000
51    450.66750
52    167.82000
53     93.66000
54    335.13000
55    150.21500
Name: Median, dtype: float64

In [1541]:
# Concatenate the dataframes vertically (along rows)
North_America = pd.concat([DAY1000_subset_10007, DAY1000_subset_10007b, DAY1000_subset_10008, DAY1000_subset_100017], axis=0)
# Reset the index of the merged dataframe
North_America.reset_index(drop=True, inplace=True)
North_America

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-07 14:32:05.500,2022-06-07 14:32:06.500,130.6300,2032.270,2075.820,1973.565,1659.225,1592.380,1063.325,694.175,...,536.42,1054.51,1371.55,1616.39,1793.30,1074.02,1993.01,1998.35,1970.72,1742.82
1,2022-06-07 14:32:14.000,2022-06-07 14:32:15.000,172.0250,2350.470,2165.020,2186.610,1768.040,1662.370,1203.370,758.770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-07 14:32:27.500,2022-06-07 14:32:28.500,188.3900,2292.240,2206.645,2116.335,1849.310,1577.410,1138.130,760.205,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
3,2022-06-07 14:32:40.000,2022-06-07 14:32:41.000,219.6400,2044.860,2218.550,1968.420,1525.650,1510.960,1003.890,892.980,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
4,2022-06-07 14:32:48.000,2022-06-07 14:32:49.000,250.9800,2356.010,2315.050,2241.750,1945.240,1655.410,1059.260,677.630,...,917.52,868.04,1333.83,1222.31,1812.84,716.57,1338.19,2233.26,1809.81,1030.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2022-06-02 13:00:31.500,2022-06-02 13:00:32.500,793.3525,203.765,249.375,248.790,356.840,390.445,478.985,474.515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022-06-02 13:00:36.500,2022-06-02 13:00:37.500,832.9125,300.155,182.315,219.355,343.975,372.510,508.905,541.350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022-06-02 13:00:40.500,2022-06-02 13:00:41.500,870.2225,240.085,199.225,260.645,357.965,353.565,481.750,474.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022-06-02 13:00:44.500,2022-06-02 13:00:45.500,907.3525,228.215,282.515,229.700,254.425,391.370,435.485,584.540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2022-06-02 13:00:49.500,2022-06-02 13:00:50.500,944.0275,168.275,183.070,219.180,313.230,362.960,453.495,488.115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1542]:
# Concatenate the dataframes vertically (along rows)
North_America2 = pd.concat([DAY3000_subset_30007, DAY3000_subset_30007b, DAY3000_subset_30008, DAY3000_subset_300017], axis=0)

# Reset the index of the merged dataframe
North_America2.reset_index(drop=True, inplace=True)
North_America2

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-07 14:38:12.000,2022-06-07 14:38:13.000,1030.120,1490.670,1455.590,1849.820,1634.340,1395.52,981.430,647.840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-07 14:38:21.000,2022-06-07 14:38:22.000,1055.940,1102.160,1265.070,1690.460,1607.140,1411.47,945.350,758.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-07 14:38:32.000,2022-06-07 14:38:33.000,1084.140,962.470,1327.310,1561.550,1793.100,1532.14,907.590,598.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-07 14:38:42.500,2022-06-07 14:38:43.500,1107.855,959.755,1229.990,1499.810,1685.870,1290.73,899.715,529.895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-07 14:38:52.000,2022-06-07 14:38:53.000,1136.620,914.990,1131.110,1498.620,1490.640,1489.20,885.460,570.760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,2022-06-02 13:06:03.500,2022-06-02 13:06:04.500,3284.205,661.360,449.255,396.495,284.805,287.31,176.080,149.595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,2022-06-02 13:06:09.000,2022-06-02 13:06:10.000,3322.510,721.210,565.350,438.450,329.110,267.80,148.310,108.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,2022-06-02 13:06:13.500,2022-06-02 13:06:14.500,3359.940,913.680,614.850,594.945,553.380,315.57,203.740,190.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2022-06-02 13:06:18.000,2022-06-02 13:06:19.000,3397.350,1203.030,731.270,731.390,568.900,439.18,240.520,190.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2022-06-02 13:06:24.000,2022-06-02 13:06:25.000,3436.490,1370.300,996.070,836.890,568.730,515.85,314.800,190.260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1543]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL']

# Remove the specified columns in-place
North_America.drop(columns=columns_to_remove, inplace=True)
North_America2.drop(columns=columns_to_remove, inplace=True)

In [1544]:
# Calculate median values along columns
North_America_median = North_America.median()

# Convert the Series to a DataFrame
North_America_median_df = North_America_median.to_frame().reset_index()
North_America_median_df.columns = ['Column', 'Median']
North_America_median_df


# Calculate median values along columns
North_America2_median = North_America2.median()

# Convert the Series to a DataFrame
North_America2_median_df = North_America2_median.to_frame().reset_index()
North_America2_median_df.columns = ['Column', 'Median']
North_America2_median_df

               Column    Median
0    LAS_Bin01_ZIEMBA  1032.500
1    LAS_Bin02_ZIEMBA   764.040
2    LAS_Bin03_ZIEMBA   564.030
3    LAS_Bin04_ZIEMBA   448.090
4    LAS_Bin05_ZIEMBA   362.710
5    LAS_Bin06_ZIEMBA   259.040
6    LAS_Bin07_ZIEMBA   190.160
7    LAS_Bin08_ZIEMBA   142.890
8    LAS_Bin09_ZIEMBA    79.380
9    LAS_Bin10_ZIEMBA    52.530
10   LAS_Bin11_ZIEMBA    26.140
11   LAS_Bin12_ZIEMBA    17.350
12   LAS_Bin13_ZIEMBA     0.000
13   LAS_Bin14_ZIEMBA     0.000
14   LAS_Bin15_ZIEMBA     0.000
15   LAS_Bin16_ZIEMBA     0.000
16   LAS_Bin17_ZIEMBA     0.000
17   LAS_Bin18_ZIEMBA     0.000
18   LAS_Bin19_ZIEMBA     0.000
19   LAS_Bin20_ZIEMBA     0.000
20   LAS_Bin21_ZIEMBA     0.000
21   LAS_Bin22_ZIEMBA     0.000
22   LAS_Bin23_ZIEMBA     0.000
23   LAS_Bin24_ZIEMBA     0.000
24   LAS_Bin25_ZIEMBA     0.000
25   LAS_Bin26_ZIEMBA     0.000
26  SMPS_Bin01_ZIEMBA       NaN
27  SMPS_Bin02_ZIEMBA     0.000
28  SMPS_Bin03_ZIEMBA     0.000
29  SMPS_Bin04_ZIEMBA     0.000
30  SMPS_Bin05_ZIEMBA     0.000
31  SMPS_Bin06_ZIEMBA     0.000
32  SMPS_Bin07_ZIEMBA     0.000
33  SMPS_Bin08_ZIEMBA     0.000
34  SMPS_Bin09_ZIEMBA     0.000
35  SMPS_Bin10_ZIEMBA     0.000
36  SMPS_Bin11_ZIEMBA     0.000
37  SMPS_Bin12_ZIEMBA     0.000
38  SMPS_Bin13_ZIEMBA     0.000
39  SMPS_Bin14_ZIEMBA     0.010
40  SMPS_Bin15_ZIEMBA     0.030
41  SMPS_Bin16_ZIEMBA     0.060
42  SMPS_Bin17_ZIEMBA    93.530
43  SMPS_Bin18_ZIEMBA   155.870
44  SMPS_Bin19_ZIEMBA   227.710
45  SMPS_Bin20_ZIEMBA   410.650
46  SMPS_Bin21_ZIEMBA   457.100
47  SMPS_Bin22_ZIEMBA   587.440
48  SMPS_Bin23_ZIEMBA   672.550
49  SMPS_Bin24_ZIEMBA  1094.840
50  SMPS_Bin25_ZIEMBA   867.680
51  SMPS_Bin26_ZIEMBA   734.825
52  SMPS_Bin27_ZIEMBA   853.545
53  SMPS_Bin28_ZIEMBA   859.550
54  SMPS_Bin29_ZIEMBA   925.040
55  SMPS_Bin30_ZIEMBA   935.990

In [1545]:
North_America1 = North_America.quantile(.25)
North_America_1 = North_America1.to_frame().reset_index()
North_America_1.columns = ['Column', 'Median']
North_America_1
North_America22 = North_America.quantile(.75)
North_America_2 = North_America22.to_frame().reset_index()
North_America_2.columns = ['Column', 'Median']
North_America_2
North_America_transport_plot_25 = North_America_median_df['Median'] - North_America_1['Median']
North_America_transport_plot_25
North_America_transport_plot_75 = North_America_2['Median'] - North_America_median_df['Median']
North_America_transport_plot_75


North_America3 = North_America2.quantile(.25)
North_America_3 = North_America3.to_frame().reset_index()
North_America_3.columns = ['Column', 'Median']
North_America_3
North_America4 = North_America2.quantile(.75)
North_America_4 = North_America4.to_frame().reset_index()
North_America_4.columns = ['Column', 'Median']
North_America_4
North_America2_transport_plot_25 = North_America2_median_df['Median'] - North_America_3['Median']
North_America2_transport_plot_25
North_America2_transport_plot_75 = North_America_4['Median'] - North_America2_median_df['Median']
North_America2_transport_plot_75

0     378.3975
1     374.3425
2     277.0825
3     178.6100
4     139.3475
5      92.2625
6      81.4375
7      71.0150
8      52.6350
9      30.5400
10     26.0350
11      8.7150
12     17.2900
13      0.0000
14      0.0000
15      0.0000
16      0.0000
17      0.0000
18      0.0000
19      0.0000
20      0.0000
21      0.0000
22      0.0000
23      0.0000
24      0.0000
25      0.0000
26         NaN
27      0.0000
28      0.0000
29      0.0000
30      0.0000
31      0.0000
32      0.0000
33      0.0000
34      0.0000
35      0.0000
36      0.0000
37    214.7600
38    167.9700
39     87.7000
40    166.8425
41    103.0700
42      8.4400
43     63.8400
44     59.6500
45    210.1600
46    122.2600
47    228.4000
48    224.0000
49    206.1775
50    216.6900
51    189.5250
52    440.8250
53    406.1200
54    657.4600
55    361.8200
Name: Median, dtype: float64

In [1547]:
# Concatenate the dataframes vertically (along rows)
Caribbean = pd.concat([DAY1000_subset_100010, DAY1000_subset_10001110b, DAY1000_subset_100010b, DAY1000_subset_100011, DAY1000_subset_100011b], axis=0)

# Reset the index of the merged dataframe
Caribbean.reset_index(drop=True, inplace=True)
Caribbean

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-10 15:17:25.000,2022-06-10 15:17:26.000,123.7050,192.300,199.230,249.770,327.140,381.050,461.730,408.660,...,375.00,306.29,440.89,322.11,614.07,812.49,519.63,197.71,53.83,211.18
1,2022-06-10 15:17:52.500,2022-06-10 15:17:53.500,173.7850,144.325,282.870,240.000,254.660,391.300,361.415,406.960,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
2,2022-06-10 15:17:58.000,2022-06-10 15:17:59.000,209.2900,215.620,230.760,272.220,238.780,362.540,368.350,433.770,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
3,2022-06-10 15:18:03.000,2022-06-10 15:18:04.000,244.1150,192.080,199.300,208.530,239.400,305.130,407.690,379.780,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
4,2022-06-10 15:18:07.500,2022-06-10 15:18:08.500,277.9725,96.000,165.715,197.485,194.450,313.935,489.690,365.755,...,178.11,486.65,170.00,552.52,600.60,718.31,433.85,362.03,218.43,161.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2022-06-11 20:09:53.000,2022-06-11 20:09:54.000,824.3850,385.360,430.040,396.570,506.560,418.880,408.250,514.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2022-06-11 20:09:58.000,2022-06-11 20:09:59.000,852.6800,407.070,429.380,414.490,327.590,474.930,351.120,487.550,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21
101,2022-06-11 20:10:02.000,2022-06-11 20:10:03.000,884.2350,527.750,463.560,416.010,389.030,458.950,463.310,379.400,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21
102,2022-06-11 20:10:05.500,2022-06-11 20:10:06.500,914.1000,539.520,615.115,500.170,477.775,458.915,416.420,421.255,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21
103,2022-06-11 20:10:10.000,2022-06-11 20:10:11.000,946.9750,576.570,531.560,541.820,659.780,553.790,390.070,325.540,...,188.61,259.12,738.76,594.34,642.39,472.36,926.22,517.36,467.03,701.21

In [1548]:
# Concatenate the dataframes vertically (along rows)
Caribbean2 = pd.concat([DAY3000_subset_300010,  DAY3000_subset_30001110b, DAY3000_subset_300010b, DAY3000_subset_300011, DAY3000_subset_300011b, DAY3000_subset_300013, DAY3000_subset_300013b], axis=0)

# Reset the index of the merged dataframe
Caribbean2.reset_index(drop=True, inplace=True)
Caribbean2

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-10 15:19:33.500,2022-06-10 15:19:34.500,1002.010,588.130,647.275,740.280,611.740,496.675,629.415,515.535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-10 15:19:37.500,2022-06-10 15:19:38.500,1036.915,782.030,798.865,636.765,734.140,554.875,669.350,462.375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-10 15:19:41.500,2022-06-10 15:19:42.500,1072.325,660.620,714.505,679.205,732.705,610.305,500.380,353.310,...,956.23,963.66,1070.83,1064.71,718.07,913.82,659.86,552.77,1091.01,952.28
3,2022-06-10 15:19:45.000,2022-06-10 15:19:46.000,1103.920,745.140,730.280,751.620,686.920,669.280,666.720,407.330,...,956.23,963.66,1070.83,1064.71,718.07,913.82,659.86,552.77,1091.01,952.28
4,2022-06-10 15:19:48.500,2022-06-10 15:19:49.500,1135.630,636.365,713.835,769.480,776.345,781.470,601.035,530.530,...,956.23,963.66,1070.83,1064.71,718.07,913.82,659.86,552.77,1091.01,952.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,2022-06-13 20:06:14.000,2022-06-13 20:06:15.000,3261.760,2165.980,1328.890,1065.520,745.780,401.360,222.700,163.010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,2022-06-13 20:06:18.500,2022-06-13 20:06:19.500,3307.625,2027.100,1610.300,1157.260,671.150,505.605,323.535,203.580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,2022-06-13 20:06:23.000,2022-06-13 20:06:24.000,3355.810,3026.630,1892.170,1315.650,627.810,533.420,296.140,190.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,2022-06-13 20:06:29.500,2022-06-13 20:06:30.500,3402.535,2772.865,1843.075,1170.135,851.815,553.805,231.390,176.495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,2022-06-13 20:06:36.000,2022-06-13 20:06:37.000,3445.290,2693.600,1828.380,1315.260,866.390,572.260,240.300,217.170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1549]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL']

# Remove the specified columns in-place
Caribbean.drop(columns=columns_to_remove, inplace=True)
Caribbean2.drop(columns=columns_to_remove, inplace=True)

In [1550]:
# Calculate median values along columns
Caribbean_median = Caribbean.median()

# Convert the Series to a DataFrame
Caribbean_median_df = Caribbean_median.to_frame().reset_index()
Caribbean_median_df.columns = ['Column', 'Median']
Caribbean_median_df


# Calculate median values along columns
Caribbean2_median = Caribbean2.median()

# Convert the Series to a DataFrame
Caribbean2_median_df = Caribbean2_median.to_frame().reset_index()
Caribbean2_median_df.columns = ['Column', 'Median']
Caribbean2_median_df

               Column    Median
0    LAS_Bin01_ZIEMBA  517.1025
1    LAS_Bin02_ZIEMBA  465.0075
2    LAS_Bin03_ZIEMBA  417.1350
3    LAS_Bin04_ZIEMBA  357.9600
4    LAS_Bin05_ZIEMBA  296.1750
5    LAS_Bin06_ZIEMBA  240.4150
6    LAS_Bin07_ZIEMBA  203.2700
7    LAS_Bin08_ZIEMBA  160.4400
8    LAS_Bin09_ZIEMBA  105.5750
9    LAS_Bin10_ZIEMBA   52.5350
10   LAS_Bin11_ZIEMBA   26.1200
11   LAS_Bin12_ZIEMBA   17.3500
12   LAS_Bin13_ZIEMBA    8.6350
13   LAS_Bin14_ZIEMBA    0.0000
14   LAS_Bin15_ZIEMBA    0.0000
15   LAS_Bin16_ZIEMBA    0.0000
16   LAS_Bin17_ZIEMBA    0.0000
17   LAS_Bin18_ZIEMBA    0.0000
18   LAS_Bin19_ZIEMBA    0.0000
19   LAS_Bin20_ZIEMBA    0.0000
20   LAS_Bin21_ZIEMBA    0.0000
21   LAS_Bin22_ZIEMBA    0.0000
22   LAS_Bin23_ZIEMBA    0.0000
23   LAS_Bin24_ZIEMBA    0.0000
24   LAS_Bin25_ZIEMBA    0.0000
25   LAS_Bin26_ZIEMBA    0.0000
26  SMPS_Bin01_ZIEMBA       NaN
27  SMPS_Bin02_ZIEMBA    0.0000
28  SMPS_Bin03_ZIEMBA    0.0000
29  SMPS_Bin04_ZIEMBA    0.0000
30  SMPS_Bin05_ZIEMBA    0.0000
31  SMPS_Bin06_ZIEMBA    0.0000
32  SMPS_Bin07_ZIEMBA    0.0000
33  SMPS_Bin08_ZIEMBA    0.0000
34  SMPS_Bin09_ZIEMBA    0.0000
35  SMPS_Bin10_ZIEMBA    0.0000
36  SMPS_Bin11_ZIEMBA    0.0000
37  SMPS_Bin12_ZIEMBA    0.0000
38  SMPS_Bin13_ZIEMBA    0.0000
39  SMPS_Bin14_ZIEMBA    0.0100
40  SMPS_Bin15_ZIEMBA    0.0100
41  SMPS_Bin16_ZIEMBA   41.0850
42  SMPS_Bin17_ZIEMBA   94.6100
43  SMPS_Bin18_ZIEMBA  161.1600
44  SMPS_Bin19_ZIEMBA  275.9400
45  SMPS_Bin20_ZIEMBA  300.8400
46  SMPS_Bin21_ZIEMBA  363.2200
47  SMPS_Bin22_ZIEMBA  392.9900
48  SMPS_Bin23_ZIEMBA  609.4100
49  SMPS_Bin24_ZIEMBA  600.3700
50  SMPS_Bin25_ZIEMBA  609.0000
51  SMPS_Bin26_ZIEMBA  550.7400
52  SMPS_Bin27_ZIEMBA  520.4600
53  SMPS_Bin28_ZIEMBA  498.1400
54  SMPS_Bin29_ZIEMBA  475.4700
55  SMPS_Bin30_ZIEMBA  453.0900

In [1551]:
Caribbean1 = Caribbean.quantile(.25)
Caribbean_1 = Caribbean1.to_frame().reset_index()
Caribbean_1.columns = ['Column', 'Median']
Caribbean_1
Caribbean22 = Caribbean.quantile(.75)
Caribbean_2 = Caribbean22.to_frame().reset_index()
Caribbean_2.columns = ['Column', 'Median']
Caribbean_2
Caribbean_transport_plot_25 = Caribbean_median_df['Median'] - Caribbean_1['Median']
Caribbean_transport_plot_25
Caribbean_transport_plot_75 = Caribbean_2['Median'] - Caribbean_median_df['Median']
Caribbean_transport_plot_75


Caribbean3 = Caribbean2.quantile(.25)
Caribbean_3 = Caribbean3.to_frame().reset_index()
Caribbean_3.columns = ['Column', 'Median']
Caribbean_3
Caribbean4 = Caribbean2.quantile(.75)
Caribbean_4 = Caribbean4.to_frame().reset_index()
Caribbean_4.columns = ['Column', 'Median']
Caribbean_4
Caribbean2_transport_plot_25 = Caribbean2_median_df['Median'] - Caribbean_3['Median']
Caribbean2_transport_plot_25
Caribbean2_transport_plot_75 = Caribbean_4['Median'] - Caribbean2_median_df['Median']
Caribbean2_transport_plot_75

0     156.61750
1     199.24625
2     167.78375
3     134.87375
4     152.56625
5     145.71375
6     123.09000
7     107.04625
8      79.12000
9      43.82250
10     26.10875
11     17.33000
12      8.68375
13      0.00000
14      8.64500
15      0.00000
16      0.00000
17      0.00000
18     17.28000
19     17.31500
20      0.00000
21      0.00000
22      0.00000
23      0.00000
24      0.00000
25      0.00000
26          NaN
27      0.00000
28      0.00000
29      0.00000
30      0.00000
31      0.00000
32      0.00000
33      0.00000
34      0.00000
35      0.00000
36      0.00000
37      0.00000
38      0.00000
39      0.00000
40    140.37000
41    203.26500
42    114.73500
43     86.88000
44    162.86000
45    174.27000
46    295.35000
47    315.28250
48    220.71000
49    140.31000
50    162.81000
51    184.66000
52    243.98000
53    102.00000
54    228.43000
55    181.82000
Name: Median, dtype: float64

In [1552]:
Africa = pd.concat([DAY1000_subset_100013, DAY1000_subset_100013b, DAY1000_subset_100014])
# Reset the index of the merged dataframe
Africa.reset_index(drop=True, inplace=True)
Africa

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-13 14:30:32.000,2022-06-13 14:30:33.000,138.9350,120.480,165.890,167.490,180.190,248.270,278.580,300.170,...,281.52,163.18,417.79,233.83,314.72,423.38,216.21,141.55,217.55,236.81
1,2022-06-13 14:31:11.500,2022-06-13 14:31:12.500,199.8125,119.945,133.080,208.065,179.990,268.395,322.940,351.635,...,186.02,78.08,329.97,279.85,410.64,491.27,225.56,303.22,226.70,104.82
2,2022-06-13 14:31:24.000,2022-06-13 14:31:25.000,251.1650,96.350,132.940,146.250,209.760,210.630,352.660,351.510,...,186.02,78.08,329.97,279.85,410.64,491.27,225.56,303.22,226.70,104.82
3,2022-06-13 14:31:36.500,2022-06-13 14:31:37.500,292.3100,108.000,116.190,145.990,179.505,209.705,277.810,380.255,...,186.02,78.08,329.97,279.85,410.64,491.27,225.56,303.22,226.70,104.82
4,2022-06-13 14:31:48.000,2022-06-13 14:31:49.000,338.4650,95.800,132.410,104.760,178.970,189.740,276.820,299.450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-06-13 14:32:01.000,2022-06-13 14:32:02.000,380.4400,96.140,66.590,125.370,119.680,209.690,315.710,352.870,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
6,2022-06-13 14:32:13.000,2022-06-13 14:32:14.000,422.4850,96.150,99.620,145.810,209.500,191.430,241.190,271.200,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
7,2022-06-13 14:32:22.000,2022-06-13 14:32:23.000,469.4600,120.340,132.240,104.590,119.760,191.410,259.600,271.810,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
8,2022-06-13 14:32:33.000,2022-06-13 14:32:34.000,513.9000,120.450,165.600,146.690,178.730,230.090,222.190,270.550,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
9,2022-06-13 14:32:45.500,2022-06-13 14:32:46.500,556.2900,143.990,149.620,135.620,149.140,191.710,204.125,216.565,...,196.09,211.18,176.98,320.14,298.97,439.41,227.44,281.60,175.51,137.63
10,2022-06-13 14:32:57.000,2022-06-13 14:32:58.000,602.3600,192.400,264.520,231.230,207.940,190.810,204.310,298.420,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
11,2022-06-13 14:33:09.500,2022-06-13 14:33:10.500,645.1200,492.500,432.410,396.615,388.620,344.080,351.905,339.575,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
12,2022-06-13 14:33:22.500,2022-06-13 14:33:23.500,687.0825,516.730,481.645,542.540,478.715,477.315,360.995,271.330,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
13,2022-06-13 14:33:33.500,2022-06-13 14:33:34.500,734.1000,587.635,631.160,552.940,521.685,449.790,416.990,380.260,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
14,2022-06-13 14:33:45.000,2022-06-13 14:33:46.000,778.7850,552.150,432.490,438.500,387.750,421.140,388.220,380.890,...,282.20,244.13,669.90,783.03,568.03,448.46,639.24,460.89,373.38,575.13
15,2022-06-13 14:33:57.500,2022-06-13 14:33:58.500,820.4725,432.785,382.150,385.855,388.810,362.455,379.350,312.295,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
16,2022-06-13 14:34:08.500,2022-06-13 14:34:09.500,865.3400,347.590,249.470,301.465,327.405,333.795,360.715,367.145,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
17,2022-06-13 14:34:18.500,2022-06-13 14:34:19.500,910.9325,385.855,382.400,301.525,387.470,296.205,398.180,379.790,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
18,2022-06-13 14:34:30.500,2022-06-13 14:34:31.500,954.4525,336.845,298.740,290.950,298.850,287.165,315.495,326.405,...,95.10,242.81,209.81,633.61,500.74,217.74,525.23,415.91,580.33,225.30
19,2022-06-13 19:46:21.500,2022-06-13 19:46:22.500,119.6275,96.125,99.340,103.950,149.455,171.560,239.755,271.605,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.60,452.12
20,2022-06-13 19:46:50.000,2022-06-13 19:46:51.000,172.9900,96.150,99.340,62.530,119.460,171.880,167.230,216.740,...,120.81,291.61,417.26,670.53,467.05,492.25,393.43,698.82,338.60,452.12
21,2022-06-13 19:47:03.500,2022-06-13 19:47:04.500,218.5850,47.825,99.655,114.910,119.615,123.915,194.260,244.290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2022-06-13 19:47:16.500,2022-06-13 19:47:17.500,261.7975,60.130,66.415,83.530,89.265,162.085,185.805,230.710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2022-06-13 19:47:33.000,2022-06-13 19:47:34.000,309.0100,71.860,66.440,41.970,89.470,114.480,167.010,189.620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2022-06-13 19:47:48.000,2022-06-13 19:47:49.000,352.0100,48.130,33.190,83.410,59.890,95.800,166.980,190.140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2022-06-13 19:48:00.500,2022-06-13 19:48:01.500,396.1500,60.095,66.445,93.830,59.820,95.775,129.590,163.295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2022-06-13 19:48:11.500,2022-06-13 19:48:12.500,442.3500,36.120,83.165,62.500,89.825,104.970,120.325,176.405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2022-06-13 19:48:21.500,2022-06-13 19:48:22.500,489.9675,71.840,66.425,62.590,104.630,95.265,138.980,202.435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2022-06-13 19:48:37.000,2022-06-13 19:48:38.000,537.7850,72.080,66.750,103.760,89.630,95.670,129.720,190.630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2022-06-13 19:48:55.000,2022-06-13 19:48:56.000,568.2850,48.050,66.270,82.980,89.470,76.360,111.210,108.410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2022-06-13 19:49:09.500,2022-06-13 19:49:10.500,627.0200,72.060,82.880,83.575,119.475,95.470,147.955,190.410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2022-06-13 19:49:22.000,2022-06-13 19:49:23.000,662.8850,72.150,99.470,42.000,89.480,76.630,130.060,136.090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2022-06-13 19:49:35.000,2022-06-13 19:49:36.000,707.2050,120.140,99.850,104.500,89.620,76.490,147.590,108.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2022-06-13 19:49:47.500,2022-06-13 19:49:48.500,761.2975,143.705,133.100,125.585,104.300,105.475,138.995,135.785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2022-06-13 19:49:59.500,2022-06-13 19:50:00.500,802.1225,156.270,165.985,135.730,149.160,172.000,148.360,136.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2022-06-13 19:50:14.500,2022-06-13 19:50:15.500,848.2700,264.365,166.225,166.435,178.750,152.815,167.015,162.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2022-06-13 19:50:32.500,2022-06-13 19:50:33.500,887.7025,276.445,198.950,208.330,149.820,181.510,111.165,135.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2022-06-13 19:50:47.000,2022-06-13 19:50:48.000,931.5150,288.480,331.530,187.440,149.520,190.460,148.260,162.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2022-06-14 16:05:20.000,2022-06-14 16:05:21.000,118.0250,263.880,198.400,250.820,268.770,342.090,314.990,354.220,...,566.15,798.39,1113.30,2030.87,1668.31,1065.54,824.47,190.28,0.00,0.00
39,2022-06-14 16:05:44.500,2022-06-14 16:05:45.500,243.7250,455.185,332.855,270.315,253.710,276.815,305.645,299.195,...,566.15,798.39,1113.30,2030.87,1668.31,1065.54,824.47,190.28,0.00,0.00
40,2022-06-14 16:05:55.000,2022-06-14 16:05:56.000,326.2200,287.380,232.240,250.390,239.150,304.340,351.110,271.910,...,566.15,798.39,1113.30,2030.87,1668.31,1065.54,824.47,190.28,0.00,0.00
41,2022-06-14 16:06:05.500,2022-06-14 16:06:06.500,410.0450,227.290,199.510,261.110,239.355,296.600,332.175,271.380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2022-06-14 16:06:16.000,2022-06-14 16:06:17.000,493.6150,240.520,165.850,209.040,239.020,324.190,240.070,271.720,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.00,0.00
43,2022-06-14 16:06:27.500,2022-06-14 16:06:28.500,577.6025,215.695,182.590,249.395,328.400,315.545,258.900,284.780,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.00,0.00
44,2022-06-14 16:06:38.500,2022-06-14 16:06:39.500,662.5250,180.495,199.620,219.075,239.475,277.330,277.250,217.780,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.00,0.00
45,2022-06-14 16:06:48.500,2022-06-14 16:06:49.500,744.1025,156.255,265.775,177.700,179.640,296.260,259.375,244.100,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.00,0.00
46,2022-06-14 16:06:59.500,2022-06-14 16:07:00.500,825.6350,168.400,266.140,208.460,224.400,200.730,240.490,244.180,...,0.00,268.69,297.03,438.74,423.97,322.14,72.41,151.24,0.00,0.00
47,2022-06-14 16:07:10.500,2022-06-14 16:07:11.500,913.7500,156.100,232.895,239.710,194.280,277.240,231.650,203.545,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.00

In [1555]:
Africa2 = DAY3000_subset_300014
Africa2

,Time_Start,Time_Stop,GPS_Altitude_THORNHILL,LAS_Bin01_ZIEMBA,LAS_Bin02_ZIEMBA,LAS_Bin03_ZIEMBA,LAS_Bin04_ZIEMBA,LAS_Bin05_ZIEMBA,LAS_Bin06_ZIEMBA,LAS_Bin07_ZIEMBA,...,SMPS_Bin21_ZIEMBA,SMPS_Bin22_ZIEMBA,SMPS_Bin23_ZIEMBA,SMPS_Bin24_ZIEMBA,SMPS_Bin25_ZIEMBA,SMPS_Bin26_ZIEMBA,SMPS_Bin27_ZIEMBA,SMPS_Bin28_ZIEMBA,SMPS_Bin29_ZIEMBA,SMPS_Bin30_ZIEMBA
0,2022-06-14 16:07:29.500,2022-06-14 16:07:30.500,1076.810,204.320,215.030,239.635,253.380,200.610,221.590,216.680,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
1,2022-06-14 16:07:39.000,2022-06-14 16:07:40.000,1162.240,287.930,232.260,229.460,209.470,209.870,277.250,217.710,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
2,2022-06-14 16:07:48.500,2022-06-14 16:07:49.500,1247.740,240.135,232.415,229.095,238.880,219.160,213.435,204.060,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
3,2022-06-14 16:07:58.500,2022-06-14 16:07:59.500,1331.135,228.275,232.525,218.950,209.155,172.315,175.825,162.920,...,107.46,290.20,211.88,76.61,281.59,359.16,138.88,289.30,0.00,0.0
4,2022-06-14 16:08:08.000,2022-06-14 16:08:09.000,1413.230,264.450,199.130,229.080,209.430,153.010,203.600,135.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-06-14 16:08:17.500,2022-06-14 16:08:18.500,1499.150,288.345,249.180,250.320,179.495,219.410,185.505,176.415,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
6,2022-06-14 16:08:27.000,2022-06-14 16:08:28.000,1580.140,265.220,265.980,229.360,268.320,172.320,129.660,81.510,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
7,2022-06-14 16:08:36.500,2022-06-14 16:08:37.500,1663.475,264.380,232.605,218.530,194.280,153.210,129.805,81.460,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
8,2022-06-14 16:08:46.500,2022-06-14 16:08:47.500,1749.545,252.480,216.590,187.665,224.355,200.720,148.230,135.775,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
9,2022-06-14 16:08:56.000,2022-06-14 16:08:57.000,1831.050,264.870,199.670,208.480,149.630,190.850,148.180,81.400,...,545.04,399.68,127.11,412.68,320.59,414.18,251.64,132.92,0.00,0.0
10,2022-06-14 16:09:05.500,2022-06-14 16:09:06.500,1914.110,204.540,182.610,156.395,134.530,162.410,111.055,108.595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2022-06-14 16:09:15.000,2022-06-14 16:09:16.000,1998.070,144.530,166.600,146.000,149.740,152.980,129.930,108.560,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
12,2022-06-14 16:09:24.500,2022-06-14 16:09:25.500,2080.980,168.115,116.320,146.370,119.470,95.660,55.630,81.465,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
13,2022-06-14 16:09:34.000,2022-06-14 16:09:35.000,2163.850,168.570,133.020,104.370,60.050,76.650,55.370,27.190,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
14,2022-06-14 16:09:43.500,2022-06-14 16:09:44.500,2248.635,108.180,133.215,115.010,74.835,66.960,46.350,27.165,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
15,2022-06-14 16:09:53.500,2022-06-14 16:09:54.500,2337.580,168.420,132.725,146.155,89.625,66.925,37.065,27.170,...,764.95,535.28,408.24,114.41,185.37,31.84,302.25,143.20,0.00,0.0
16,2022-06-14 16:10:03.500,2022-06-14 16:10:04.500,2411.835,168.395,199.500,93.930,134.435,86.050,46.280,27.175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2022-06-14 16:10:13.000,2022-06-14 16:10:14.000,2501.140,216.350,166.520,125.300,119.340,76.290,55.510,27.190,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
18,2022-06-14 16:10:23.000,2022-06-14 16:10:24.000,2585.990,264.020,166.270,104.500,89.530,57.300,37.000,27.170,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
19,2022-06-14 16:10:33.500,2022-06-14 16:10:34.500,2664.660,180.155,166.125,125.035,44.830,86.050,36.975,27.155,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
20,2022-06-14 16:10:43.000,2022-06-14 16:10:44.000,2751.520,215.830,166.180,62.270,89.610,57.490,37.020,54.330,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
21,2022-06-14 16:10:53.500,2022-06-14 16:10:54.500,2840.500,216.220,132.870,62.670,89.740,38.180,27.760,0.000,...,112.15,443.61,529.75,558.49,515.00,85.50,201.08,226.50,143.71,0.0
22,2022-06-14 16:11:05.500,2022-06-14 16:11:06.500,2918.425,156.185,132.770,83.455,44.915,38.310,18.525,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2022-06-14 16:11:16.000,2022-06-14 16:11:17.000,3001.540,120.190,132.820,103.810,59.630,19.110,18.540,27.100,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
24,2022-06-14 16:11:25.500,2022-06-14 16:11:26.500,3084.130,120.215,66.490,93.850,74.800,28.615,18.490,13.565,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
25,2022-06-14 16:11:35.000,2022-06-14 16:11:36.000,3169.940,168.370,165.570,83.460,89.470,76.260,0.000,0.000,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
26,2022-06-14 16:11:45.500,2022-06-14 16:11:46.500,3256.060,144.160,132.850,124.835,29.985,19.165,9.250,27.105,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0
27,2022-06-14 16:11:56.000,2022-06-14 16:11:57.000,3337.470,240.140,165.970,124.880,89.720,57.290,36.960,0.000,...,350.72,443.37,537.78,404.44,80.06,349.93,245.30,188.95,271.21,0.0

In [1556]:
# Columns to remove
columns_to_remove = ['Time_Start', 'Time_Stop', 'GPS_Altitude_THORNHILL']

# Remove the specified columns in-place
Africa.drop(columns=columns_to_remove, inplace=True)
Africa2.drop(columns=columns_to_remove, inplace=True)

In [1557]:
# Calculate median values along columns
Africa_median = Africa.median()

# Convert the Series to a DataFrame
Africa_median_df = Africa_median.to_frame().reset_index()
Africa_median_df.columns = ['Column', 'Median']
Africa_median_df


# Calculate median values along columns
Africa2_median = Africa2.median()

# Convert the Series to a DataFrame
Africa2_median_df = Africa2_median.to_frame().reset_index()
Africa2_median_df.columns = ['Column', 'Median']
Africa2_median_df

               Column    Median
0    LAS_Bin01_ZIEMBA  210.1850
1    LAS_Bin02_ZIEMBA  166.3950
2    LAS_Bin03_ZIEMBA  135.6500
3    LAS_Bin04_ZIEMBA  119.4050
4    LAS_Bin05_ZIEMBA   86.0500
5    LAS_Bin06_ZIEMBA   55.4400
6    LAS_Bin07_ZIEMBA   40.7600
7    LAS_Bin08_ZIEMBA   35.6825
8    LAS_Bin09_ZIEMBA   26.4175
9    LAS_Bin10_ZIEMBA   17.4950
10   LAS_Bin11_ZIEMBA    0.0000
11   LAS_Bin12_ZIEMBA    0.0000
12   LAS_Bin13_ZIEMBA    0.0000
13   LAS_Bin14_ZIEMBA    0.0000
14   LAS_Bin15_ZIEMBA    0.0000
15   LAS_Bin16_ZIEMBA    0.0000
16   LAS_Bin17_ZIEMBA    0.0000
17   LAS_Bin18_ZIEMBA    0.0000
18   LAS_Bin19_ZIEMBA    0.0000
19   LAS_Bin20_ZIEMBA    0.0000
20   LAS_Bin21_ZIEMBA    0.0000
21   LAS_Bin22_ZIEMBA    0.0000
22   LAS_Bin23_ZIEMBA    0.0000
23   LAS_Bin24_ZIEMBA    0.0000
24   LAS_Bin25_ZIEMBA    0.0000
25   LAS_Bin26_ZIEMBA    0.0000
26  SMPS_Bin01_ZIEMBA       NaN
27  SMPS_Bin02_ZIEMBA    0.0000
28  SMPS_Bin03_ZIEMBA    0.0000
29  SMPS_Bin04_ZIEMBA    0.0000
30  SMPS_Bin05_ZIEMBA    0.0000
31  SMPS_Bin06_ZIEMBA    0.0000
32  SMPS_Bin07_ZIEMBA    0.0000
33  SMPS_Bin08_ZIEMBA    0.0000
34  SMPS_Bin09_ZIEMBA    0.0000
35  SMPS_Bin10_ZIEMBA    0.0000
36  SMPS_Bin11_ZIEMBA    0.0000
37  SMPS_Bin12_ZIEMBA    0.0000
38  SMPS_Bin13_ZIEMBA    0.0000
39  SMPS_Bin14_ZIEMBA    0.0000
40  SMPS_Bin15_ZIEMBA    0.0100
41  SMPS_Bin16_ZIEMBA  235.6400
42  SMPS_Bin17_ZIEMBA  109.4000
43  SMPS_Bin18_ZIEMBA  105.3100
44  SMPS_Bin19_ZIEMBA  306.2800
45  SMPS_Bin20_ZIEMBA  255.7400
46  SMPS_Bin21_ZIEMBA  350.7200
47  SMPS_Bin22_ZIEMBA  443.3700
48  SMPS_Bin23_ZIEMBA  408.2400
49  SMPS_Bin24_ZIEMBA  404.4400
50  SMPS_Bin25_ZIEMBA  281.5900
51  SMPS_Bin26_ZIEMBA  349.9300
52  SMPS_Bin27_ZIEMBA  245.3000
53  SMPS_Bin28_ZIEMBA  188.9500
54  SMPS_Bin29_ZIEMBA    0.0000
55  SMPS_Bin30_ZIEMBA    0.0000

In [1558]:
Africa1 = Africa.quantile(.25)
Africa_1 = Africa1.to_frame().reset_index()
Africa_1.columns = ['Column', 'Median']
Africa_1
Africa22 = Africa.quantile(.75)
Africa_2 = Africa22.to_frame().reset_index()
Africa_2.columns = ['Column', 'Median']
Africa_2
Africa_transport_plot_25 = Africa_median_df['Median'] - Africa_1['Median']
Africa_transport_plot_25
Africa_transport_plot_75 = Africa_2['Median'] - Africa_median_df['Median']
Africa_transport_plot_75


Africa3 = Africa2.quantile(.25)
Africa_3 = Africa3.to_frame().reset_index()
Africa_3.columns = ['Column', 'Median']
Africa_3
Africa4 = Africa2.quantile(.75)
Africa_4 = Africa4.to_frame().reset_index()
Africa_4.columns = ['Column', 'Median']
Africa_4
Africa2_transport_plot_25 = Africa2_median_df['Median'] - Africa_3['Median']
Africa2_transport_plot_25
Africa2_transport_plot_75 = Africa_4['Median'] - Africa2_median_df['Median']
Africa2_transport_plot_75

0      45.18000
1      49.02500
2      82.98500
3      78.59375
4      86.26625
5      92.75250
6      74.63000
7      71.52625
8      26.50875
9       0.04125
10      0.00000
11      0.00000
12      0.00000
13      0.00000
14      0.00000
15      3.24750
16      0.00000
17      0.00000
18     17.30125
19     28.11875
20      8.10625
21      0.00000
22      0.00000
23      0.00000
24      0.00000
25      0.00000
26          NaN
27      0.00000
28      0.00000
29      0.00000
30      0.00000
31      0.00000
32      0.00000
33      0.00000
34      0.00000
35      0.00000
36      0.00000
37      0.00000
38      0.00000
39      0.01000
40    167.94000
41      2.66000
42    112.37000
43    216.89000
44    539.82000
45    158.76000
46    194.32000
47      0.24000
48    121.51000
49      8.24000
50     39.00000
51      9.23000
52      6.34000
53     37.55000
54    143.71000
55      0.00000
Name: Median, dtype: float64